<template>
  <header>
    <div class="container">
      <a class="navbar-brand" href="/">
        <div class="logo"><img src="../../assets/img/logo2.png" /></div>
      </a>

      <nav
        v-if="userLoggedIn"
        class="navbar navbar-expand-lg navbar-light bg-light"
      >
        <button class="navbar-toggler" type="button">
          <el-dropdown>
            <span class="navbar-toggler-icon"></span>
            <el-dropdown-menu slot="dropdown">
              <ul>
                <li class="nav-item">
                  <router-link to="/">
                    <a class="nav-link" href="">Home</a>
                  </router-link>
                </li>
                <li class="nav-item">
                  <router-link to="/user-dashboard">
                    <a class="nav-link" href="">Dashboard</a>
                  </router-link>
                </li>
                <li class="nav-item">
                  <router-link to="/mentors">
                    <a class="nav-link" href="#">Mentors</a>
                  </router-link>
                </li>
                <li class="nav-item">
                  <router-link to="/events">
                    <a class="nav-link" href="#">Events</a>
                  </router-link>
                </li>
              </ul>
            </el-dropdown-menu>
          </el-dropdown>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <router-link to="/">
                <a class="nav-link" href="">Home</a>
              </router-link>
            </li>
            <li class="nav-item">
              <router-link to="/user-dashboard">
                <a class="nav-link menu" href="">Dashboard</a>
              </router-link>
            </li>
            <li class="nav-item">
              <router-link to="/mentors">
                <a class="nav-link menu" href="#">Mentors</a>
              </router-link>
            </li>
            <li class="nav-item">
              <router-link to="/events">
                <a class="nav-link menu" href="#">Events</a>
              </router-link>
            </li>
            <li class="nav-item">
              <router-link to="/blog">
                <a class="nav-link menu" href="#">Blog</a>
              </router-link>
            </li>
          </ul>
        </div>

        <div class="nav-item" id="account">
          <div class="nav-item dropdown">
            <el-dropdown>
              <a href="#">
                <span class="image"><img :src="user.pic" alt=""/></span>
              </a>
              <el-dropdown-menu slot="dropdown">
                <li class="drop">
                  <i class="far fa-user menu_icon"></i>
                  <b>{{ user.name }}</b>
                  <el-tag :type="getUserTypeTag(user.type)" size="mini">{{
                    user.type
                  }}</el-tag>
                </li>
                <li class="drop">
                  <router-link to="/profile">
                    <i class="far fa-user menu_icon"></i> Profile
                  </router-link>
                </li>
                <li class="drop">
                  <router-link to="/settings">
                    <i class="far fa-user menu_icon"></i> Edit Account
                  </router-link>
                </li>
                <li class="drop" @click="logout">
                  <i class="fas fa-sign-out-alt menu_icon"></i> Logout
                </li>
              </el-dropdown-menu>
            </el-dropdown>
          </div>
        </div>
      </nav>

      <nav v-else class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button">
          <el-dropdown>
            <span class="navbar-toggler-icon"></span>
            <el-dropdown-menu slot="dropdown">
              <ul>
                <li class="nav-item">
                  <router-link to="/">
                    <a class="nav-link" href="">Home</a>
                  </router-link>
                </li>
                <li class="nav-item">
                  <router-link to="/mentors">
                    <a class="nav-link" href="#">Mentors</a>
                  </router-link>
                </li>
                <li
                  class="nav-item active"
                  v-for="(types, index) in user_types"
                  :key="index"
                >
                  <router-link
                    :to="{ name: 'Register', query: { type: types } }"
                  >
                    <a class="nav-link">Register as {{ types }}</a>
                  </router-link>
                </li>
              </ul>
            </el-dropdown-menu>
          </el-dropdown>
        </button>

        <a href="" class="nav-link out">
          <router-link to="/login">
            <span class="login"><i class="fas fa-user"></i></span>
          </router-link>
        </a>

        <div class="collapse navbar-collapse">
          <ul class="navbar-nav">
            <li class="nav-item">
              <router-link to="/">
                <a class="nav-link" href="">Home</a>
              </router-link>
            </li>
            <li class="nav-item">
              <router-link to="/mentors">
                <a class="nav-link" href="#">Mentors</a>
              </router-link>
            </li>
            <li class="nav-item">
              <router-link to="/events">
                <a class="nav-link menu" href="#">Events</a>
              </router-link>
            </li>
            <li class="nav-item">
              <router-link to="/blog">
                <a class="nav-link menu" href="#">Blog</a>
              </router-link>
            </li>
            <li>
              <el-dropdown trigger="click">
                <a class="el-dropdown-link nav-link">
                  Register<i class="el-icon-arrow-down el-icon--right"></i>
                </a>
                <el-dropdown-menu slot="dropdown">
                  <el-dropdown-item
                    v-for="(type, index) in user_types"
                    :key="index"
                    ><router-link
                      :to="{ name: 'Register', query: { type: type } }"
                    >
                      <a class="nav-link register">Register as {{ type }}</a>
                    </router-link></el-dropdown-item
                  >
                </el-dropdown-menu>
              </el-dropdown>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>
</template>

<script>
export default {
  name: 'AuthHeader',
  props: ['user', 'userLoggedIn'],
  data: () => ({
    user_types: ['Mentor', 'Mentee'],
  }),
};
</script>

<style>
.drop {
  font-size: 12px;
  padding: 5px 8px;
  color: darkgrey;
  cursor: pointer;
}
</style>
