<template>
  <section class="footer-section">
    <footer id="myFooter">
      <div class="container">
        <div class="row">
          <div class="col-sm-1">
            <div class="logo_icon">
              <a href=""><img src="../../assets/img/icon.png"></a>
            </div>
          </div>

          <div class="col-sm-4 footer_1">
            <p class="bottom">497 Evergreen Rd. Roseville, CA 95673, UK</p>
            <p><a href="mailto:info@ticketmiller.com">+44 375 673 903</a></p>
            <p>example@mail.com</p>
          </div>

          <div class="col-sm-3 footer_2">
            <ul v-if="userLoggedIn">
              <li><a href="">{{userType}}</a></li>
            </ul>
            <ul v-else>
              <li>
                <router-link to="/login">
                <a class="nav-link" href="">Login</a>
                </router-link>
              </li>
              <li v-for="(types, index) in user_type" :key="index">
                <router-link :to="{name: 'Register', query: {type: types}}">
                  <a class="nav-link" >Register as {{types}}</a>
                </router-link>
              </li>
            </ul>
          </div>
          <div class="col-sm-2 footer_3">
            <ul>
              <li><a href="about.php">About Us</a></li>
              <li><a href="faq.php">FAQ</a></li>
              <li><a href="#">Terms & Conditions</a></li>
              <li><a href="contact.php">Contact Us</a></li>
            </ul>
          </div>
          <div class="col-sm-2 footer_4">
            <ul class="social-networks">
              <li><a href="#"><i class="fab fa-facebook-f"></i>Facebook</a></li>
              <li><a href="#"><i class="fab fa-twitter"></i>Twitter</a></li>
              <li><a href="#"><i class="fab fa-instagram"></i>Instagram</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <footer class="footer-copyright">
      <div class="row">
        <div class="container">
          <p class="text">© 2016 Graduate Turns Professional Academy | All Right Reserved <span class="ref"> Developed by <a href="https://www.dncagency.com/" target="blank">DNC</a></span></p>
        </div>
      </div>
    </footer>
  </section>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'Footer',
  data: () => ({
    user_type: ['Mentor', 'Mentee'],
  }),
  computed: {
    ...mapGetters({
      userType: 'userType',
      userLoggedIn: 'userLoggedIn'
    })
  },
}
</script>