<template>
  <div>
    <section id="hero">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-5">
            <h1 class="hero_text">
              Raising leaders for today and tomorrow
            </h1>
          </div>

          <div class="col-md-6 col-sm-7">
            <div class="hero_image">
              <img src="../../assets/img/hero_img.png" />
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="hero_bottom">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <h1 class="big_title">
              Connecting the inexperienced with the experienced
            </h1>
          </div>

          <div class="col-md-6 col-sm-6">
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s, when an unknown printer took a galley of
              type and scrambled it to make a type specimen book. It has
              survived not only five centuries, but also the leap into
              electronic typesetting, remaining essentially unchanged. It was
              popularised in the 1960s with the release of Letraset sheets
              containing Lorem Ipsum passages, and more recently with desktop
              publishing software like Aldus PageMaker including versions of
              Lorem Ipsum.
            </p>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  name: 'Hero',
};
</script>
