<template>
  <section id="how_it_works">
        <div class="container">
            <div class="section_title">
                <h2>How it works</h2>
            </div>

            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="item">
                        <h3 class="small_title">Register</h3>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.
                        </p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="item">
                        <h3 class="small_title">Get Matched</h3>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.
                        </p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="item">
                        <h3 class="small_title">Connect</h3>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>


<script>
export default {
  name: 'HowItWorks'
}
</script>