<template>
  <section id="purpose">
    <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-6">
              <div class="item">
                  <h3 class="small_title">Register</h3>
                  <p>
                      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.
                  </p>
              </div>

              <div class="item marg">
                  <h3 class="small_title">Register</h3>
                  <p>
                      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.
                  </p>
              </div>
          </div>

          <div class="col-md-6 col-sm-6">
              <div class="image">
                  <img src="">
              </div>
          </div>

          <div class="col-md-3 col-sm-6">
            <div class="item marg">
              <h3 class="small_title">Register</h3>
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.
              </p>
            </div>
          </div>
        </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'Purpose'
}
</script>