<template>
  <section id="subscribe">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-5 align-self-center">
                <div class="wrap">
                  <h2>Subscribe</h2>
                  <p>Get updates on entrepreneurship, workshops, tips and more.</p>
                </div>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Email address" aria-label="Email address" aria-describedby="button-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary" type="button" id="button-addon2">Subscribe</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'Subscribe'
}
</script>