<template>
  <div>
    <section id="big_bottom">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="left">
              <a href="">Mentor</a>
            </div>
            <div class="right">
              <a href="">Mentee</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="testimonial">
      <div class="container">
        <div class="row">
          <div class="testimonial_wrap">
            <h2>Testimonials</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut ero labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
            </p>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  name: 'Testimonials'
}
</script>