<template>
  <div>
    <el-card shadow="hover" :id="bgColor">
      <span>
        <el-button :icon="icon" circle  :type="type" plain />
        <span class="heading">{{title}}</span>
      </span>
      <div class="flex_justify">
        <span class="dash"></span>
        <span class="totalData">{{totalNumber}}</span>
      </div>
    </el-card>
  </div>
</template>

<script>
export default {
  name: "DashbaordCards",
  props: [
    "bgColor", "title", "totalNumber", "icon", "type"
  ]
}
</script>

<style>
  .totalData {
    font-size: 50px;
    font-weight: bold;
  }
  .flex_justify {
    display: flex;
    justify-content: space-between;
  }
  span.heading {
    font-size: 22px;
    margin-left: 20px;
  }
  span.dash {
    border-bottom: 4px solid rgb(216, 247, 237);
    border-radius: 2px;
    width: 50px;
    margin-bottom: 20px;
    opacity: 0.4;
  }
  div.el-card__body {
    padding: 10px 20px 10px 20px;
  }
  #menteesBg {
    border-radius: 15px;
    color: white;
    background: rgb(50,177,245);
    background: linear-gradient(90deg, rgba(50,177,245,1) 30%, rgba(50,209,245,1) 56%);
  }
  #mentorsBg {
    border-radius: 15px;
    color: white;
    background: rgb(48,218,100);
    background: linear-gradient(90deg, rgb(29, 175, 73) 31%, rgb(34, 196, 131) 62%);
  }
  #activeBg {
    border-radius: 15px;
    color: white;
    background: rgb(64,124,231);
    background: linear-gradient(90deg, rgba(64,124,231,1) 36%, rgba(56,106,196,1) 56%);
  }
  #requestsBg {
    border-radius: 15px;
    color: white;
    background: rgb(247,94,131);
    background: linear-gradient(90deg, rgba(247,94,131,1) 36%, rgba(210,91,115,1) 56%);
  }
</style>