<template>
  <div v-loading="loading">
    <div class="mentor_list" v-for="feedback in feedbacks" :key="feedback.id" v-show="feedbackReceived">
      <div class="row">
        <div class="col-md-6">
          <ul>
            <li class="item">
              <a>
                <div class="row">
                  <div class="col-md-5">
                    <span style="float:left; margin-right:10px;">
                      <div class="photo_feedback">
                        <img :src="mentee.pic">
                      </div>
                    </span>
                    <span>
                      <div class="info">
                        <p class="name"><b>{{mentee.name}}</b></p>
                        <p class="title">{{mentee.occupation}}</p>
                      </div>
                    </span>
                  </div>
                  <div class="col-md-2">
                    <div class="photo_arrow">
                      <img src="../../assets/img/arow.png">
                    </div>
                  </div>
                  <div class="col-md-5">
                    <span style="float:left; margin-right:10px;">
                      <div class="photo_feedback">
                        <img :src="feedback.mentor.pic">
                      </div>
                    </span>
                    <span>
                      <div class="info">
                        <p class="name"><b>{{feedback.mentor.name}}</b></p>
                        <p class="title">{{feedback.mentor.occupation}}</p>
                      </div>
                    </span>
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-6">
          <div class="request_details">
            <el-input
              :rows="3"
              clearable
              autosize
              type="textarea"
              placeholder="Provide a feedback for your mentorship journey and let us know how it went."
              v-model="sendFeedbackForm.mentee_feedback">
            </el-input>
            <el-button
              style="float:right; margin-top: 10px;"
              size="mini"
              :disabled="cantSendFeedback"
              icon="el-icon-s-promotion"
              @click="sendFeedback(feedback)"
            > Send Feedback</el-button>
          </div>
        </div>
      </div>
      <hr>
    </div>
    <div class="mentee_request" v-show="!feedbackReceived">
      <div style="text-align:center;">
        <p class="form_head">No Feedbacks yet</p>
        <p>You will receive a feedback form on here to briefly describe your 
          mentorship experience after 14days, once you have an accepted mentorship request.
        </p>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex"
import menteeService from "../../api/mentees"
import feedbackService from "../../api/feedbacks"

export default {
  name: 'feedback',
  data () {
    return {
      feedbackReceived: null,
      loading: true,
      feedbacks: [],
      sendFeedbackForm: {
        id: null,
        mentee_feedback: null,
        sent: 0
      }
    }
  },
  created() {
    this.getFeedbacks()
  },
  computed: {
    ...mapGetters({
      mentee: 'getMentee'
    }),
    cantSendFeedback: function () {
      return this.sendFeedbackForm.mentee_feedback == null || this.sendFeedbackForm.mentee_feedback == ''
    }
  },
  methods: {
    getFeedbacks () {
      menteeService.getMenteeFeedbacks(this.mentee.id)
        .then((response) => {
          let unasweredFeedbacks = response.feedbacks.filter( (fb) => {
            return fb.sent == false
          })
          this.loading = false
          this.feedbacks = unasweredFeedbacks
          this.feedbackReceived = this.feedbacks.length > 0 ? true : false
        })
        .catch(errors => this.errorMessage('Feedback', errors.message))
    },
    sendFeedback (feedback) {
      let bothFeedbacksSent = (feedback.mentee_feedback !== null && feedback.mentor_feedback !== null) ? 1 : 0
      this.sendFeedbackForm.id = feedback.id
      this.sendFeedbackForm.sent = bothFeedbacksSent
      feedbackService.updateFeedback(this.sendFeedbackForm)
        .then(() => {
          this.$alert('Your feedback has been sent to ', 'Feedback Sent', {
            confirmButtonText: 'OK'
          });
          this.getFeedbacks()
          this.sendFeedbackForm.mentee_feedback = null
        })
        .catch(errors => this.errorMessage('Errors', errors.message))
    }
  }
}
</script>