<template>
  <section class="inner_wrap form_wrap profile_wrap">
    <div style="padding:20px; background:#576AE6; margin-top:-20px;">
      <div class="container">
        <h2 style="font-size:20px; color:white; font-weight:bold;">Profile</h2>
        <br />
        <div>
          <el-breadcrumb separator-class="el-icon-arrow-right">
            <el-breadcrumb-item :to="{ path: '/' }">Home</el-breadcrumb-item>
            <el-breadcrumb-item :to="{ path: '/mentors' }"
              >Mentee</el-breadcrumb-item
            >
            <el-breadcrumb-item>User profile</el-breadcrumb-item>
          </el-breadcrumb>
        </div>
      </div>
    </div>
    <div class="container" style="margin-top: 60px;">
      <div class="row" v-if="menteeData == null">
        <div class="col-md-12">
          <p>
            Please Complete your account profile
            <router-link to="/settings">
              <span>here</span>
            </router-link>
          </p>
        </div>
      </div>
      <div class="row" v-else>
        <div class="col-md-4">
          <div class="mentor_list">
            <ul>
              <li class="item">
                <a>
                  <div class="row">
                    <div class="col-md-2 col-sm-2">
                      <div class="photo">
                        <img :src="user.pic" alt="" />
                      </div>
                    </div>
                    <div class="col-md-10 col-sm-10">
                      <div class="info">
                        <p class="name" style="font-size:15px;">
                          {{ user.name }}
                          <el-tag effect="plain" size="mini">Mentee</el-tag>
                        </p>
                        <span style="font-size:12px; font-weight:bold;"
                          ><b>Interests: </b
                          >{{ menteeData.mentorship_areas }}</span
                        ><br />
                        <span style="font-size:12px;"
                          ><b>Occupation:</b> {{ menteeData.occupation }}</span
                        >
                      </div>
                    </div>
                  </div>
                </a>
              </li>
            </ul>
          </div>
          <el-card shadow="always">
            <div>
              <span>Organization</span> <br />
              {{ menteeData.organization }}
            </div>
            <hr />
            <div>
              <span>Date of Birth</span> <br />
              {{ menteeData.age | moment('MMMM Do YYYY') }}
            </div>
            <hr />
            <div>
              <span>Phone Number</span> <br />
              {{ menteeData.phone_number }}
            </div>
            <hr />
            <div>
              <span>Progress</span> <br />
              <el-progress :percentage="79"></el-progress>
            </div>
          </el-card>
          <br />
          <el-card shadow="always">
            <div>
              <span>Notifications</span>
              <el-switch
                style="float:right;"
                v-model="notify"
                @change="browserNotifications"
                active-color="#13ce66"
                inactive-color="#ff4949"
              >
              </el-switch>
            </div>
          </el-card>
          <br />
        </div>
        <div class="col-md-8">
          <el-card shadow="always">
            <el-tabs type="border-card">
              <el-tab-pane label="Professional Background">
                <h2 class="heading">My professional background</h2>
                <span>{{ menteeData.bio }}</span>
                <hr />
                <h2 class="heading">Why i want to be mentored</h2>
                <span>{{ menteeData.why_do_you_want_to_be_mentored }}</span>
                <hr />
                <h2 class="heading">
                  Mentored before:
                  <el-tag
                    size="small"
                    :type="menteeData.mentored_before ? 'success' : 'danger'"
                  >
                    {{ menteeData.mentored_before ? 'Yes' : 'No' }}
                  </el-tag>
                </h2>
                <hr />
                <div v-if="menteeData.mentored_before">
                  <h2 class="heading">Brief details on previous mentorship</h2>
                  <span>{{ menteeData.if_yes_explain }}</span>
                </div>
                <div v-else>
                  <h2 class="heading">
                    Receive mentoring support:
                    <el-tag
                      size="small"
                      :type="menteeData.field_mentored ? 'success' : 'danger'"
                    >
                      {{ menteeData.field_mentored ? 'Yes' : 'No' }}
                    </el-tag>
                  </h2>
                </div>
              </el-tab-pane>
              <el-tab-pane label="Experience and work">
                <el-card>
                  <h2 class="heading">Basic Information</h2>
                  <hr />
                  <span
                    ><span class="bold">Country:</span>
                    {{ menteeData.country }}</span
                  >
                  <br />
                  <span
                    ><span class="bold">City:</span> {{ menteeData.city }}</span
                  >
                  <br />
                  <span
                    ><span class="bold">Address:</span>
                    {{ menteeData.address }}</span
                  >
                  <br />
                  <span
                    ><span class="bold">State:</span>
                    {{ menteeData.state }}</span
                  >
                  <br />
                  <span
                    ><span class="bold">Post Code:</span>
                    {{ menteeData.postCode }}</span
                  >
                  <br />
                  <hr />
                  <h2 class="heading">Education/Work Information</h2>
                  <hr />
                  <span
                    ><span class="bold">Education/School:</span>
                    {{ menteeData.education }}</span
                  >
                  <br />
                  <span
                    ><span class="bold">Qualification:</span>
                    {{ menteeData.qualification }}</span
                  >
                  <br />
                  <span
                    ><span class="bold">Graduated:</span>
                    <el-tag
                      size="small"
                      :type="menteeData.graduated ? 'success' : 'danger'"
                    >
                      {{ menteeData.graduated ? 'Yes' : 'No' }}
                    </el-tag>
                  </span>
                  <br />
                  <span
                    ><span class="bold">Year of Completion:</span>
                    {{ menteeData.year_completed }}</span
                  ><br />
                  <span
                    ><span class="bold">Occupation:</span>
                    {{ menteeData.occupation }}</span
                  ><br />
                  <span
                    ><span class="bold">Organization/Company:</span>
                    {{ menteeData.organization }}</span
                  >
                  <hr />
                </el-card>
              </el-tab-pane>
            </el-tabs>
          </el-card>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import Vue from 'vue';
import { mapGetters } from 'vuex';

Vue.use(require('vue-moment'));

export default {
  name: 'mentorProfile',
  data: () => ({
    menteeData: null,
    notify: false,
  }),
  created() {
    this.getMenteeData();
  },
  computed: {
    ...mapGetters({
      user: 'getUser',
      mentee: 'getMentee',
    }),
  },
  methods: {
    getMenteeData() {
      if (this.mentee != null) {
        this.menteeData = this.mentee;
      } else {
        this.menteeData = null;
      }
    },
    browserNotifications() {
      alert('Get Browser Notifications');
    },
  },
};
</script>

<style>
.col-sm-12 {
  margin-bottom: 20px;
}
h2.heading {
  font-size: 16px;
  font-weight: bold;
}
.bold {
  font-weight: bold;
}
</style>
