<template>
  <div class="mentee_mentors">
    <div v-if="requestNumber > 0">
      <div class="mentor_list" v-for="request in requests" :key="request.id">
        <div class="row" v-if="request.status == 'PENDING'">
          <div class="col-md-6">
            <ul>
              <li class="item">
                <a>
                  <div class="row">
                    <div class="col col-sm-2">
                      <div class="photo_request">
                        <img :src="request.mentor.pic">
                      </div>
                    </div>
                    <div class="col col-8 col-sm-6">
                      <div class="info">
                        <p class="name">{{request.mentor.name}} 
                          <el-tag effect="plain" size="mini">Mentor</el-tag>
                        </p>
                        <p class="title">Occupation: <b>{{request.mentor.occupation}}</b></p>
                        <p class="title">{{request.mentor.mentorship_areas}}</p>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="options">
                        <el-tooltip content="Cancel Request" placement="top">
                          <el-button 
                            type="danger" 
                            icon="el-icon-close" 
                            circle size="mini" 
                            @click.prevent="showRejectReason(request.id)"
                            />
                        </el-tooltip>
                      </div>
                    </div>
                  </div>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-6">
            <div class="request_details">
              <p class="name">Commencement date: <span>{{request.commencement_date}}</span></p>
              <p class="name">Duration: <span>{{request.duration}}</span></p>
              <el-popover
                placement="top-start"
                title="Message"
                width="200"
                trigger="hover"
                :content="request.description">
                <el-button slot="reference" icon="el-icon-view" size="mini" type="text">Description</el-button>
              </el-popover>
            </div>
          </div>
        </div>
        <div v-else>
          <h3>You have no PENDING requests</h3>
        </div>
      </div>
    </div>
    <div v-else>
      <div style="text-align:center; margin-top: 20px;">
        <h3>You have no requests</h3>
        <router-link to="/mentors">
          <el-button plain>Search for Available Mentors</el-button>
        </router-link>
      </div>
    </div>

    <!-- Reject Reason -->
    <el-dialog
      :visible.sync="showRejectReasonModal"
      title="Reject"
      width="30%">
      <el-input
        type="textarea"
        :rows="3"
        required="required"
        placeholder="Reasons you are rejecting request"
        v-model="rejectForm.reasons_for_reject">
      </el-input>
      <br><br>

      <el-button 
        type="primary" 
        :loading="loading"
        @click="rejectRequest()" 
        size="mini">
        Send
      </el-button>

    </el-dialog>
  </div>
</template>

<script>
import {mapGetters} from 'vuex'
import requestService from "../../api/requests"

export default {
  name: "MenteeUserRequests",
  data () {
    return {
      requests: [],
      loading: false,
      showRejectReasonModal: false,
      requestStatus: {
        id: null,
        status: ''
      },
      rejectForm: {
        id: null,
        status: 'REJECT',
        reasons_for_reject: ''
      }
    }
  },
  computed: {
    ...mapGetters({
      mentee: 'getMentee',
      requestNumber: 'requestNumber',
      userRequests: 'getUserRequests'
    }),
  },
  created () {
    this.requests = this.userRequests
  },
  watch: {
    userRequests: function (v) {
      this.requests = v
    }
  },
  methods: {
    showRejectReason (id) {
      this.rejectForm.id = id
      this.showRejectReasonModal = true
    },
    rejectRequest () {
      this.loading = true
      requestService.updateRequest(this.rejectForm)
        .then(() => {
          this.loading = false
          this.$store.dispatch('setUserRequest', this.mentee.id)
          this.successMessage('success', 'Request rejected successfuly')
        })
        .catch((error) => this.errorMessage('error', error))
    }
  }
};
</script>
