<template>
  <div>
    <div v-if="menteeRequestHistory.length > 0" class="mentor_list">
      <div class="row">
        <div class="col-md-3" v-for="(history, index) in menteeRequestHistory" :key="index">
          <div class="mentor_list">
            <ul>
              <li class="item">
                <a>
                  <div class="row">
                    <div class="col-md-4 col-sm-2">
                      <div class="photo_mentor">
                        <img :src="history.mentor.pic" alt="">
                      </div>
                    </div>
                    <div class="col-md-8 col-sm-10">
                      <div class="info">
                        <p class="name" style="font-size:18px;">{{history.mentor.name}}</p>
                        <span style="font-size:12px;">Country: <b>{{history.mentor.country}}</b></span><br>
                        <span style="font-size:12px;">Expertise: <b>{{history.mentor.expertise}}</b></span> <br>
                      </div>
                      <hr>
                    </div>
                  </div>
                </a>
                <div>
                  <span style="font-size:12px;">Last Actve: {{history.mentor.updated_at | moment("from","now")}}</span>
                  <el-row type="flex" justify="space-between">
                    <el-button
                      size="mini" type="text"
                      :loading="(history.status == 'PENDING') ? true : false">
                        {{history.status}}
                    </el-button>
                    <el-button 
                      size="mini" 
                      type="text" 
                      v-if="history.status == 'ACCEPTED'"
                      @click="sendUserMessage(history.mentor.user_id)"
                    >
                      Message
                    </el-button>
                  </el-row>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="mentee_get" v-else>
      <p>
        You have no charles History yet.<br />All users you have mentored will
        appear here once you succefully complete a mentorship program.
      </p>
      <div class="form-group">
        <router-link :to="{ name: 'user request' }">
          <button type="button" class="btn btn-primary red_btn">
            See Available Requests
          </button>
        </router-link>
      </div>
    </div>
    
  </div>
</template>

<script>
import Vue from "vue"
import {mapGetters} from 'vuex'
import menteeService from "../../api/mentees"

Vue.use(require('vue-moment'))

export default {
  name: "MenteeMentorHistory",
  data() {
    return {
      menteeRequestHistory: []
    };
  },
  created () {
    this.getMenteeRequest()
  },
  computed: {
    ...mapGetters({
      mentee: 'getMentee',
    }),
  },
  methods: {
    getMenteeRequest () {
      menteeService.getMenteeRequest(this.mentee.id)
      .then((response) => {
        this.menteeRequestHistory = response.requests
      })
      .catch(errors => this.errorMessage('error', errors))
    },
    sendUserMessage (userId) {
      this.$store.dispatch('setSelectedChatContacts', userId)
      let userInfo = {
        'id': userId
      }
      this.$store.dispatch('setUserConversations', userInfo).then(() => {
        this.$store.dispatch('setReceiverID', userId)
        this.$router.push('/user-dashboard/messages')
      }).catch((errors) => this.errorMessage('Errors', errors))
    }
  }
};
</script>
