<template>
  <section class="inner_wrap form_wrap profile_wrap">
    <div style="padding:20px; background:#576AE6; margin-top:-20px;">
      <div class="container">
        <h2 style="font-size:20px; color:white; font-weight:bold;">Profile</h2>
        <br />
        <div>
          <el-breadcrumb separator-class="el-icon-arrow-right">
            <el-breadcrumb-item :to="{ path: '/' }">Home</el-breadcrumb-item>
            <el-breadcrumb-item :to="{ path: '/mentors' }"
              >Mentor</el-breadcrumb-item
            >
            <el-breadcrumb-item>User profile</el-breadcrumb-item>
          </el-breadcrumb>
        </div>
      </div>
    </div>
    <div class="container" style="margin-top: 60px;">
      <div class="row" v-if="mentorData == null">
        <div class="col-md-12">
          <p>
            Please Complete your account profile
            <router-link to="/settings">
              <span>here</span>
            </router-link>
          </p>
        </div>
      </div>
      <div class="row" v-else>
        <div class="col-md-4">
          <div class="mentor_list">
            <ul>
              <li class="item">
                <a>
                  <div class="row">
                    <div class="col-md-2 col-sm-2">
                      <div class="photo">
                        <img :src="user.pic" alt="" />
                      </div>
                    </div>
                    <div class="col-md-10 col-sm-10">
                      <div class="info">
                        <p class="name" style="font-size:15px;">
                          {{ user.name }}
                          <el-tag effect="plain" size="mini">Mentor</el-tag>
                        </p>
                        <span style="font-size:12px;"
                          ><b>Interests:</b>
                          {{ mentorData.mentorship_areas }}</span
                        ><br />
                        <span style="font-size:12px;">
                          <b>Occupation:</b> {{ mentorData.occupation }}</span
                        >
                      </div>
                    </div>
                  </div>
                </a>
              </li>
            </ul>
          </div>
          <el-card shadow="always">
            <div>
              <span>Organization</span> <br />
              {{ mentorData.organization }}
            </div>
            <hr />
            <div>
              <span>Date of Birth</span> <br />
              {{ mentorData.age | moment('MMMM Do YYYY') }}
            </div>
            <hr />
            <div>
              <span>Phone Number</span> <br />
              {{ mentorData.phone_number }}
            </div>
            <hr />
            <div>
              <span>Progress</span> <br />
              <el-progress :percentage="90"></el-progress>
            </div>
          </el-card>
          <br />
          <el-card shadow="always">
            <div>
              <span>Notifications</span>
              <el-switch
                style="float:right;"
                v-model="notify"
                @change="browserNotifications"
                active-color="#13ce66"
                inactive-color="#ff4949"
              >
              </el-switch>
            </div>
          </el-card>
          <br />
        </div>
        <div class="col-md-8">
          <el-card shadow="always">
            <el-tabs type="border-card">
              <el-tab-pane label="Professional Background">
                <h2 class="heading">My professional background</h2>
                <span>{{ mentorData.bio }}</span>
                <hr />
                <h2 class="heading">Why i want to mentor you</h2>
                <span>{{ mentorData.why_do_you_want_to_mentor }}</span>
                <hr />
                <h2 class="heading">
                  Mentored before:
                  <el-tag
                    size="small"
                    :type="mentorData.mentored_before ? 'success' : 'danger'"
                  >
                    {{ mentorData.mentored_before ? 'Yes' : 'No' }}
                  </el-tag>
                </h2>
                <hr />
                <div v-if="mentorData.mentored_before">
                  <h2 class="heading">Brief details on previous mentorship</h2>
                  <span>{{ mentorData.if_yes_explain }}</span>
                </div>
                <div v-else>
                  <h2 class="heading">
                    Receive mentoring support:
                    <el-tag
                      size="small"
                      :type="
                        mentorData.support_on_how_to_mentor
                          ? 'success'
                          : 'danger'
                      "
                    >
                      {{ mentorData.support_on_how_to_mentor ? 'Yes' : 'No' }}
                    </el-tag>
                  </h2>
                </div>
              </el-tab-pane>
              <el-tab-pane label="Experience and work">
                <el-card>
                  <h2 class="heading">Basic Information</h2>
                  <hr />
                  <span
                    ><span class="bold">Country:</span>
                    {{ mentorData.country }}</span
                  >
                  <br />
                  <span
                    ><span class="bold">City:</span> {{ mentorData.city }}</span
                  >
                  <br />
                  <span
                    ><span class="bold">Address:</span>
                    {{ mentorData.address }}</span
                  >
                  <br />
                  <span
                    ><span class="bold">State:</span>
                    {{ mentorData.state }}</span
                  >
                  <br />
                  <span
                    ><span class="bold">Post Code:</span>
                    {{ mentorData.postCode }}</span
                  >
                  <br />
                  <hr />
                  <h2 class="heading">Work Information</h2>
                  <hr />
                  <span
                    ><span class="bold">Industry:</span>
                    {{ mentorData.industry }}</span
                  >
                  <br />
                  <span
                    ><span class="bold">Job title:</span>
                    {{ mentorData.occupation }}</span
                  >
                  <br />
                  <span
                    ><span class="bold">Company:</span>
                    {{ mentorData.organization }}</span
                  >
                  <br />
                  <span
                    ><span class="bold">Years of experince:</span>
                    {{ mentorData.years_of_exp }} years</span
                  ><br />
                  <span
                    ><span class="bold">Expertise:</span>
                    {{ mentorData.expertise }}</span
                  >
                  <br />
                </el-card>
              </el-tab-pane>
            </el-tabs>
          </el-card>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import Vue from 'vue';
import { mapGetters } from 'vuex';

Vue.use(require('vue-moment'));

export default {
  name: 'mentorProfile',
  data: () => ({
    updateUserPic: {
      id: '',
      pic: '',
    },
    mentorData: null,
    notify: false,
  }),
  created() {
    this.getMentor();
  },
  computed: {
    ...mapGetters({
      user: 'getUser',
      mentor: 'getMentor',
    }),
  },
  methods: {
    getMentor() {
      if (this.mentor != null) {
        this.mentorData = this.mentor;
      } else {
        this.mentorData = null;
      }
    },
    browserNotifications() {
      alert('Get Browser Notifications');
    },
  },
};
</script>

<style>
.col-sm-12 {
  margin-bottom: 20px;
}
h2.heading {
  font-size: 16px;
  font-weight: bold;
}
.bold {
  font-weight: bold;
}
</style>
