<template>
  <div v-loading="loading">
    <div class="mentee_get" v-if="mentorRequestHistory.length == 0">
      <p>
        You have no mentee history yet.<br />All users you have mentored will
        appear here once you succefully complete a mentorship program.
      </p>
      <div class="form-group">
        <router-link :to="{ name: 'user request' }">
          <button type="button" class="btn btn-primary red_btn">
            See Available Requests
          </button>
        </router-link>
      </div>
    </div>
    <div v-else class="mentor_list">
      <div class="row">
        <div class="col-md-3" v-for="(history, index) in mentorRequestHistory" :key="index">
          <div class="mentor_list">
            <ul>
              <li class="item">
                <a>
                  <div class="row">
                    <div class="col-md-4 col-sm-3">
                      <div class="photo_mentor">
                        <img :src="history.mentee.pic" alt="">
                      </div>
                    </div>
                    <div class="col-md-8 col-sm-9">
                      <div class="info">
                        <p class="name" style="font-size:18px;">{{history.mentee.name}}</p>
                        <span style="font-size:12px;">Country: <b>{{history.mentee.country}}</b></span><br>
                        <span style="font-size:12px;">Expertise: <b>{{history.mentee.expertise}}</b></span> <br>
                      </div>
                      <hr>
                    </div>
                  </div>
                </a>
                <div>
                  <span style="font-size:12px;">Last Actve: {{history.mentee.updated_at | moment("from","now")}}</span>
                  <el-row type="flex" justify="space-between">
                    <el-button
                      size="mini" type="text"
                      :loading="(history.status == 'PENDING') ? true : false">
                        {{history.status}}
                    </el-button>
                    <el-button 
                      size="mini"
                      type="text" 
                      v-if="history.status == 'ACCEPTED'"
                      @click="sendUserMessage(history.mentee.user_id)"
                    >
                      Message
                    </el-button>
                  </el-row>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from "vue"
import {mapGetters} from "vuex"
import mentorService from "../../api/mentors"

Vue.use(require('vue-moment'))

export default {
  name: "MentorMenteeHistory",
  data() {
    return {
      mentorRequestHistory: [],
      loading: true
    };
  },
  created () {
    this.getMentorRequest()
  },
  computed: {
    ...mapGetters({
      mentor: 'getMentor',
    }),
  },
  methods: {
    getMentorRequest () {
      mentorService.getMentorRequest(this.mentor.id)
      .then((response) => {
        this.loading = false
        this.mentorRequestHistory = response.requests
      })
      .catch((errors) => {
        this.loading = false
        this.errorMessage('Error', errors.message)
      })
    },
    sendUserMessage (userId) {
      this.$store.dispatch('setSelectedChatContacts', userId)
      let userInfo = {
        'id': userId
      }
      this.$store.dispatch('setUserConversations', userInfo).then(() => {
        this.$store.dispatch('setReceiverID', userId)
        this.$router.push('/user-dashboard/messages')
      }).catch((errors) => this.errorMessage('Errors', errors))
    }
  }
};
</script>
