<template>
  <section class="inner_wrap form_wrap profile_wrap">
    <div style="padding:20px; background:rgb(72, 90, 252); margin-top:-20px;">
      <div class="container">
        <h1 style="font-size:20px; color:white; font-weight:bold;">Complete Your Account to set up your profile</h1>
        <p style="font-size:18px; color:white;">
          Please complete this form to assist us in matching you to an appropriate
          mentee.
        </p>
      </div>
    </div>
    <div class="container" style="margin-top:30px;">

      <el-form
        style="margin-top: -12px;"
        :model="userCredentials"
        :rules="rules"
        ref="userCredentials">
        <div class="row" style="text-align:left;">
          <div class="col-md-6">
            <el-card shadow="always">
              <h1 class="form-header">Personal Details</h1>
              <hr />
              <div class="row">
                <div class="col-md-3">
                  <el-form-item prop="title">
                    <template v-slot:label>Title</template>
                    <el-select
                      v-model="userCredentials.title"
                      style="width:100%; margin-top:-12px"
                    >
                      <el-option label="Mr." value="Mr."></el-option>
                      <el-option label="Mrs." value="Mrs."></el-option>
                      <el-option label="Miss." value="Miss."></el-option>
                      <el-option label="Sir." value="Sir."></el-option>
                    </el-select>
                  </el-form-item>
                </div>
                <div class="col-md-4">
                  <el-form-item prop="firstName">
                    <template v-slot:label>First Name</template>
                    <el-input
                      id="mt-10"
                      v-model="userCredentials.firstName"
                      auto-complete="off"
                      placeholder="Please enter first name"
                    ></el-input>
                  </el-form-item>
                </div>

                <div class="col-md-5">
                  <el-form-item prop="lastName">
                    <template v-slot:label>Last Name</template>
                    <el-input
                      id="mt-10"
                      v-model="userCredentials.lastName"
                      auto-complete="off"
                      placeholder="Please enter last name"
                    ></el-input>
                  </el-form-item>
                </div>
              </div>
              <div class="row" id="mt-10">
                <div class="col-md-6">
                  <el-form-item prop="phone_number">
                    <template v-slot:label>Phone</template>
                    <el-input
                      id="mt-10"
                      v-model="userCredentials.phone_number"
                      auto-complete="off"
                      placeholder="+443-234-11511"
                    ></el-input>
                  </el-form-item>
                </div>
                <div class="col-md-6">
                  <el-form-item prop="email">
                    <template v-slot:label>Email</template>
                    <el-input
                      id="mt-10"
                      v-model="userCredentials.email"
                      auto-complete="off"
                      placeholder="youremail@mail.com"
                    ></el-input>
                  </el-form-item>
                </div>
              </div>
              <br><br>
              <div class="row" id="mt-15">
                <div class="col-md-4">
                  <el-form-item prop="age">
                    <template v-slot:label>Date of Birth</template>
                    <el-date-picker
                      type="date"
                      placeholder="Date of birth"
                      style="width: 100%; margin-top:-12px"
                      v-model="userCredentials.age"
                    >
                    </el-date-picker>
                  </el-form-item>
                </div>
                <div class="col-md-5 col-sm-12">
                  <el-form-item prop="country">
                    <template v-slot:label>Country</template>
                    <el-select
                      v-model="userCredentials.country"
                      filterable
                      placeholder="Select country"
                      style="width: 100%; margin-top:-12px"
                    >
                      <el-option
                        v-for="item in countries"
                        :key="item.code"
                        :label="item.name"
                        :value="item.name"
                      >
                      </el-option>
                    </el-select>
                  </el-form-item>
                </div>
                <div class="col-md-3">
                  <el-form-item prop="postCode">
                    <template v-slot:label>Post code</template>
                    <el-input
                      id="mt-10"
                      v-model="userCredentials.postCode"
                      auto-complete="off"
                      placeholder="0235A"
                    ></el-input>
                  </el-form-item>
                </div>
              </div>

              <div class="row" id="mt-10">
                <div class="col-md-5">
                  <el-form-item>
                    <template v-slot:label>Address</template>
                    <el-input
                      id="mt-10"
                      type="textarea"
                      :rows="2"
                      v-model="userCredentials.address"
                      placeholder="Bristol, 123AX"
                    >
                    </el-input>
                  </el-form-item>
                </div>
                <div class="col-md-4 col-sm-12">
                  <el-form-item prop="city">
                    <template v-slot:label>City</template>
                    <el-input
                      id="mt-10"
                      v-model="userCredentials.city"
                      auto-complete="off"
                      placeholder="Bristol"
                    ></el-input>
                  </el-form-item>
                </div>
                <div class="col-md-3 col-sm-12">
                  <label>State</label>
                  <el-input
                    v-model="userCredentials.state"
                    auto-complete="off"
                    placeholder="Lancashire"
                  ></el-input>
                </div>
              </div>
              <br><br>
              <div class="row" id="mt-15">
                <div class="col-md-12">
                  <el-form-item prop="source">
                    <template v-slot:label>
                      How did you hear about our mentoring program?
                    </template>
                    <el-select
                      allow-create
                      filterable
                      clearable
                      default-first-option
                      v-model="userCredentials.source"
                      style="width:100%; margin-top:-12px"
                    >
                      <el-option v-for="source in mentorSources" 
                        :key="source" 
                        :label="source" 
                        :value="source">
                      </el-option>
                    </el-select>
                  </el-form-item>
                </div>
                <div class="col-md-12">
                  <el-form-item prop="mentored_before">
                    <template v-slot:label>Have you mentored before?</template>
                    <el-radio-group 
                      size="mini"
                      v-model="userCredentials.mentored_before">
                      <el-radio border :label="1">Yes</el-radio>
                      <el-radio border :label="0">No</el-radio>
                    </el-radio-group>
                  </el-form-item>
                </div>
              </div>
              <div class="form-group row" v-if="mentoredBefore">
                <div class="col-md-12">
                  <label>if yes, provide brief details</label>
                  <div class="col-sm-12">
                    <el-input
                      type="textarea"
                      autosize
                      :rows="2"
                      placeholder="Tell us how you went about your mentorship"
                      v-model="userCredentials.if_yes_explain"
                    >
                    </el-input>
                  </div>
                </div>
              </div>
              <div class="form-group row" v-else>
                <div class="col-md-12">
                  <label>if no, would you like support on how to mentor?</label>
                  <div class="col-sm-12">
                    <el-radio-group
                      size="mini"
                      v-model="userCredentials.support_on_how_to_mentor">
                      <el-radio border :label="1">Yes</el-radio>
                      <el-radio border :label="0">No</el-radio>
                    </el-radio-group>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-12">
                  <label>Update profile picture</label>
                  <div class="upload_wrap col-sm-12">
                    <input type="file" class="form-control-file" @change="getUserImage" />
                  </div>
                </div>
              </div>
            </el-card>
          </div>
          <div class="col-md-6">
            <el-card shadow="always">
              <h1 class="form-header">Professional Background</h1>
              <hr>
              <div class="row">
                  <div class="col-md-6">
                    <el-form-item prop="industry">
                      <template v-slot:label>Professions / Industry</template>
                      <el-select
                        filterable
                        clearable
                        v-model="userCredentials.industry"
                        style="width:100%; margin-top:-12px"
                      >
                      <el-option v-for="pro in professions" 
                        :key="pro" 
                        :label="pro" 
                        :value="pro">
                      </el-option>
                    </el-select>
                    </el-form-item>
                  </div>
                  <div class="col-md-6">
                    <el-form-item prop="occupation">
                      <template v-slot:label>Position</template>
                      <el-input
                        id="mt-10"
                        v-model="userCredentials.occupation"
                        auto-complete="off"
                        placeholder="Occupation or Job"
                      ></el-input>
                    </el-form-item>
                  </div>
              </div>
              <div class="row" id="mt-10">
                <div class="col-md-6">
                  <el-form-item prop="years_of_exp">
                    <template v-slot:label>Years of Experience</template>
                    <el-input-number
                      id="mt-10"
                      v-model="userCredentials.years_of_exp" 
                      :step="1">
                    </el-input-number>
                  </el-form-item>
                </div>
                <div class="col-md-6">
                  <el-form-item prop="expertise">
                    <template v-slot:label>Area of Expertise</template>
                    <el-input
                      id="mt-10"
                      v-model="userCredentials.expertise"
                      auto-complete="off"
                      placeholder="Software"
                    ></el-input>
                  </el-form-item>
                </div>
              </div>
              <div class="row">
                  <div class="col-md-7">
                    <label>Company</label>
                    <el-input
                      v-model="userCredentials.organization"
                      auto-complete="off"
                      placeholder="Please enter name"
                    ></el-input>
                  </div>
              </div>
            </el-card>

            <el-card>
              <h1 class="form-header">Interest and Values</h1>
              <hr>
              <div class="row">
                <div class="col-md-12">
                  <el-form-item prop="bio">
                    <template v-slot:label>Summary of who you are, interest and personal values</template>
                    <el-input
                      id="mt-10"
                      type="textarea"
                      :rows="4"
                      placeholder="Bio"
                      v-model="userCredentials.bio"
                    >
                    </el-input>
                  </el-form-item>
                </div>
                <div class="col-md-12">
                  <el-form-item prop="why_do_you_want_to_mentor">
                    <template v-slot:label>Why do you want to be a Mentor?</template>
                    <el-input
                      id="mt-10"
                      type="textarea"
                      :rows="3"
                      placeholder=""
                      v-model="userCredentials.why_do_you_want_to_mentor"
                    >
                    </el-input>
                  </el-form-item>
                </div>
                
                <div class="col-md-12">
                  <el-form-item prop="mentorship_areas">
                    <template v-slot:label>Which specific area or areas can you provide mentoring in?</template>
                    <el-select
                      v-model="userCredentials.mentorship_areas"
                      placeholder="Select"
                      style="width: 100%; margin-top: -10px"
                    >
                      <el-option
                        v-for="item in mentorshipOptions"
                        :key="item"
                        :label="item"
                        :value="item"
                      >
                      </el-option>
                    </el-select>
                  </el-form-item>
                </div>
              </div>
            </el-card>
          </div>
        </div>
        <br>
        <div class="row" v-if="mentor == null">
          <div class="col-md-12">
            <el-card>
              <h1 class="form-header">Mentor's Declaration</h1> <br>
              <el-collapse accordion>
                <el-collapse-item name="1">
                  <template slot="title">
                    <i class="header-icon el-icon-info"></i> <b>Please tick to acknowledge you have read and agree to abide by each of the following</b>
                  </template>
                  <div>
                    <p>
                      <span id="bullets"></span>
                      I agree to respond to all correspondence sent to me in a timely fashion.</p>
                    <p>I agree to complete and return evaluation questionnaires when requested to do so.</p>
                    <p>I accept that I have a responsibility to keep in regular contact with my mentee, e.g. by phone/text/email or via our agreed channel of communication. </p>
                    <p>If, for whatever reason, my mentee miss a meeting, I accept that I have a responsibility to pursue contact with him or her up to a maximum three attempts.</p>
                    <p>I accept that I need to keep the management of Graduate Turns Professional informed of developments such as, difficulty or breakdown in the mentoring process as quickly as possible.</p>
                    <p>I agree to keep the management of Graduate Turns Professional updated with how the mentoring relationship is going every six weeks during the mentoring relationship if not earlier.</p>
                    <p>
                      I agree to keep the confidentiality between my mentee and the management of Graduate Turns Professional in all instances other than;
                      <ul>
                        <li>Where concerns regarding the health or safety of mentee or a third party necessitate disclosure.</li>
                        <li>Where either party has grounds to believe there is a child or adult protection issue which required.</li>
                        <li>In case of serious professional misconduct or criminal act by mentor or mentee which comes to light in the mentoring relationship.</li>
                        <li>If required by a court of law or the police.</li>
                      </ul>
                    </p>
                    <el-checkbox v-model="checked">I certify that my answers are true and complete to the best of my knowledge.</el-checkbox>
                  </div>
                </el-collapse-item>
              </el-collapse>
            </el-card>
          </div>
        </div>
        <el-form-item>
          <el-button
            style="width:100%"
            type="primary" 
            size="medium"
            :loading="loading" 
            @click="profileUpdate()">Update profile
          </el-button>
        </el-form-item>
      </el-form>
    </div>
  </section>
</template>

<script>
import { mapGetters } from "vuex";

import userService from "../../api/users";
import mentorService from "../../api/mentors";

export default {
  name: "MentorAccount",
  data() {
    return {
      userCredentials: {
        id: null,
        user_id: null,
        occupation: "",
        organization: "",
        industry: "",
        years_of_exp: "",
        expertise: "",
        state: "",
        postCode: "",
        title: "",
        name: "",
        source: "",
        support_on_how_to_mentor: 0,
        mentorship_areas: [],
        mentored_before: 0,
        if_yes_explain: "",
        why_do_you_want_to_mentor: "",
        bio: "",
        age: "",
        country: "",
        city: "",
        phone_number: "",
        address: "",
        lastName: "",
        firstName: "",
        email: "",
        pic: ""
      },
      updateUserPic: {
        id: "",
        pic: ""
      },
      dialogVisible: true,
      closeModal: false,
      checked: false,
      mentorSources: ["Facebook", "Friend", "Instagram", "Conference", "GTPA website"],
      professions: [
        "Accountancy, banking and finance", 
        "Business, consulting and management.", 
        "Charity", 
        "Creative Arts and design", 
        "Energy and utilities",
        "Engineering and Manufacturing",
        "Environment and Agriculture",
        "Healthcare",
        "Hospitality and events Management",
        "Law",
        "Information Technology",
        "Marketing, Advertising and PR",
        "Architecture, Property and Construction"
      ],
      mentorshipOptions: [
        "Leadership skills", 
        "Confidence skills", 
        "Public speaking/presentation skills", 
        "Life/work balance", 
        "Becoming a better manager/working with teams",
        "Career trajectories/next steps/5-year plans", 
        "People skills",
        "Project Management"
      ],
      rules: {
        firstName: [
          { required: true, message: "Please input first name", trigger: "blur" }
        ],
        lastName: [
          { required: true, message: "Please input last name", trigger: "blur" }
        ],
        title: [
          { required: true, message: "Title is required", trigger: "blur" }
        ],
        phone_number: [
          { required: true, message: "Number is required", trigger: "blur" }
        ],
        email: [
          { required: true, message: "Email is required", trigger: "blur" }
        ],
        age: [
          { required: true, message: "Age is required", trigger: "blur" }
        ],
        country: [
          { required: true, message: "Country is required", trigger: "blur" }
        ],
        city: [
          { required: true, message: "City is required", trigger: "blur" }
        ],
        mentored_before: [
          { required: true, message: "Field is required", trigger: "blur" }
        ],
        source: [
          { required: true, message: "Field is required", trigger: "blur" }
        ],
        occupation: [
          { required: true, message: "Ocupation is required", trigger: "blur" }
        ],
        industry: [
          { required: true, message: "Industry is required", trigger: "blur" }
        ],
        expertise: [
          { required: true, message: "Expertise is required", trigger: "blur" }
        ],
        years_of_exp: [
          { required: true, message: "Experince is required", trigger: "blur" }
        ],
        mentorship_areas: [
          { required: true, message: "Select mentorship areas", trigger: "blur" }
        ],
        bio: [
          { required: true, message: "Biography is required", trigger: "blur" }
        ]
      },
      loading: false
    };
  },
  computed: {
    ...mapGetters({
      user: "getUser",
      mentor: "getMentor",
      countries: "getCountries",
    }),
    mentoredBefore: function() {
      return this.userCredentials.mentored_before == 1
    }
  },
  created() {
    this.setMentorFileds()
  },
  methods: {
    setMentorFileds () {
      if (this.mentor !== null) {
        this.userCredentials.id = this.mentor.id
        this.userCredentials.name = this.user.name
        this.userCredentials.user_id = this.mentor.user_id;
        this.userCredentials.email = this.user.email
        this.userCredentials.pic = this.user.pic
        this.userCredentials.firstName = this.mentor.firstName
        this.userCredentials.lastName = this.mentor.lastName
        this.userCredentials.address = this.mentor.address
        this.userCredentials.country = this.mentor.country
        this.userCredentials.postCode = this.mentor.postCode
        this.userCredentials.state = this.mentor.state
        this.userCredentials.bio = this.mentor.bio
        this.userCredentials.organization = this.mentor.organization
        this.userCredentials.why_do_you_want_to_mentor = this.mentor.why_do_you_want_to_mentor
        this.userCredentials.city = this.mentor.city
        this.userCredentials.industry = this.mentor.industry
        this.userCredentials.years_of_exp = this.mentor.years_of_exp
        this.userCredentials.expertise = this.mentor.expertise
        this.userCredentials.title = this.mentor.title
        this.userCredentials.mentorship_areas = this.mentor.mentorship_areas
        this.userCredentials.mentored_before = (this.mentor.mentored_before) ? 1 : 0
        this.userCredentials.support_on_how_to_mentor = (this.mentor.support_on_how_to_mentor) ? 1 : 0
        this.userCredentials.source = this.mentor.source
        this.userCredentials.phone_number = this.mentor.phone_number
        this.userCredentials.age = this.mentor.age
        this.userCredentials.if_yes_explain = this.mentor.if_yes_explain
        this.userCredentials.occupation = this.mentor.occupation
      } else {
        this.userCredentials.name = this.user.name;
        this.userCredentials.user_id = this.user.id;
        this.userCredentials.email = this.user.email
        this.userCredentials.pic = this.user.pic
      }
    },
    getUserImage(e) {
      let file = e.target.files[0];
      let reader = new FileReader();
      reader.readAsDataURL(file);
      if (file["size"] < 2111775) {
        reader.onloadend = file => {
          console.log(file)
          this.updateUserImage(reader.result);
        };
      } else {
        this.$alert("Use images less than 2megabyte", "Error", {
          confirmButtonText: "OK",
          type: "warning"
        });
      }
    },
    updateUserImage(img) {
      this.updateUserPic.id = this.user.id;
      this.updateUserPic.pic = img;
      userService
        .updateUser(this.updateUserPic)
        .then((response) => {
          this.$store.dispatch("updateUser", response.user)
          this.userCredentials.pic = response.user.pic
          this.successMessage('Success', 'Profile pic updated successfully')
        })
        .catch(() =>
          this.errorMessage("Errors", "User picture failed to update")
        );
    },
    profileUpdate() {
      let self = this;
      this.loading = true;
      this.$refs['userCredentials'].validate((valid) => {
        if (valid) {
          if (this.mentor === null) {
            mentorService
              .addMentor(self.userCredentials)
              .then(response => {
                self.$store.dispatch("setMentor", response.mentor);
                self.successMessage("Success", "Mentor Profile updated successfully");
                self.loading = false;
                self.$router.push("/user-dashboard");
              })
              .catch(errors => {
                self.errorMessage("Error", errors.message);
                self.loading = false;
              });
          } else {
            self.userCredentials.id = this.mentor.id
            console.log(self.userCredentials.support_on_how_to_mentor)
            mentorService.updateMentor(self.userCredentials)
              .then((response) => {
                self.$store.dispatch("setMentor", response.mentor);
                self.successMessage("Success", "Profile updated successfully");
                self.loading = false;
                self.$router.push("/user-dashboard");
              })
          }
        } else {
          self.loading = false;
          this.errorMessage('Required', 'Make sure all required filed is entered')
          return false;
        }
      })
    },
  }
};
</script>

<style>
  #mt-10 {
    margin-top: -12px;
  }
  #mt-15 {
    margin-top: -30px;
  }
  #bullets {
    height: 25px;
    width: 25px;
    background-color: rgb(15, 1, 1);
    border-radius: 50%;
  }
</style>
