<template>
  <el-container style="height:100vh">
    <el-aside width="200px">
      <el-menu
        class="el-menu-vertical-demo"
        default-active="2"
        :collapse="isCollapse"
        background-color="#0647A6"
        text-color="#fff"
        active-text-color="#ffd04b"
      >
        <div style="padding: 5px 15px;background-color: rgb(238, 241, 246);">
          <img src="../../assets/img/logo2.png" alt="" style="width:110px;" />
        </div>
        <router-link to="/admin/dashboard" active-class="Uactive">
          <el-menu-item index="2">
            <i class="el-icon-menu"></i>
            <span>Dashboard</span>
          </el-menu-item>
        </router-link>
        <router-link to="/admin/mentors">
          <el-menu-item index="3">
            <i class="el-icon-s-custom"></i>
            <span>Mentors</span>
          </el-menu-item>
        </router-link>
        <router-link to="/admin/mentees">
          <el-menu-item index="4">
            <i class="el-icon-s-check"></i>
            <span>Mentees</span>
          </el-menu-item>
        </router-link>
        <router-link to="/admin/requests">
          <el-menu-item index="5">
            <i class="el-icon-s-promotion"></i>
            <span>Requests</span>
          </el-menu-item>
        </router-link>
        <router-link to="/admin/feedback">
          <el-menu-item index="6">
            <i class="el-icon-chat-line-square"></i>
            <span>Feedbacks</span>
          </el-menu-item>
        </router-link>
        <el-submenu index="7">
          <template slot="title">
            <i class="el-icon-camera-solid"></i>
            Activities
          </template>
          <el-menu-item-group>
            <router-link to="/admin/all-events">
              <el-menu-item index="7-1">Events</el-menu-item>
            </router-link>

            <router-link to="/admin/blogs">
              <el-menu-item index="7-2">Blog/News</el-menu-item>
            </router-link>
          </el-menu-item-group>
        </el-submenu>
        <router-link to="/admin/users">
          <el-menu-item index="8">
            <i class="el-icon-user"></i>
            <span>Users</span>
          </el-menu-item>
        </router-link>
        <el-submenu index="9" class="logout">
          <template slot="title"
            ><img src="../../assets/img/ben.png" alt="" style="width:30px;" />
            {{ user.name }}
          </template>
          <el-menu-item-group>
            <el-menu-item index="8-1">Account</el-menu-item>
            <el-menu-item index="9-2" @click="adminLogout">Logout</el-menu-item>
          </el-menu-item-group>
        </el-submenu>
      </el-menu>
    </el-aside>
    <el-container>
      <el-header class="aHeader">
        <el-dropdown style="float:right;">
          <img
            :src="user.pic"
            alt="user"
            style="width:32px; border-radius:50px;"
          />
          <!-- <el-button type="" icon="el-icon-setting" circle size="small"></el-button> -->
          <el-dropdown-menu slot="dropdown">
            <el-dropdown-item icon="el-icon-user"
              >{{ user.name }}
              <el-tag :type="getUserTypeTag(user.type)" size="mini">{{
                user.type
              }}</el-tag>
            </el-dropdown-item>
            <el-dropdown-item icon="el-icon-user"
              >Account Settings</el-dropdown-item
            >
            <el-dropdown-item icon="el-icon-switch-button"
              >Logout</el-dropdown-item
            >
          </el-dropdown-menu>
        </el-dropdown>

        <el-badge :value="12" class="aitem">
          <el-button type="" icon="far fa-bell" circle size="small"></el-button>
        </el-badge>
      </el-header>
      <el-main>
        <router-view></router-view>
      </el-main>
      <el-footer class="foot"
        >Graduate Turns Proffessional Academy - &copy; 2020</el-footer
      >
    </el-container>
  </el-container>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  name: 'Admin',
  data() {
    return {
      isCollapse: false,
      search: '',
    };
  },
  computed: {
    ...mapGetters({
      user: 'getUser',
      isAdmin: 'getAdmin',
      isSuperAdmin: 'getSuperAdmin',
      isEditor: 'getEditor',
    }),
  },
};
</script>

<style>
.el-menu-vertical-demo {
  width: 200px;
  top: 0;
  bottom: 0;
  position: absolute;
}
.aHeader {
  padding-top: 12px;
}
.aitem {
  float: right;
  margin-left: 15px;
  margin-right: 30px;
}
span {
  font-size: 16px;
}
.Uactive {
  font-weight: bold;
  background-color: red;
}
.foot {
  background-color: #eeeeee;
  line-height: 60px;
  height: 30px;
  margin-top: 10px;
}
.logout {
  position: absolute;
  bottom: 0;
  width: 100%;
  bottom: 0;
}
</style>
