<template>
  <div>
    <el-card class="box-card">
      <div slot="header" class="clearfix">
        <span id="pageHead">Feedbacks</span>
        <el-input style="width:400px; float:right;"
          placeholder="Search"
          v-model="search">
          <i slot="prefix" class="el-input__icon el-icon-search"></i>
        </el-input>
      </div>
      <div>
        <el-table
          v-loading='tableLoading'
          :data="tableData.filter(data => !search || data.mentee.name.toLowerCase().includes(search.toLowerCase()))"
          :table-props='tableProps'>

          <el-table-column label="Mentee" width="200px">
            <template slot-scope="props">
              <span style="float:left; margin-right:10px;"><img :src="props.row.mentee.pic" alt="" style="width:40px;"></span>
              <span><b>{{ props.row.mentee.name }}</b> <br> <span style="font-size:12px;">{{props.row.mentee.email}}</span>
              </span>
            </template>
          </el-table-column>
          <el-table-column label="Mentee Feedback" width="230px" prop="mentee_feedback" />

          <el-table-column label="Mentor" width="200px">
            <template slot-scope="props">
              <span style="float:left; margin-right:10px;"><img :src="props.row.mentor.pic" alt="" style="width:40px;"></span>
              <span><b>{{ props.row.mentor.name }}</b> <br> <span style="font-size:12px;">{{props.row.mentor.email}}</span>
              </span>
            </template>
          </el-table-column>
          <el-table-column label="Mentor Feedback" width="230px" prop="mentor_feedback" />

          <el-table-column label="Actions">
            <template slot-scope="scope">
              <el-button type="danger" size="mini" icon="el-icon-delete"
                @click="confirmDelete(scope.row.id)"  
              />
            </template>
          </el-table-column>
        </el-table>
        <div style="text-align: center;margin-top: 10px; padding-bottom:10px;">
          <el-pagination
            background
            @current-change="handleCurrentChange"
            :current-page.sync="currentPage"
            :page-sizes="[20, 50, 100]"
            :page-size="20"
            layout="prev, pager, next, jumper, sizes, total"
            :total="total">
          </el-pagination>
        </div>
      </div>
    </el-card>
  </div>
</template>

<script>
import Vue from 'vue'
import feedbackService from '../../api/feedbacks'

Vue.use(require('vue-moment'));

export default {
  name: 'Feedbacks',
  data() {
    return {
      search: '',
      tableLoading: false,
      tableData: [],
      tableProps: {style: 'width: 99%', emptyText: 'No Mentors', stripe: true},
      currentPage: 1,
      total: 0
    }
  },
  created () {
    this.getFeedbacks()
  },
  methods: {
    getFeedbacks () {
      this.tableLoading = true
      feedbackService.getFeedbacks()
        .then((response) => this.loadTable(response))
        .catch((errors) => this.errorMessage('Errors', errors.message))
    },
    loadTable (data) {
      this.tableData = data.feedbacks.map(function (el) {
        el.mentor_feedback = (el.mentor_feedback == null) ? 'None' : el.mentor_feedback
        el.mentee_feedback = (el.mentee_feedback == null) ? 'None' : el.mentee_feedback
        return el
      })
      this.total = this.tableData.length
      this.tableLoading = false
    },
    deleteFeedback (id) {
      feedbackService.removeFeedback(id)
        .then(() => {
          this.successMessage('Success', 'Feedback deleted')
          this.getFeedbacks()
        })
        .catch((errors) => this.errorMessage('Errors', errors.message))
    },
    confirmDelete(id) {
      this.$confirm('This will permanently delete the feedback details. Continue?', 'Warning', {
        confirmButtonText: 'OK',
        cancelButtonText: 'Cancel',
        type: 'warning',
      }).then(() => {
        this.deleteFeedback(id)
      }).catch(() => {
        this.errorMessage('Error', 'Delete Canceled')
      })
    },
    handleCurrentChange (page) {
      this.currentPage = page;
    },
  }
}
</script>