<template>
  <div class="admin">
    <el-row type="flex" class="row-bg" justify="center">
        <el-col :span="5">
          <div class="grid-content">
            <img src="../../assets/img/logo2.png" alt="logo" class="Llogo">
          </div>
      </el-col>
      <el-col :span="6">
        <div class="grid-content signIn">
          <h2>Sign in to your Account</h2> <br>
          <el-form :model="credentials" status-icon :rules="rules" ref="credentials">
            <el-form-item prop="email">
              <el-input v-model="credentials.email" type="email" placeholder="yourname@email.com" 
                clearable prefix-icon="el-icon-date">
              </el-input>
            </el-form-item>
            
            <el-form-item prop="password">
              <el-input v-model="credentials.password" type="password" placeholder="**********" 
                clearable prefix-icon="el-icon-date">
              </el-input>
            </el-form-item>
          </el-form>
          <span slot="footer" class="dialog-footer"> <br>
            <el-button type="primary" round :loading="loading" @click="signIn" icon="far fa-user"> Sign In</el-button>
          </span>
        </div>
      </el-col>
    </el-row>
    <h4 class="text">By signing in I acknowledge that I have read and understand the <a href="/terms">Terms and Conditions.</a></h4>
  </div>
</template>

<script>
import is from 'is_js'
import authService from '../../api/auth'

export default {
  name: 'AdminLogin',
  data() {
    return {
      credentials: {
        email: '',
        password: ''
      },
      loading: false,
      rules: {
        email: [
          { required:true,  type: 'email', message: 'Please enter valid email', trigger: ['blur', 'change'] },
          { min: 5, message: 'Length should be 5 or more', trigger: 'blur' }
        ],
        password: [
          { required: true, message: 'Please enter password', trigger: 'blur' },
          { min: 6, message: 'Length should be 6 or more characters', trigger: 'change' }
        ]
      }
    }
  },
  methods: {
    signIn () {
      let self = this
      this.loading = true
      this.$refs['credentials'].validate((valid) => {
        if (valid) {
          authService.authenticate(self.credentials)
            .then((response) => {
              self.get_token(response)
            }).catch((errors) => {
              self.errorMessage('Error', errors.message)
              self.$store.dispatch('loginFailed')
              self.loading = false
              return false
            })
        } else {
          self.loading = false
          return false
        }
      })
    }, 
    get_token (response) {
      this.$store.dispatch('login', response)
      authService.setUser()
        .then((data) => this.userSuccess(data.user))
        .catch((errors) => {
          this.errorMessage('Errors', errors.message)
        })
    },
    userSuccess (user) {
      let systemUsers = ['Admin', 'Editor', 'Super Admin']
      if (is.inArray(user.type, systemUsers)) {
        this.loading = false
        this.$store.dispatch('adminLogin', user)
        this.$router.push('/admin')
      } else {
        this.$store.dispatch('loginFailed')
          .then(() => {
            this.loading = false
            this.errorMessage('Error', 'You have no access rights to the portal')
          })
      }
    }
  }
}
</script>

<style>
  .admin {
    background: rgb(94,36,213);
    background: linear-gradient(156deg, rgba(94,36,213,1) 55%, rgba(45,103,246,1) 88%);
    height: 100vh;
  }
  .grid-content {
    background-color: #f9fafc;
    height: 300px;
  }
  .signIn {
    padding: 30px;
    background-color: #EEEEEE;
    text-align: center;
  }
  .el-col {
    border-radius: 4px;
    margin-top: 100px;
  }
  .Llogo {
    width:200px; 
    margin: 90px 50px
  }
  .text {
    text-align:center; 
    font-size:11px;
    margin-top: 10px;
    font-weight: bold;
  }
</style>