<template>
  <div>
    <el-card class="box-card">
      <div slot="header" class="clearfix">
        <h3 id="pageHead">Blog Posts</h3>
        <span>
          <el-button
            type="primary"
            icon="el-icon-circle-plus-outline"
            size="small"
            @click="addPostsVisible = true"
          >
            Add Post
          </el-button>
        </span>
        <el-input
          style="width:400px; float:right;"
          placeholder="Search"
          v-model="search"
        >
          <i slot="prefix" class="el-input__icon el-icon-search"></i>
        </el-input>
      </div>
      <div>
        <el-table
          v-loading="tableLoading"
          :data="
            tableData.filter(
              (data) =>
                !search ||
                data.title.toLowerCase().includes(search.toLowerCase())
            )
          "
          :table-props="tableProps"
        >
          <el-table-column type="expand">
            <template slot-scope="props">
              <p>
                <b>Content:</b> <br />
                <span v-html="props.row.content"></span>
              </p>
              <p>
                <b>Post Image:</b> <br />
                <img
                  :src="setPic(props.row.media)"
                  alt="post pic"
                  style="width: 300px;"
                />
              </p>
            </template>
          </el-table-column>

          <el-table-column label="Title" prop="title"> </el-table-column>

          <el-table-column label="Sub-content" prop="sub" width="250" />

          <el-table-column label="Category" prop="category" />

          <el-table-column prop="user" label="Posted By" />

          <el-table-column prop="created_at" label="Date Posted">
            <template slot-scope="props">
              {{ props.row.created_at | moment('MMMM Do YYYY') }}
            </template>
          </el-table-column>

          <el-table-column label="Actions">
            <template slot-scope="scope">
              <el-button
                icon="el-icon-edit"
                size="mini"
                type="primary"
                @click="showEditPost(scope.row)"
              />
              <el-button
                type="danger"
                size="mini"
                icon="el-icon-delete"
                @click="confirmDelete(scope.row.id)"
              />
            </template>
          </el-table-column>
        </el-table>
        <div style="text-align: center;margin-top: 10px; padding-bottom:10px;">
          <el-pagination
            background
            @current-change="handleCurrentChange"
            :current-page.sync="currentPage"
            :page-sizes="[20, 50, 100]"
            :page-size="20"
            layout="prev, pager, next, jumper, sizes, total"
            :total="total"
          >
          </el-pagination>
        </div>
      </div>
    </el-card>

    <!--Add a post  -->
    <el-dialog :visible.sync="addPostsVisible" title="Add Post" width="45%">
      <el-form :model="postForm" :rules="rules" ref="postForm">
        <div class="row" id="mt-10">
          <div class="col-md-6">
            <el-form-item prop="title">
              <template v-slot:label>Title</template>
              <el-input type="text" v-model="postForm.title" />
            </el-form-item>
          </div>
          <div class="col-md-6">
            <el-form-item prop="category_id">
              <template v-slot:label>Category</template>
              <el-select
                v-model="postForm.category_id"
                placeholder="Select a category"
                style="width: 100%;"
              >
                <el-option
                  v-for="category in categories"
                  :key="category.id"
                  :label="category.name"
                  :value="category.id"
                >
                </el-option>
              </el-select>
            </el-form-item>
          </div>
          <div class="col-md-12">
            <el-form-item prop="media">
              <template v-slot:label>Paste Post Image link or upload</template>
              <el-input type="text" v-model="postForm.media" />
            </el-form-item>
          </div>
          <div class="col-md-12">
            <label for="">Upload Post image (Optional)</label>
            <input type="file" @change="getUserImage" />
          </div>
          <div class="col-md-12">
            <el-form-item prop="sub_content">
              <template v-slot:label>Sub content</template>
              <el-input
                type="textarea"
                :rows="2"
                placeholder="Enter a short desription of your post"
                v-model="postForm.sub_content"
              >
              </el-input>
            </el-form-item>
          </div>
          <div class="col-md-12">
            <label for="">Content</label>
            <wysiwyg v-model="postForm.content" />
          </div>
        </div>
        <el-form-item style="text-align: right; margin-bottom:-12px;">
          <el-button
            type="primary"
            :loading="btnLoading"
            @click="addPost()"
            size="mini"
          >
            Add Post
          </el-button>
        </el-form-item>
      </el-form>
    </el-dialog>

    <!-- edit post -->
    <el-dialog :visible.sync="editPostVisible" title="Edit Post" width="45%">
      <el-form :model="postForm" :rules="rules" ref="postForm">
        <div class="row" id="mt-10">
          <div class="col-md-6">
            <el-form-item prop="title">
              <template v-slot:label>Title</template>
              <el-input type="text" v-model="postForm.title" />
            </el-form-item>
          </div>
          <div class="col-md-6">
            <el-form-item prop="category_id">
              <template v-slot:label>Category</template>
              <el-select
                v-model="postForm.category_id"
                placeholder="Select a category"
                style="width: 100%;"
              >
                <el-option
                  v-for="category in categories"
                  :key="category.id"
                  :label="category.name"
                  :value="category.id"
                >
                </el-option>
              </el-select>
            </el-form-item>
          </div>
          <div class="col-md-12">
            <el-form-item prop="media">
              <template v-slot:label>Paste Post Image link or upload</template>
              <el-input type="text" v-model="postForm.media" />
            </el-form-item>
          </div>
          <div class="col-md-12">
            <label for="">Upload Post image (Optional)</label>
            <input type="file" @change="getUserImage" />
          </div>
          <div class="col-md-12" style="margin-top: 20px;">
            <el-form-item>
              <template v-slot:label>Sub content</template>
              <el-input
                type="textarea"
                :rows="2"
                placeholder="Enter a short desription of your post"
                v-model="postForm.sub_content"
              >
              </el-input>
            </el-form-item>
          </div>
          <div class="col-md-12">
            <label for="">Content</label>
            <wysiwyg v-model="postForm.content" />
          </div>
        </div>
        <el-form-item style="text-align: right; margin-bottom:-12px;">
          <el-button
            type="primary"
            :loading="btnLoading"
            @click="updatePost()"
            size="mini"
          >
            Update Post
          </el-button>
        </el-form-item>
      </el-form>
    </el-dialog>
  </div>
</template>

<script>
import Vue from 'vue';
import wysiwyg from 'vue-wysiwyg';
import 'vue-wysiwyg/dist/vueWysiwyg.css';
import postsService from '../../api/posts';
import categoryService from '../../api/categories';
import { mapGetters } from 'vuex';

Vue.use(require('vue-moment'));
Vue.use(wysiwyg, {});

export default {
  name: 'Events',
  data() {
    return {
      search: '',
      tableLoading: false,
      btnLoading: false,
      editPostVisible: false,
      addPostsVisible: false,
      categories: [],
      tableData: [],
      tableProps: {
        style: 'width: 99%',
        emptyText: 'No Mentors',
        stripe: true,
      },
      currentPage: 1,
      total: 0,
      postForm: {
        title: '',
        sub_content: '',
        content: '',
        user_id: '',
        category_id: '',
        media: '',
      },
      rules: {
        title: [
          { required: true, message: 'Field is required', trigger: 'blur' },
        ],
      },
    };
  },
  computed: {
    ...mapGetters({
      user: 'getUser',
    }),
  },
  created() {
    this.getPosts();
    this.getCategories();
  },
  methods: {
    getPosts() {
      this.tableLoading = true;
      postsService
        .getPosts()
        .then((response) => this.loadTable(response))
        .catch((errors) => this.errorMessage('Errors', errors.message));
    },
    getCategories() {
      categoryService
        .getCategories()
        .then((response) => {
          this.categories = response.categories;
        })
        .catch((errors) => this.errorMessage('Errors', errors.message));
    },
    loadTable(data) {
      let table = data.posts.map(function(el) {
        el.user = el.user.name;
        el.category = el.category.name;
        el.sub = el.sub_content.substring(0, 100) + '....';
        return el;
      });
      this.tableData = table;
      this.total = data.total;
      this.tableLoading = false;
    },
    getUserImage(e) {
      let file = e.target.files[0];
      let reader = new FileReader();
      reader.readAsDataURL(file);
      if (file['size'] < 2111775) {
        reader.onloadend = (file) => {
          console.log(file);
          this.postForm.media = reader.result;
        };
      } else {
        this.$alert('Use images less than 2megabyte', 'Error', {
          confirmButtonText: 'OK',
          type: 'warning',
        });
      }
    },
    addPost() {
      let self = this;
      this.btnLoading = true;
      this.$refs['postForm'].validate((valid) => {
        if (valid) {
          this.postForm.user_id = this.user.id;
          postsService
            .addPost(this.postForm)
            .then(() => {
              self.btnLoading = false;
              self.addPostsVisible = false;
              self.successMessage('Success', 'Post Added successfully');
              self.getPosts();
            })
            .catch((errors) => {
              self.errorMessage('Error', errors.message);
              self.btnLoading = false;
            });
        } else {
          this.btnLoading = false;
          return false;
        }
      });
    },
    updatePost() {
      this.btnLoading = true;
      postsService
        .updatePost(this.postForm)
        .then(() => {
          this.clearFormFields();
          this.successMessage('Success', 'Post updated successfully');
          this.getPosts();
        })
        .catch((errors) => {
          this.btnLoading = false;
          this.errorMessage('Errors', errors.message);
        });
    },
    showEditPost(post) {
      this.postForm.id = post.id;
      this.postForm.title = post.title;
      this.postForm.content = post.content;
      this.postForm.sub_content = post.sub_content;
      this.postForm.category_id = post.category_id;
      this.postForm.media = post.media;
      this.postForm.user_id = post.user_id;
      this.editPostVisible = true;
    },
    clearFormFields() {
      let postsForm = this.postForm;
      this.btnLoading = false;
      this.editPostVisible = false;
      Object.keys(postsForm).forEach((key) => (postsForm[key] = null));
    },
    confirmDelete(id) {
      this.$confirm(
        'This will permanently delete the post. Continue?',
        'Warning',
        {
          confirmButtonText: 'OK',
          cancelButtonText: 'Cancel',
          type: 'warning',
        }
      )
        .then(() => {
          this.deletePost(id);
        })
        .catch(() => {});
    },
    deletePost(id) {
      postsService
        .removePost(id)
        .then(() => {
          this.successMessage('Deleted', 'Post deleted successfully');
          this.getEvents();
        })
        .catch((errors) => this.errorMessage('Error', errors.message));
    },
    handleCurrentChange(page) {
      this.currentPage = page;
    },
  },
};
</script>
