<template>
  <div>
    <el-card class="box-card">
      <h3 id="pageHead">Dashboard</h3>
      <el-row :gutter="12" style="margin-top:-100px">
        <el-col :span="6">
          <DashboardCards
            title="Active Users"
            :totalNumber="totalActiveUsers"
            bgColor="activeBg"
            icon="el-icon-user"
            type="primary"
          />
        </el-col>
        <el-col :span="6">
          <DashboardCards
            title="Mentees"
            :totalNumber="totalMentees"
            bgColor="menteesBg"
            icon="el-icon-s-check"
            type="warning"
          />
        </el-col>
        <el-col :span="6">
          <DashboardCards
            title="Mentors"
            :totalNumber="totalMentors"
            bgColor="mentorsBg"
            icon="el-icon-s-custom"
            type="info"
          />
        </el-col>
        <el-col :span="6">
          <DashboardCards
            title="Requests"
            :totalNumber="totalRequest"
            bgColor="requestsBg"
            icon="el-icon-s-promotion"
            type="danger"
          />
        </el-col>
      </el-row>
    </el-card>
    <br />
    <div class="row">
      <div class="col-md-6">
        <el-card>
          <div class="flex_justify">
            <h3>Upcoming Mentorship</h3>
            <h3>{{ mentorshipsTotal }}</h3>
          </div>
          <hr />
          <div>
            <el-table
              v-loading="tableLoading"
              :data="tableData"
              :table-props="tableProps"
            >
              <el-table-column label="Info">
                <template slot-scope="props">
                  <span
                    >{{ props.row.receiver }}
                    <el-tag size="small" type="success"> Mentee</el-tag> </span
                  ><br />
                  <hr />
                  <span
                    >{{ props.row.sender }}
                    <el-tag size="small" type="primary"> Mentor</el-tag></span
                  >
                </template>
              </el-table-column>

              <el-table-column prop="status" label="Status" align="center">
                <template slot-scope="props">
                  <el-tag
                    size="small"
                    :type="
                      props.row.status == 'REJECTED'
                        ? 'danger'
                        : props.row.status == 'PENDING'
                        ? 'warning'
                        : 'success'
                    "
                  >
                    {{ props.row.status }}
                  </el-tag>
                </template>
              </el-table-column>

              <el-table-column label="Days Left">
                <template slot-scope="props">
                  <span>{{ props.row.days }}</span>
                </template>
              </el-table-column>
            </el-table>
          </div>
        </el-card>
      </div>
      <div class="col-md-6">
        <el-card>
          <h3>Dashboard</h3>
        </el-card>
      </div>
    </div>
  </div>
</template>

<script>
import DashboardCards from '../../components/dashboards/DashboardCards';
import reportsService from '../../api/dashboard';
import requestService from '../../api/requests';

export default {
  name: 'Dashboard',
  components: {
    DashboardCards,
  },
  data() {
    return {
      totalRequest: 0,
      totalActiveUsers: 0,
      totalMentors: 0,
      totalMentees: 0,
      tableLoading: false,
      mentorshipsTotal: 0,
      tableData: [],
      tableProps: {
        style: 'width: 99%',
        emptyText: 'No Mentors',
        stripe: true,
      },
    };
  },
  mounted() {
    reportsService.getDashboardReports().then((response) => {
      this.totalRequest = response.reports.requests;
      this.totalMentees = response.reports.mentees;
      this.totalMentors = response.reports.mentors;
      this.totalActiveUsers = response.reports.users;
    });
  },
  created() {
    this.getRequests();
  },
  methods: {
    getRequests() {
      this.tableLoading = true;
      requestService
        .getRequests()
        .then((response) => this.loadRequestTable(response))
        .catch((errors) => this.errorMessage('Errors', errors.message));
    },
    loadRequestTable(data) {
      let todaysDate = new Date();
      let one_day = 1000 * 60 * 60 * 24;
      let table = data.requests.map(function(req) {
        let startingDate = new Date(req.commencement_date);
        req.sender = req.mentee.name;
        req.receiver = req.mentor.name;
        req.days =
          Math.ceil((startingDate.getTime() - todaysDate.getTime()) / one_day) +
          ' days left to begin!';
        return req;
      });
      this.tableData = table;
      this.mentorshipsTotal = data.total;
      this.tableLoading = false;
    },
  },
};
</script>

<style></style>
