<template>
  <div>
    <el-card class="box-card">
      <div slot="header" class="clearfix">
        <h3 id="pageHead">Events</h3>
        <span>
          <el-button
            type="primary"
            icon="el-icon-circle-plus-outline"
            size="small"
            @click="addEventVisible = true"
          >
            Add New Event
          </el-button>
        </span>
        <el-input
          style="width:400px; float:right;"
          placeholder="Search"
          v-model="search"
        >
          <i slot="prefix" class="el-input__icon el-icon-search"></i>
        </el-input>
      </div>
      <div>
        <el-table
          v-loading="tableLoading"
          :data="
            tableData.filter(
              (data) =>
                !search ||
                data.title.toLowerCase().includes(search.toLowerCase())
            )
          "
          :table-props="tableProps"
        >
          <el-table-column type="expand">
            <template slot-scope="props">
              <p>
                <b>Description:</b> <span v-html="props.row.content"></span>
              </p>
              <p>
                <b>Image:</b> <br />
                <img
                  :src="setPic(props.row.image)"
                  alt="event pic"
                  style="width: 300px;"
                />
              </p>
            </template>
          </el-table-column>

          <el-table-column label="Title" width="" prop="title">
          </el-table-column>

          <el-table-column label="Venue" width="" prop="venue">
          </el-table-column>

          <el-table-column label="Category" width="" prop="category">
          </el-table-column>

          <el-table-column prop="free" label="Free" align="center">
            <template slot-scope="props">
              <el-tag
                size="small"
                :type="props.row.free == 'Yes' ? 'success' : 'warning'"
              >
                {{ props.row.free }}
              </el-tag>
            </template>
          </el-table-column>

          <el-table-column prop="event_date" label="Date">
            <template slot-scope="props">
              {{ props.row.event_date | moment('MMMM Do YYYY') }}
            </template>
          </el-table-column>

          <el-table-column label="Actions">
            <template slot-scope="scope">
              <el-button
                icon="el-icon-edit"
                size="mini"
                type="primary"
                @click="showEditEvent(scope.row)"
              />
              <el-button
                type="danger"
                size="mini"
                icon="el-icon-delete"
                @click="confirmDelete(scope.row.id)"
              />
            </template>
          </el-table-column>
        </el-table>
        <div style="text-align: center;margin-top: 10px; padding-bottom:10px;">
          <el-pagination
            background
            @current-change="handleCurrentChange"
            :current-page.sync="currentPage"
            :page-sizes="[20, 50, 100]"
            :page-size="20"
            layout="prev, pager, next, jumper, sizes, total"
            :total="total"
          >
          </el-pagination>
        </div>
      </div>
    </el-card>

    <!--Add event  -->
    <el-dialog :visible.sync="addEventVisible" title="Add Event" width="45%">
      <el-form :model="eventForm" :rules="rules" ref="eventForm">
        <div class="row" id="mt-10">
          <div class="col-md-6">
            <el-form-item prop="title">
              <template v-slot:label>Title</template>
              <el-input type="text" v-model="eventForm.title" />
            </el-form-item>
          </div>
          <div class="col-md-6">
            <el-form-item prop="venue">
              <template v-slot:label>Venue</template>
              <el-input type="text" v-model="eventForm.venue" />
            </el-form-item>
          </div>
          <div class="col-md-6">
            <el-form-item prop="event_date">
              <template v-slot:label>Event Date</template>
              <el-date-picker
                type="date"
                placeholder="Event date"
                style="width: 100%;"
                v-model="eventForm.event_date"
              >
              </el-date-picker>
            </el-form-item>
          </div>
          <br /><br /><br />
          <div class="col-md-6">
            <el-form-item prop="category">
              <template v-slot:label>Event Category</template>
              <el-select v-model="eventForm.category" style="width:100%;">
                <el-option label="Entertainment" value="Entertainment" />
                <el-option label="Business" value="Business"></el-option>
                <el-option label="Conference" value="Conference"></el-option>
                <el-option label="Religious" value="Religious"></el-option>
                <el-option label="Mentorship" value="Mentorship"></el-option>
              </el-select>
            </el-form-item>
          </div>
          <div class="col-md-12">
            <el-form-item prop="image">
              <template v-slot:label>Paste Image link or upload one</template>
              <el-input
                type="text"
                v-model="eventForm.image"
                placeholder="paste your image link here"
              />
            </el-form-item>
          </div>
          <div class="col-md-12">
            <label for="">Upload (Optional)</label>
            <input type="file" @change="getUserImage" />
          </div>
          <div class="col-md-4" style="margin-top:30px;">
            <el-form-item prop="time">
              <template v-slot:label>Time</template>
              <el-input type="text" v-model="eventForm.time" />
            </el-form-item>
          </div>
          <div class="col-md-8" style="margin-top:30px;">
            <el-form-item prop="free">
              <template v-slot:label>Is the event for free?</template>
              <el-switch
                v-model="eventForm.free"
                active-color="#13ce66"
                inactive-color="#ff4949"
                active-value="Yes"
                inactive-value="No"
              >
              </el-switch>
            </el-form-item>
          </div>
          <div class="col-md-12">
            <label for="">Content</label>
            <wysiwyg v-model="eventForm.content" />
          </div>
        </div>
        <el-form-item style="text-align: right; margin-bottom:-12px;">
          <el-button
            type="primary"
            :loading="btnLoading"
            @click="addAnEvent()"
            size="mini"
          >
            Add Event
          </el-button>
        </el-form-item>
      </el-form>
    </el-dialog>

    <!-- edit event -->
    <el-dialog :visible.sync="editEventVisible" title="Edit Event" width="45%">
      <el-form :model="eventForm" :rules="rules" ref="eventForm">
        <div class="row" id="mt-10">
          <div class="col-md-6">
            <el-form-item prop="title">
              <template v-slot:label>Title</template>
              <el-input type="text" v-model="eventForm.title" />
            </el-form-item>
          </div>
          <div class="col-md-6">
            <el-form-item prop="venue">
              <template v-slot:label>Venue</template>
              <el-input type="text" v-model="eventForm.venue" />
            </el-form-item>
          </div>
          <div class="col-md-6">
            <el-form-item prop="event_date">
              <template v-slot:label>Event Date</template>
              <el-date-picker
                type="date"
                placeholder="Event date"
                style="width: 100%;"
                v-model="eventForm.event_date"
              >
              </el-date-picker>
            </el-form-item>
          </div>
          <br /><br /><br />
          <div class="col-md-6">
            <el-form-item prop="category">
              <template v-slot:label>Event Category</template>
              <el-select v-model="eventForm.category" style="width:100%;">
                <el-option
                  label="Entertainment"
                  value="Entertainment"
                ></el-option>
                <el-option label="Business" value="Business"></el-option>
                <el-option label="Conference" value="Conference"></el-option>
                <el-option label="Religious" value="Religious"></el-option>
                <el-option label="Mentorship" value="Mentorship"></el-option>
              </el-select>
            </el-form-item>
          </div>
          <div class="col-md-12">
            <el-form-item prop="image">
              <template v-slot:label>Paste Image link or upload one</template>
              <el-input
                type="text"
                v-model="eventForm.image"
                placeholder="paste your image link here"
              />
            </el-form-item>
          </div>
          <div class="col-md-12">
            <label for="">Upload (Optional)</label>
            <input type="file" @change="getUserImage" />
          </div>
          <div class="col-md-4" style="margin-top:40px;">
            <el-form-item prop="time">
              <template v-slot:label>Time</template>
              <el-input type="text" v-model="eventForm.time" />
            </el-form-item>
          </div>
          <div class="col-md-8" style="margin-top:40px;">
            <el-form-item prop="free">
              <template v-slot:label>Is the event for free?</template>
              <el-switch
                v-model="eventForm.free"
                active-color="#13ce66"
                inactive-color="#ff4949"
                active-value="Yes"
                inactive-value="No"
              >
              </el-switch>
            </el-form-item>
          </div>
          <div class="col-md-12">
            <label for="">Content</label>
            <wysiwyg v-model="eventForm.content" />
          </div>
        </div>
        <el-form-item style="text-align: right; margin-bottom:-12px;">
          <el-button
            type="primary"
            :loading="btnLoading"
            @click="updateEvent()"
            size="mini"
          >
            Update Event
          </el-button>
        </el-form-item>
      </el-form>
    </el-dialog>
  </div>
</template>

<script>
import Vue from 'vue';
import wysiwyg from 'vue-wysiwyg';
import 'vue-wysiwyg/dist/vueWysiwyg.css';
import eventService from '../../api/events';

Vue.use(require('vue-moment'));
Vue.use(wysiwyg, {});

export default {
  name: 'Events',
  data() {
    return {
      search: '',
      tableLoading: false,
      btnLoading: false,
      editEventVisible: false,
      addEventVisible: false,
      tableData: [],
      tableProps: {
        style: 'width: 99%',
        emptyText: 'No Mentors',
        stripe: true,
      },
      currentPage: 1,
      total: 0,
      eventForm: {
        title: '',
        free: '',
        content: '',
        event_date: '',
        time: '',
        venue: '',
        category: '',
        image: '',
      },
      rules: {
        event_date: [
          {
            required: true,
            message: 'Please choose a date',
            trigger: ['blur', 'change'],
          },
        ],
        title: [
          { required: true, message: 'Field is required', trigger: 'blur' },
        ],
      },
    };
  },
  created() {
    this.getEvents();
  },
  methods: {
    getEvents() {
      this.tableLoading = true;
      eventService
        .getEvents()
        .then((response) => this.loadTable(response))
        .catch((errors) => this.errorMessage('Errors', errors.message));
    },
    loadTable(data) {
      let table = data.events.map(function(el) {
        return el;
      });
      this.tableData = table;
      this.total = data.total;
      this.tableLoading = false;
    },
    getUserImage(e) {
      let file = e.target.files[0];
      let reader = new FileReader();
      reader.readAsDataURL(file);
      if (file['size'] < 2111775) {
        reader.onloadend = (file) => {
          console.log(file);
          this.eventForm.image = reader.result;
        };
      } else {
        this.$alert('Use images less than 2megabyte', 'Error', {
          confirmButtonText: 'OK',
          type: 'warning',
        });
      }
    },
    updateEvent() {
      this.btnLoading = true;
      eventService
        .updateEvent(this.eventForm)
        .then(() => {
          this.clearFormFields();
          this.successMessage('Success', 'Event updated successfully');
          this.getEvents();
        })
        .catch((errors) => {
          this.btnLoading = false;
          this.errorMessage('Errors', errors.message);
        });
    },
    showEditEvent(event) {
      this.eventForm.id = event.id;
      this.eventForm.title = event.title;
      this.eventForm.content = event.content;
      this.eventForm.event_date = event.event_date;
      this.eventForm.category = event.category;
      this.eventForm.venue = event.venue;
      this.eventForm.image = event.image;
      this.eventForm.free = event.free;
      this.eventForm.time = event.time;
      this.editEventVisible = true;
    },
    clearFormFields() {
      let eventsForm = this.eventForm;
      this.btnLoading = false;
      this.editEventVisible = false;
      Object.keys(eventsForm).forEach((key) => (eventsForm[key] = null));
    },

    confirmDelete(id) {
      this.$confirm(
        'This will permanently delete the event. Continue?',
        'Warning',
        {
          confirmButtonText: 'OK',
          cancelButtonText: 'Cancel',
          type: 'warning',
        }
      )
        .then(() => {
          this.deleteEvent(id);
        })
        .catch(() => {});
    },
    deleteEvent(id) {
      eventService
        .removeEvent(id)
        .then(() => {
          this.successMessage('Deleted', 'Event deleted successfully');
          this.getEvents();
        })
        .catch((errors) => this.errorMessage('Error', errors.message));
    },
    addAnEvent() {
      let self = this;
      this.btnLoading = true;
      this.$refs['eventForm'].validate((valid) => {
        if (valid) {
          eventService
            .addEvent(this.eventForm)
            .then(() => {
              self.successMessage('Success', 'Event Added successfully');
              self.btnLoading = false;
              self.addEventVisible = false;
              self.getEvents();
            })
            .catch((errors) => {
              self.errorMessage('Error', errors.message);
              self.btnLoading = false;
            });
        } else {
          this.btnLoading = false;
          return false;
        }
      });
    },
    handleCurrentChange(page) {
      this.currentPage = page;
    },
  },
};
</script>
