<template>
  <div>
    <el-card class="box-card">
      <div slot="header" class="clearfix">
        <h3 id="pageHead">Mentors</h3>
        <span>
          <el-button
            type="primary"
            icon="el-icon-plus"
            size="small"
            @click="showAddForm"
          >
            Add New Mentor
          </el-button>
        </span>
        <el-input
          style="width:400px; float:right;"
          placeholder="Search"
          v-model="search"
        >
          <i slot="prefix" class="el-input__icon el-icon-search"></i>
        </el-input>
      </div>
      <div>
        <el-table
          v-loading="tableLoading"
          :data="
            tableData.filter(
              (data) =>
                !search ||
                data.name.toLowerCase().includes(search.toLowerCase())
            )
          "
          :table-props="tableProps"
        >
          <el-table-column type="expand">
            <template slot-scope="props">
              <p><b>Biography:</b> {{ props.row.bio }}</p>
              <p><b>Where did you hear about us:</b> {{ props.row.source }}</p>
              <p>
                <b>Why do you want to mentor:</b>
                {{ props.row.why_do_you_want_to_mentor }}
              </p>
              <p>
                <b>Mentored Before: </b>
                <el-tag
                  size="mini"
                  :type="props.row.mentored_before == 1 ? 'success' : 'danger'"
                >
                  {{ props.row.mentored_before == 1 ? 'Yes' : 'No' }}
                </el-tag>
              </p>
              <p v-if="props.row.mentored_before == 1">
                <b>Explain your recent mentorship: </b>
                {{ props.row.if_yes_explain }}
              </p>
              <p v-else>
                <b>Would you like support on how to mentor: </b>
                <el-tag
                  size="mini"
                  :type="
                    props.row.support_on_how_to_mentor == 1
                      ? 'success'
                      : 'danger'
                  "
                >
                  {{ props.row.support_on_how_to_mentor == 1 ? 'Yes' : 'No' }}
                </el-tag>
              </p>
              <p><b>Organization:</b> {{ props.row.organization }}</p>
              <p><b>Expertise</b> {{ props.row.expertise }}</p>
              <p><b>Years of Exp.</b> {{ props.row.years_of_exp }}</p>
              <p><b>Phone Number:</b> {{ props.row.phone_number }}</p>
              <p><b>Country:</b> {{ props.row.country }}</p>
              <p><b>City:</b> {{ props.row.city }}</p>
              <p><b>Post Code:</b> {{ props.row.postCode }}</p>
              <p><b>Address:</b> {{ props.row.address }}</p>
            </template>
          </el-table-column>

          <el-table-column label="Name" width="220px">
            <template slot-scope="props">
              <span style="float:left; margin-right:10px;">
                <img :src="props.row.user.pic" alt="" style="width:40px;" />
              </span>
              <span>
                <b>{{ props.row.name }}</b> <br />
                <span style="font-size:12px;">{{ props.row.user.email }}</span>
              </span>
            </template>
          </el-table-column>

          <el-table-column prop="shortBio" label="Bio" />
          <el-table-column
            prop="occupation"
            label="Occupation"
            align="center"
          />
          <el-table-column prop="mentorship_areas" label="Mentorship Areas" />
          <el-table-column prop="created_at" label="Joined at">
            <template slot-scope="props">
              {{ props.row.created_at | moment('MMMM Do YYYY') }}
            </template>
          </el-table-column>
          <el-table-column label="Actions">
            <template slot-scope="scope">
              <el-button
                icon="el-icon-edit"
                size="mini"
                type="primary"
                @click="showEditForm(scope.row)"
              >
              </el-button>
              <el-button
                type="danger"
                size="mini"
                icon="el-icon-delete"
                @click="confirmDelete(scope.row.id)"
              >
              </el-button>
            </template>
          </el-table-column>
        </el-table>
        <div style="text-align: center;margin-top: 10px; padding-bottom:10px;">
          <el-pagination
            background
            @current-change="handleCurrentChange"
            :current-page.sync="currentPage"
            :page-sizes="[20, 50, 100]"
            :page-size="20"
            layout="prev, pager, next, jumper, sizes, total"
            :total="total"
          >
          </el-pagination>
        </div>
      </div>

      <!-- Add Mentor Modal -->
      <el-dialog
        :visible.sync="addMentorVisible"
        :close-on-click-modal="true"
        title="Add a new mentor"
        width="85%"
      >
        <el-form
          style="margin-top: -12px;"
          :model="mentorCredentials"
          :rules="rules"
          ref="mentorCredentials"
        >
          <div class="row" style="text-align:left;">
            <div class="col-md-6">
              <el-card shadow="always">
                <h1 class="form-header">Personal Details</h1>
                <hr />
                <div class="row">
                  <div class="col-md-12">
                    <el-form-item prop="user_id">
                      <template v-slot:label
                        >Select User to be a mentor</template
                      >
                      <el-select
                        v-model="mentorCredentials.user_id"
                        filterable
                        placeholder="Select user"
                        style="width: 100%; margin-top:-12px"
                      >
                        <el-option
                          v-for="user in users"
                          :key="user.id"
                          :label="user.name"
                          :value="user.id"
                        >
                        </el-option>
                      </el-select>
                    </el-form-item>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <el-form-item prop="title">
                      <template v-slot:label>Title</template>
                      <el-select
                        v-model="mentorCredentials.title"
                        style="width:100%; margin-top:-12px"
                      >
                        <el-option label="Mr." value="Mr."></el-option>
                        <el-option label="Mrs." value="Mrs."></el-option>
                        <el-option label="Miss." value="Miss."></el-option>
                        <el-option label="Sir." value="Sir."></el-option>
                      </el-select>
                    </el-form-item>
                  </div>
                  <div class="col-md-4">
                    <el-form-item prop="firstName">
                      <template v-slot:label>First Name</template>
                      <el-input
                        id="mt-10"
                        v-model="mentorCredentials.firstName"
                        auto-complete="off"
                        placeholder="Please enter first name"
                      ></el-input>
                    </el-form-item>
                  </div>

                  <div class="col-md-5">
                    <el-form-item prop="lastName">
                      <template v-slot:label>Last Name</template>
                      <el-input
                        id="mt-10"
                        v-model="mentorCredentials.lastName"
                        auto-complete="off"
                        placeholder="Please enter last name"
                      ></el-input>
                    </el-form-item>
                  </div>
                </div>
                <div class="row" id="mt-10">
                  <div class="col-md-6">
                    <el-form-item prop="phone_number">
                      <template v-slot:label>Phone</template>
                      <el-input
                        id="mt-10"
                        v-model="mentorCredentials.phone_number"
                        auto-complete="off"
                        placeholder="+443-234-11511"
                      ></el-input>
                    </el-form-item>
                  </div>
                  <div class="col-md-6">
                    <el-form-item prop="email">
                      <template v-slot:label>Email</template>
                      <el-input
                        id="mt-10"
                        v-model="mentorCredentials.email"
                        auto-complete="off"
                        placeholder="youremail@mail.com"
                      ></el-input>
                    </el-form-item>
                  </div>
                </div>
                <br /><br />
                <div class="row" id="mt-15">
                  <div class="col-md-4">
                    <el-form-item prop="age">
                      <template v-slot:label>Date of Birth</template>
                      <el-date-picker
                        type="date"
                        placeholder="Date of birth"
                        style="width: 100%; margin-top:-12px"
                        v-model="mentorCredentials.age"
                      >
                      </el-date-picker>
                    </el-form-item>
                  </div>
                  <div class="col-md-5 col-sm-12">
                    <el-form-item prop="country">
                      <template v-slot:label>Country</template>
                      <el-select
                        v-model="mentorCredentials.country"
                        filterable
                        placeholder="Select country"
                        style="width: 100%; margin-top:-12px"
                      >
                        <el-option
                          v-for="item in countries"
                          :key="item.code"
                          :label="item.name"
                          :value="item.name"
                        >
                        </el-option>
                      </el-select>
                    </el-form-item>
                  </div>
                  <div class="col-md-3">
                    <el-form-item prop="postCode">
                      <template v-slot:label>Post code</template>
                      <el-input
                        id="mt-10"
                        v-model="mentorCredentials.postCode"
                        auto-complete="off"
                        placeholder="0235A"
                      ></el-input>
                    </el-form-item>
                  </div>
                </div>

                <div class="row" id="mt-10">
                  <div class="col-md-5">
                    <el-form-item>
                      <template v-slot:label>Address</template>
                      <el-input
                        id="mt-10"
                        type="textarea"
                        :rows="2"
                        v-model="mentorCredentials.address"
                        placeholder="Bristol, 123AX"
                      >
                      </el-input>
                    </el-form-item>
                  </div>
                  <div class="col-md-4 col-sm-12">
                    <el-form-item prop="city">
                      <template v-slot:label>City</template>
                      <el-input
                        id="mt-10"
                        v-model="mentorCredentials.city"
                        auto-complete="off"
                        placeholder="Bristol"
                      ></el-input>
                    </el-form-item>
                  </div>
                  <div class="col-md-3 col-sm-12">
                    <label>State</label>
                    <el-input
                      v-model="mentorCredentials.state"
                      auto-complete="off"
                      placeholder="Lancashire"
                    ></el-input>
                  </div>
                </div>
                <br /><br />
                <div class="row" id="mt-15">
                  <div class="col-md-12">
                    <el-form-item prop="source">
                      <template v-slot:label>
                        How did you hear about our mentoring program?
                      </template>
                      <el-select
                        allow-create
                        filterable
                        clearable
                        default-first-option
                        v-model="mentorCredentials.source"
                        style="width:100%; margin-top:-12px"
                      >
                        <el-option
                          v-for="source in mentorSources"
                          :key="source"
                          :label="source"
                          :value="source"
                        >
                        </el-option>
                      </el-select>
                    </el-form-item>
                  </div>
                  <div class="col-md-12">
                    <el-form-item prop="mentored_before">
                      <template v-slot:label
                        >Have you mentored before?</template
                      >
                      <el-radio-group
                        size="mini"
                        v-model="mentorCredentials.mentored_before"
                      >
                        <el-radio border :label="1">Yes</el-radio>
                        <el-radio border :label="0">No</el-radio>
                      </el-radio-group>
                    </el-form-item>
                  </div>
                </div>
                <br />
                <div class="form-group row" v-if="mentoredBefore">
                  <div class="col-md-12">
                    <label>if yes, provide brief details</label>
                    <div class="col-sm-12">
                      <el-input
                        type="textarea"
                        autosize
                        :rows="2"
                        placeholder="Tell us how you went about your mentorship"
                        v-model="mentorCredentials.if_yes_explain"
                      >
                      </el-input>
                    </div>
                  </div>
                </div>
                <div class="form-group row" v-else>
                  <div class="col-md-12">
                    <label
                      >if no, would you like support on how to mentor?</label
                    >
                    <div class="col-sm-12">
                      <el-radio-group
                        size="mini"
                        v-model="mentorCredentials.support_on_how_to_mentor"
                      >
                        <el-radio border :label="1">Yes</el-radio>
                        <el-radio border :label="0">No</el-radio>
                      </el-radio-group>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-12">
                    <label>Update profile picture</label>
                    <div class="upload_wrap col-sm-12">
                      <input
                        type="file"
                        class="form-control-file"
                        @change="getUserImage"
                      />
                    </div>
                  </div>
                </div>
              </el-card>
            </div>
            <div class="col-md-6">
              <el-card shadow="always">
                <h1 class="form-header">Professional Background</h1>
                <hr />
                <div class="row">
                  <div class="col-md-6">
                    <el-form-item prop="industry">
                      <template v-slot:label>Proffession/Industry</template>
                      <el-select
                        filterable
                        clearable
                        v-model="mentorCredentials.industry"
                        style="width:100%; margin-top:-12px"
                      >
                        <el-option
                          v-for="pro in professions"
                          :key="pro"
                          :label="pro"
                          :value="pro"
                        >
                        </el-option>
                      </el-select>
                    </el-form-item>
                  </div>
                  <div class="col-md-6">
                    <el-form-item prop="occupation">
                      <template v-slot:label>Position</template>
                      <el-input
                        id="mt-10"
                        v-model="mentorCredentials.occupation"
                        auto-complete="off"
                        placeholder="Occupation or Job"
                      ></el-input>
                    </el-form-item>
                  </div>
                </div>
                <div class="row" id="mt-10">
                  <div class="col-md-6">
                    <el-form-item prop="years_of_exp">
                      <template v-slot:label>Years of Experience</template>
                      <el-input-number
                        id="mt-10"
                        v-model="mentorCredentials.years_of_exp"
                        :step="1"
                      >
                      </el-input-number>
                    </el-form-item>
                  </div>
                  <div class="col-md-6">
                    <el-form-item prop="expertise">
                      <template v-slot:label>Area of Expertise</template>
                      <el-input
                        id="mt-10"
                        v-model="mentorCredentials.expertise"
                        auto-complete="off"
                        placeholder="Software"
                      ></el-input>
                    </el-form-item>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-7">
                    <label>Company</label>
                    <el-input
                      v-model="mentorCredentials.organization"
                      auto-complete="off"
                      placeholder="Please enter name"
                    ></el-input>
                  </div>
                </div>
              </el-card>

              <el-card>
                <h1 class="form-header">Interest and Values</h1>
                <hr />
                <div class="row">
                  <div class="col-md-12">
                    <el-form-item prop="bio">
                      <template v-slot:label
                        >Summary of who you are, interest and personal
                        values</template
                      >
                      <el-input
                        id="mt-10"
                        type="textarea"
                        :rows="4"
                        placeholder="Bio"
                        v-model="mentorCredentials.bio"
                      >
                      </el-input>
                    </el-form-item>
                  </div>
                  <div class="col-md-12">
                    <el-form-item prop="why_do_you_want_to_mentor">
                      <template v-slot:label
                        >Why do you want to be a Mentor?</template
                      >
                      <el-input
                        id="mt-10"
                        type="textarea"
                        :rows="3"
                        placeholder=""
                        v-model="mentorCredentials.why_do_you_want_to_mentor"
                      >
                      </el-input>
                    </el-form-item>
                  </div>

                  <div class="col-md-12">
                    <el-form-item prop="mentorship_areas">
                      <template v-slot:label
                        >Which specific area or areas can you provide mentoring
                        in?</template
                      >
                      <el-select
                        v-model="mentorCredentials.mentorship_areas"
                        placeholder="Select"
                        style="width: 100%; margin-top: -10px"
                      >
                        <el-option
                          v-for="item in mentorshipOptions"
                          :key="item"
                          :label="item"
                          :value="item"
                        >
                        </el-option>
                      </el-select>
                    </el-form-item>
                  </div>
                </div>
              </el-card>
            </div>
          </div>
          <br />
          <el-form-item style="text-align: right">
            <el-button size="small">Reset Form</el-button>
            <el-button
              type="primary"
              size="small"
              :loading="btnLoading"
              @click="addMentor()"
              >Add Mentor</el-button
            >
          </el-form-item>
        </el-form>
      </el-dialog>

      <!-- Edit Mentor Modal -->
      <el-dialog
        :visible.sync="editMentorVisible"
        :close-on-click-modal="true"
        title="Edit mentor"
        width="85%"
      >
        <el-form
          style="margin-top: -12px;"
          :model="mentorCredentials"
          :rules="rules"
          ref="mentorCredentials"
        >
          <div class="row" style="text-align:left;">
            <div class="col-md-6">
              <el-card shadow="always">
                <h1 class="form-header">Personal Details</h1>
                <hr />
                <div class="row">
                  <div class="col-md-3">
                    <el-form-item prop="title">
                      <template v-slot:label>Title</template>
                      <el-select
                        v-model="mentorCredentials.title"
                        style="width:100%; margin-top:-12px"
                      >
                        <el-option label="Mr." value="Mr."></el-option>
                        <el-option label="Mrs." value="Mrs."></el-option>
                        <el-option label="Miss." value="Miss."></el-option>
                        <el-option label="Sir." value="Sir."></el-option>
                      </el-select>
                    </el-form-item>
                  </div>
                  <div class="col-md-4">
                    <el-form-item prop="firstName">
                      <template v-slot:label>First Name</template>
                      <el-input
                        id="mt-10"
                        v-model="mentorCredentials.firstName"
                        auto-complete="off"
                        placeholder="Please enter first name"
                      ></el-input>
                    </el-form-item>
                  </div>

                  <div class="col-md-5">
                    <el-form-item prop="lastName">
                      <template v-slot:label>Last Name</template>
                      <el-input
                        id="mt-10"
                        v-model="mentorCredentials.lastName"
                        auto-complete="off"
                        placeholder="Please enter last name"
                      ></el-input>
                    </el-form-item>
                  </div>
                </div>
                <div class="row" id="mt-10">
                  <div class="col-md-6">
                    <el-form-item prop="phone_number">
                      <template v-slot:label>Phone</template>
                      <el-input
                        id="mt-10"
                        v-model="mentorCredentials.phone_number"
                        auto-complete="off"
                        placeholder="+443-234-11511"
                      ></el-input>
                    </el-form-item>
                  </div>
                  <div class="col-md-6">
                    <el-form-item prop="email">
                      <template v-slot:label>Email</template>
                      <el-input
                        id="mt-10"
                        v-model="mentorCredentials.email"
                        auto-complete="off"
                        placeholder="youremail@mail.com"
                      ></el-input>
                    </el-form-item>
                  </div>
                </div>
                <br /><br />
                <div class="row" id="mt-15">
                  <div class="col-md-4">
                    <el-form-item prop="age">
                      <template v-slot:label>Date of Birth</template>
                      <el-date-picker
                        type="date"
                        placeholder="Date of birth"
                        style="width: 100%; margin-top:-12px"
                        v-model="mentorCredentials.age"
                      >
                      </el-date-picker>
                    </el-form-item>
                  </div>
                  <div class="col-md-5 col-sm-12">
                    <el-form-item prop="country">
                      <template v-slot:label>Country</template>
                      <el-select
                        v-model="mentorCredentials.country"
                        filterable
                        placeholder="Select country"
                        style="width: 100%; margin-top:-12px"
                      >
                        <el-option
                          v-for="item in countries"
                          :key="item.code"
                          :label="item.name"
                          :value="item.name"
                        >
                        </el-option>
                      </el-select>
                    </el-form-item>
                  </div>
                  <div class="col-md-3">
                    <el-form-item prop="postCode">
                      <template v-slot:label>Post code</template>
                      <el-input
                        id="mt-10"
                        v-model="mentorCredentials.postCode"
                        auto-complete="off"
                        placeholder="0235A"
                      ></el-input>
                    </el-form-item>
                  </div>
                </div>

                <div class="row" id="mt-10">
                  <div class="col-md-5">
                    <el-form-item>
                      <template v-slot:label>Address</template>
                      <el-input
                        id="mt-10"
                        type="textarea"
                        :rows="2"
                        v-model="mentorCredentials.address"
                        placeholder="Bristol, 123AX"
                      >
                      </el-input>
                    </el-form-item>
                  </div>
                  <div class="col-md-4 col-sm-12">
                    <el-form-item prop="city">
                      <template v-slot:label>City</template>
                      <el-input
                        id="mt-10"
                        v-model="mentorCredentials.city"
                        auto-complete="off"
                        placeholder="Bristol"
                      ></el-input>
                    </el-form-item>
                  </div>
                  <div class="col-md-3 col-sm-12">
                    <label>State</label>
                    <el-input
                      v-model="mentorCredentials.state"
                      auto-complete="off"
                      placeholder="Lancashire"
                    ></el-input>
                  </div>
                </div>
                <br /><br />
                <div class="row" id="mt-15">
                  <div class="col-md-12">
                    <el-form-item prop="source">
                      <template v-slot:label>
                        How did you hear about our mentoring program?
                      </template>
                      <el-select
                        allow-create
                        filterable
                        clearable
                        default-first-option
                        v-model="mentorCredentials.source"
                        style="width:100%; margin-top:-12px"
                      >
                        <el-option
                          v-for="source in mentorSources"
                          :key="source"
                          :label="source"
                          :value="source"
                        >
                        </el-option>
                      </el-select>
                    </el-form-item>
                  </div>
                  <div class="col-md-12">
                    <el-form-item prop="mentored_before">
                      <template v-slot:label
                        >Have you mentored before?</template
                      >
                      <el-radio-group
                        size="mini"
                        v-model="mentorCredentials.mentored_before"
                      >
                        <el-radio border :label="1">Yes</el-radio>
                        <el-radio border :label="0">No</el-radio>
                      </el-radio-group>
                    </el-form-item>
                  </div>
                </div>
                <br />
                <div class="form-group row" v-if="mentoredBefore">
                  <div class="col-md-12">
                    <label>if yes, provide brief details</label>
                    <div class="col-sm-12">
                      <el-input
                        type="textarea"
                        autosize
                        :rows="2"
                        placeholder="Tell us how you went about your mentorship"
                        v-model="mentorCredentials.if_yes_explain"
                      >
                      </el-input>
                    </div>
                  </div>
                </div>
                <div class="form-group row" v-else>
                  <div class="col-md-12">
                    <label
                      >if no, would you like support on how to mentor?</label
                    >
                    <div class="col-sm-12">
                      <el-radio-group
                        size="mini"
                        v-model="mentorCredentials.support_on_how_to_mentor"
                      >
                        <el-radio border :label="1">Yes</el-radio>
                        <el-radio border :label="0">No</el-radio>
                      </el-radio-group>
                    </div>
                  </div>
                </div>

                <div class="form-group row">
                  <label for="">Upload Profile Picture</label>
                  <div class="upload_wrap col-sm-12">
                    <input
                      type="file"
                      class="form-control-file"
                      @change="getUserImage"
                    />
                  </div>
                </div>
              </el-card>
            </div>
            <div class="col-md-6">
              <el-card shadow="always">
                <h1 class="form-header">Professional Background</h1>
                <hr />
                <div class="row">
                  <div class="col-md-6">
                    <el-form-item prop="industry">
                      <template v-slot:label>Proffession/Industry</template>
                      <el-select
                        filterable
                        clearable
                        v-model="mentorCredentials.industry"
                        style="width:100%; margin-top:-12px"
                      >
                        <el-option
                          v-for="pro in professions"
                          :key="pro"
                          :label="pro"
                          :value="pro"
                        >
                        </el-option>
                      </el-select>
                    </el-form-item>
                  </div>
                  <div class="col-md-6">
                    <el-form-item prop="occupation">
                      <template v-slot:label>Position</template>
                      <el-input
                        id="mt-10"
                        v-model="mentorCredentials.occupation"
                        auto-complete="off"
                        placeholder="Occupation or Job"
                      ></el-input>
                    </el-form-item>
                  </div>
                </div>
                <div class="row" id="mt-10">
                  <div class="col-md-6">
                    <el-form-item prop="years_of_exp">
                      <template v-slot:label>Years of Experience</template>
                      <el-input-number
                        id="mt-10"
                        v-model="mentorCredentials.years_of_exp"
                        :step="1"
                      >
                      </el-input-number>
                    </el-form-item>
                  </div>
                  <div class="col-md-6">
                    <el-form-item prop="expertise">
                      <template v-slot:label>Area of Expertise</template>
                      <el-input
                        id="mt-10"
                        v-model="mentorCredentials.expertise"
                        auto-complete="off"
                        placeholder="Software"
                      ></el-input>
                    </el-form-item>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-7">
                    <label>Company</label>
                    <el-input
                      v-model="mentorCredentials.organization"
                      auto-complete="off"
                      placeholder="Please enter company"
                    ></el-input>
                  </div>
                </div>
              </el-card>

              <el-card>
                <h1 class="form-header">Interest and Values</h1>
                <hr />
                <div class="row">
                  <div class="col-md-12">
                    <el-form-item prop="bio">
                      <template v-slot:label
                        >Summary of who you are, interest and personal
                        values</template
                      >
                      <el-input
                        id="mt-10"
                        type="textarea"
                        :rows="4"
                        placeholder="Bio"
                        v-model="mentorCredentials.bio"
                      >
                      </el-input>
                    </el-form-item>
                  </div>
                  <div class="col-md-12">
                    <el-form-item prop="why_do_you_want_to_mentor">
                      <template v-slot:label
                        >Why do you want to be a Mentor?</template
                      >
                      <el-input
                        id="mt-10"
                        type="textarea"
                        :rows="3"
                        placeholder=""
                        v-model="mentorCredentials.why_do_you_want_to_mentor"
                      >
                      </el-input>
                    </el-form-item>
                  </div>

                  <div class="col-md-12">
                    <el-form-item prop="mentorship_areas">
                      <template v-slot:label
                        >Which specific area or areas can you provide mentoring
                        in?</template
                      >
                      <el-select
                        v-model="mentorCredentials.mentorship_areas"
                        placeholder="Select"
                        style="width: 100%; margin-top: -10px"
                      >
                        <el-option
                          v-for="item in mentorshipOptions"
                          :key="item"
                          :label="item"
                          :value="item"
                        >
                        </el-option>
                      </el-select>
                    </el-form-item>
                  </div>
                </div>
              </el-card>
            </div>
          </div>
          <br />
          <el-form-item style="text-align: right">
            <el-button @click="hideEditForm" size="small">Cancel</el-button>
            <el-button
              type="primary"
              size="small"
              :loading="btnLoading"
              @click="editMentor()"
              icon="el-icon-edit"
            >
              Update Mentor
            </el-button>
          </el-form-item>
        </el-form>
      </el-dialog>
    </el-card>
  </div>
</template>

<script>
import Vue from 'vue';
import is from 'is_js';
import { mapGetters } from 'vuex';
import { MessageBox } from 'element-ui';

import mentorService from '../../api/mentors';
import userService from '../../api/users';

Vue.use(require('vue-moment'));

export default {
  name: 'Mentors',
  data() {
    return {
      search: '',
      tableLoading: false,
      tableData: [],
      tableProps: {
        style: 'width: 99%',
        emptyText: 'No Mentors',
        stripe: true,
      },
      mentorSources: [
        'Facebook',
        'Friend',
        'Instagram',
        'Conference',
        'GTPA website',
      ],
      professions: [
        'Accountancy, banking and finance',
        'Business, consulting and management.',
        'Charity',
        'Creative Arts and design',
        'Energy and utilities',
        'Engineering and Manufacturing',
        'Environment and Agriculture',
        'Healthcare',
        'Hospitality and events Management',
        'Law',
        'Information Technology',
        'Marketing, Advertising and PR',
        'Architecture, Property and Construction',
      ],
      mentorshipOptions: [
        'Leadership skills',
        'Confidence skills',
        'Public speaking/presentation skills',
        'Life/work balance',
        'Becoming a better manager/working with teams',
        'Career trajectories/next steps/5-year plans',
        'People skills',
        'Project Management',
      ],
      currentPage: 1,
      total: 0,
      checked: false,
      users: [],
      addMentorVisible: false,
      editMentorVisible: false,
      btnLoading: false,
      mentorIDs: null,
      updateUserPic: {
        id: '',
        pic: '',
      },
      mentorCredentials: {
        id: null,
        user_id: null,
        occupation: '',
        organization: '',
        industry: '',
        years_of_exp: '',
        expertise: '',
        state: '',
        postCode: '',
        title: '',
        name: '',
        source: '',
        mentorship_areas: [],
        mentored_before: 0,
        if_yes_explain: '',
        support_on_how_to_mentor: 0,
        why_do_you_want_to_mentor: '',
        bio: '',
        age: '',
        country: '',
        city: '',
        phone_number: '',
        address: '',
        lastName: '',
        firstName: '',
        email: '',
        pic: '',
      },
      rules: {
        firstName: [
          {
            required: true,
            message: 'Please input first name',
            trigger: 'blur',
          },
        ],
        lastName: [
          {
            required: true,
            message: 'Please input last name',
            trigger: 'blur',
          },
        ],
        title: [
          { required: true, message: 'Title is required', trigger: 'blur' },
        ],
        phone_number: [
          { required: true, message: 'Number is required', trigger: 'blur' },
        ],
        email: [
          { required: true, message: 'Email is required', trigger: 'blur' },
        ],
        age: [{ required: true, message: 'Age is required', trigger: 'blur' }],
        country: [
          { required: true, message: 'Country is required', trigger: 'blur' },
        ],
        city: [
          { required: true, message: 'City is required', trigger: 'blur' },
        ],
        mentored_before: [
          { required: true, message: 'Field is required', trigger: 'blur' },
        ],
        source: [
          { required: true, message: 'Field is required', trigger: 'blur' },
        ],
        occupation: [
          { required: true, message: 'Ocupation is required', trigger: 'blur' },
        ],
        industry: [
          { required: true, message: 'Industry is required', trigger: 'blur' },
        ],
        expertise: [
          { required: true, message: 'Expertise is required', trigger: 'blur' },
        ],
        years_of_exp: [
          { required: true, message: 'Experince is required', trigger: 'blur' },
        ],
        mentorship_areas: [
          {
            required: true,
            message: 'Select mentorship areas',
            trigger: 'blur',
          },
        ],
        bio: [
          { required: true, message: 'Biography is required', trigger: 'blur' },
        ],
      },
    };
  },
  computed: {
    ...mapGetters({
      countries: 'getCountries',
    }),
    mentoredBefore: function() {
      return this.mentorCredentials.mentored_before == 1;
    },
  },
  created() {
    this.getMentors();
    this.getUsers();
  },
  methods: {
    getMentors() {
      this.tableLoading = true;
      mentorService
        .getMentors()
        .then((response) => {
          this.loadTable(response);
          this.setMentorIDs(response);
        })
        .catch((errors) => this.errorMessage('Errors', errors.message));
    },
    getUsers() {
      let self = this;
      userService
        .getUsers()
        .then((response) => {
          this.users = response.users
            .filter(function(user) {
              return user.type == 'Mentor';
            })
            .filter(function(x) {
              return is.not.inArray(x.id, self.mentorIDs);
            });
        })
        .catch((errors) => this.errorMessage('Error', errors.message));
    },
    loadTable(data) {
      let table = data.mentors.map(function(el) {
        el.shortBio = el.bio.substring(0, 50) + '...';
        return el;
      });
      this.tableData = table;
      this.total = table.length;
      this.tableLoading = false;
    },
    setMentorIDs(data) {
      this.mentorIDs = data.mentors.map(({ user_id }) => user_id);
    },
    getUserImage(e) {
      let self = this;
      let file = e.target.files[0];
      let reader = new FileReader();
      reader.readAsDataURL(file);
      if (file['size'] < 2111775) {
        reader.onloadend = (file) => {
          console.log(file);
          this.saveImageToServer(
            reader.result,
            self.mentorCredentials.user_id,
            self.mentorCredentials.pic
          );
        };
      } else {
        this.$alert('Use images less than 2megabyte', 'Error', {
          confirmButtonText: 'OK',
          type: 'warning',
        });
      }
    },
    addMentor() {
      let self = this;
      this.mentorCredentials.name =
        this.mentorCredentials.firstName +
        ' ' +
        this.mentorCredentials.lastName;
      this.btnLoading = true;
      this.$refs['mentorCredentials'].validate((valid) => {
        if (valid) {
          mentorService
            .addMentor(self.mentorCredentials)
            .then(() => {
              self.btnLoading = false;
              self.addMentorVisible = false;
              self.successMessage('Success', 'Mentor Added successfully');
              self.getMentors();
            })
            .catch((errors) => {
              self.errorMessage('Error', errors.message);
              self.btnLoading = false;
            });
        } else {
          self.btnLoading = false;
          this.errorMessage(
            'Required',
            'Make sure all required filed is entered'
          );
          return false;
        }
      });
    },
    editMentor() {
      let self = this;
      this.btnLoading = true;
      this.$refs['mentorCredentials'].validate((valid) => {
        if (valid) {
          mentorService
            .updateMentor(self.mentorCredentials)
            .then(() => {
              self.btnLoading = false;
              self.editMentorVisible = false;
              self.successMessage('Success', 'Mentor updated successfully');
              self.getMentors();
            })
            .catch((errors) => {
              self.errorMessage('Error', errors.message);
              self.btnLoading = false;
            });
        } else {
          self.btnLoading = false;
          this.errorMessage(
            'Required',
            'Make sure all required filed is entered'
          );
          return false;
        }
      });
    },
    handleCurrentChange(page) {
      this.currentPage = page;
    },
    showEditForm(mentor) {
      this.mentorCredentials.id = mentor.id;
      this.mentorCredentials.name = mentor.name;
      this.mentorCredentials.user_id = mentor.user_id;
      this.mentorCredentials.email = mentor.email;
      this.mentorCredentials.pic = mentor.pic;
      this.mentorCredentials.firstName = mentor.firstName;
      this.mentorCredentials.lastName = mentor.lastName;
      this.mentorCredentials.address = mentor.address;
      this.mentorCredentials.country = mentor.country;
      this.mentorCredentials.postCode = mentor.postCode;
      this.mentorCredentials.state = mentor.state;
      this.mentorCredentials.bio = mentor.bio;
      this.mentorCredentials.organization = mentor.organization;
      this.mentorCredentials.why_do_you_want_to_mentor =
        mentor.why_do_you_want_to_mentor;
      this.mentorCredentials.city = mentor.city;
      this.mentorCredentials.industry = mentor.industry;
      this.mentorCredentials.years_of_exp = mentor.years_of_exp;
      this.mentorCredentials.expertise = mentor.expertise;
      this.mentorCredentials.title = mentor.title;
      this.mentorCredentials.mentorship_areas = mentor.mentorship_areas;
      this.mentorCredentials.mentored_before = mentor.mentored_before ? 1 : 0;
      this.mentorCredentials.support_on_how_to_mentor = mentor.support_on_how_to_mentor
        ? 1
        : 0;
      this.mentorCredentials.source = mentor.source;
      this.mentorCredentials.phone_number = mentor.phone_number;
      this.mentorCredentials.age = mentor.age;
      this.mentorCredentials.if_yes_explain = mentor.if_yes_explain;
      this.mentorCredentials.occupation = mentor.occupation;
      this.editMentorVisible = true;
    },
    showAddForm() {
      this.addMentorVisible = true;
    },
    hideEditForm() {
      let mentor = this.mentorCredentials;
      Object.keys(mentor).forEach((key) => (mentor[key] = null));
      this.editMentorVisible = false;
    },
    deleteMenor(id) {
      mentorService.removeMentor(id).then(() => {
        this.successMessage('Deleted', 'Mentor deleted successfully');
        this.getMentors();
      });
    },
    confirmDelete(id) {
      MessageBox.confirm(
        'Are you sure you want to delete this mentor',
        'Warning',
        {
          confirmButtonText: 'OK',
          cancelButtonText: 'Cancel',
          type: 'warning',
        }
      )
        .then(() => {
          this.deleteMenor(id);
        })
        .catch(() => {
          this.errorMessage('Error', 'Delete Canceled');
        });
    },
  },
};
</script>

<style></style>
