<template>
  <div>
    <el-card class="box-card">
      <div slot="header" class="clearfix">
        <h3 id="pageHead">Mentees</h3>
        <span>
          <el-button
            type="primary"
            icon="el-icon-plus"
            size="small"
            @click="showAddForm"
          >
            Add New Mentee
          </el-button>
        </span>
        <el-input
          style="width:400px; float:right;"
          placeholder="Search"
          v-model="search"
        >
          <i slot="prefix" class="el-input__icon el-icon-search"></i>
        </el-input>
      </div>
      <div>
        <el-table
          v-loading="tableLoading"
          :data="
            tableData.filter(
              (data) =>
                !search ||
                data.name.toLowerCase().includes(search.toLowerCase())
            )
          "
          :table-props="tableProps"
        >
          <el-table-column type="expand">
            <template slot-scope="props">
              <p><b>Biography:</b> {{ props.row.bio }}</p>
              <p><b>Where did you hear about us:</b> {{ props.row.source }}</p>
              <p>
                <b>Why do you want to be mentored:</b>
                {{ props.row.why_do_you_want_to_be_mentored }}
              </p>
              <p>
                <b>Mentored Before: </b>
                <el-tag
                  size="mini"
                  :type="props.row.mentored_before == 1 ? 'success' : 'danger'"
                >
                  {{ props.row.mentored_before == 1 ? 'Yes' : 'No' }}
                </el-tag>
              </p>
              <p v-if="props.row.mentored_before == 1">
                <b>Explain your recent mentorship: </b>
                {{ props.row.if_yes_explain }}
              </p>
              <p v-else>
                <b>Would you like support on how to mentor: </b>
                <el-tag
                  size="mini"
                  :type="props.row.field_mentored == 1 ? 'success' : 'danger'"
                >
                  {{ props.row.field_mentored == 1 ? 'Yes' : 'No' }}
                </el-tag>
              </p>
              <p>
                <b>Would you like to be mentored out of your field: </b>
                <el-tag
                  size="mini"
                  :type="
                    props.row.out_of_field_mentored == 1 ? 'success' : 'danger'
                  "
                >
                  {{ props.row.out_of_field_mentored == 1 ? 'Yes' : 'No' }}
                </el-tag>
              </p>
              <p><b>Organization:</b> {{ props.row.organization }}</p>
              <p><b>Education</b> {{ props.row.education }}</p>
              <p><b>Qualification.</b> {{ props.row.qualification }}</p>
              <p>
                <b>Graduated.</b>
                <el-tag
                  size="mini"
                  :type="props.row.graduated == 1 ? 'success' : 'danger'"
                >
                  {{ props.row.graduated == 1 ? 'Yes' : 'No' }}
                </el-tag>
              </p>
              <p><b>Year of completion.</b> {{ props.row.year_completed }}</p>
              <p><b>Phone Number:</b> {{ props.row.phone_number }}</p>
              <p><b>Country:</b> {{ props.row.country }}</p>
              <p><b>City:</b> {{ props.row.city }}</p>
              <p><b>Post Code:</b> {{ props.row.postCode }}</p>
              <p><b>Address:</b> {{ props.row.address }}</p>
            </template>
          </el-table-column>

          <el-table-column label="Name" width="220px">
            <template slot-scope="props">
              <span style="float:left; margin-right:10px;">
                <img :src="props.row.pic" alt="" style="width:40px;" />
              </span>
              <span
                ><b>{{ props.row.name }}</b> <br />
                <span style="font-size:12px;">{{ props.row.email }}</span>
              </span>
            </template>
          </el-table-column>

          <el-table-column prop="shortBio" label="Bio" />
          <el-table-column
            prop="occupation"
            label="Occupation"
            align="center"
          />
          <el-table-column prop="mentorship_areas" label="Mentorship Areas" />
          <el-table-column label="Created Date">
            <template slot-scope="props">
              {{ props.row.created_at | moment('MMMM Do YYYY') }}
            </template>
          </el-table-column>
          <el-table-column label="Actions">
            <template slot-scope="scope">
              <el-button
                icon="el-icon-edit"
                size="mini"
                type="primary"
                @click="showEditForm(scope.row)"
              >
              </el-button>
              <el-button
                type="danger"
                size="mini"
                icon="el-icon-delete"
                @click="confirmDelete(scope.row.id)"
              >
              </el-button>
            </template>
          </el-table-column>
        </el-table>
        <div style="text-align: center;margin-top: 10px; padding-bottom:10px;">
          <el-pagination
            background
            @current-change="handleCurrentChange"
            :current-page.sync="currentPage"
            :page-sizes="[20, 50, 100]"
            :page-size="20"
            layout="prev, pager, next, jumper, sizes, total"
            :total="total"
          >
          </el-pagination>
        </div>
      </div>

      <!-- Add Mentee Modal -->
      <el-dialog
        :visible.sync="addMenteeVisible"
        :close-on-click-modal="true"
        title="Add a new mentee"
        width="85%"
      >
        <el-form
          style="margin-top: -12px;"
          :model="menteeCredentials"
          :rules="rules"
          ref="menteeCredentials"
        >
          <div class="row" style="text-align:left;">
            <div class="col-md-6">
              <el-card shadow="always">
                <h1 class="form-header">Personal Details</h1>
                <hr />
                <div class="row">
                  <div class="col-md-12">
                    <el-form-item prop="user_id">
                      <template v-slot:label
                        >Select User to be a mentee</template
                      >
                      <el-select
                        v-model="menteeCredentials.user_id"
                        filterable
                        placeholder="Select user"
                        style="width: 100%; margin-top:-12px"
                      >
                        <el-option
                          v-for="user in users"
                          :key="user.id"
                          :label="user.name"
                          :value="user.id"
                        >
                        </el-option>
                      </el-select>
                    </el-form-item>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <el-form-item prop="title">
                      <template v-slot:label>Title</template>
                      <el-select
                        v-model="menteeCredentials.title"
                        style="width:100%; margin-top:-12px"
                      >
                        <el-option label="Mr." value="Mr."></el-option>
                        <el-option label="Mrs." value="Mrs."></el-option>
                        <el-option label="Miss." value="Miss."></el-option>
                        <el-option label="Sir." value="Sir."></el-option>
                      </el-select>
                    </el-form-item>
                  </div>
                  <div class="col-md-4">
                    <el-form-item prop="firstName">
                      <template v-slot:label>First Name</template>
                      <el-input
                        id="mt-10"
                        v-model="menteeCredentials.firstName"
                        auto-complete="off"
                        placeholder="Please enter first name"
                      ></el-input>
                    </el-form-item>
                  </div>

                  <div class="col-md-5">
                    <el-form-item prop="lastName">
                      <template v-slot:label>Last Name</template>
                      <el-input
                        id="mt-10"
                        v-model="menteeCredentials.lastName"
                        auto-complete="off"
                        placeholder="Please enter last name"
                      ></el-input>
                    </el-form-item>
                  </div>
                </div>
                <div class="row" id="mt-10">
                  <div class="col-md-6">
                    <el-form-item prop="phone_number">
                      <template v-slot:label>Phone</template>
                      <el-input
                        id="mt-10"
                        v-model="menteeCredentials.phone_number"
                        auto-complete="off"
                        placeholder="+443-234-11511"
                      ></el-input>
                    </el-form-item>
                  </div>
                  <div class="col-md-6">
                    <el-form-item prop="email">
                      <template v-slot:label>Email</template>
                      <el-input
                        id="mt-10"
                        v-model="menteeCredentials.email"
                        auto-complete="off"
                        placeholder="youremail@mail.com"
                      ></el-input>
                    </el-form-item>
                  </div>
                </div>
                <br /><br />
                <div class="row" id="mt-15">
                  <div class="col-md-4">
                    <el-form-item prop="age">
                      <template v-slot:label>Date of Birth</template>
                      <el-date-picker
                        type="date"
                        placeholder="Date of birth"
                        style="width: 100%; margin-top:-12px"
                        v-model="menteeCredentials.age"
                      >
                      </el-date-picker>
                    </el-form-item>
                  </div>
                  <div class="col-md-5 col-sm-12">
                    <el-form-item prop="country">
                      <template v-slot:label>Country</template>
                      <el-select
                        v-model="menteeCredentials.country"
                        filterable
                        placeholder="Select country"
                        style="width: 100%; margin-top:-12px"
                      >
                        <el-option
                          v-for="item in countries"
                          :key="item.code"
                          :label="item.name"
                          :value="item.name"
                        >
                        </el-option>
                      </el-select>
                    </el-form-item>
                  </div>
                  <div class="col-md-3">
                    <el-form-item prop="postCode">
                      <template v-slot:label>Post code</template>
                      <el-input
                        id="mt-10"
                        v-model="menteeCredentials.postCode"
                        auto-complete="off"
                        placeholder="0235A"
                      ></el-input>
                    </el-form-item>
                  </div>
                </div>

                <div class="row" id="mt-10">
                  <div class="col-md-5">
                    <el-form-item>
                      <template v-slot:label>Address</template>
                      <el-input
                        id="mt-10"
                        type="textarea"
                        :rows="2"
                        v-model="menteeCredentials.address"
                        placeholder="Bristol, 123AX"
                      >
                      </el-input>
                    </el-form-item>
                  </div>
                  <div class="col-md-4 col-sm-12">
                    <el-form-item prop="city">
                      <template v-slot:label>City</template>
                      <el-input
                        id="mt-10"
                        v-model="menteeCredentials.city"
                        auto-complete="off"
                        placeholder="Bristol"
                      ></el-input>
                    </el-form-item>
                  </div>
                  <div class="col-md-3 col-sm-12">
                    <label>State</label>
                    <el-input
                      v-model="menteeCredentials.state"
                      auto-complete="off"
                      placeholder="Lancashire"
                    ></el-input>
                  </div>
                </div>
                <br /><br />
                <div class="row" id="mt-15">
                  <div class="col-md-12">
                    <el-form-item prop="source">
                      <template v-slot:label>
                        How did you hear about our mentoring program?
                      </template>
                      <el-select
                        allow-create
                        filterable
                        clearable
                        default-first-option
                        v-model="menteeCredentials.source"
                        style="width:100%; margin-top:-12px"
                      >
                        <el-option
                          v-for="source in mentorSources"
                          :key="source"
                          :label="source"
                          :value="source"
                        >
                        </el-option>
                      </el-select>
                    </el-form-item>
                  </div>
                  <div class="col-md-12">
                    <el-form-item prop="mentored_before">
                      <template v-slot:label
                        >Have you mentored before?</template
                      >
                      <el-radio-group
                        size="mini"
                        v-model="menteeCredentials.mentored_before"
                      >
                        <el-radio border :label="1">Yes</el-radio>
                        <el-radio border :label="0">No</el-radio>
                      </el-radio-group>
                    </el-form-item>
                  </div>
                </div>
                <br />
                <div class="form-group row" v-if="mentoredBefore">
                  <div class="col-md-12">
                    <label>if yes, provide brief details</label>
                    <div class="col-sm-12">
                      <el-input
                        type="textarea"
                        autosize
                        :rows="2"
                        placeholder="Tell us how you went about your mentorship"
                        v-model="menteeCredentials.if_yes_explain"
                      >
                      </el-input>
                    </div>
                  </div>
                </div>
                <div class="form-group row" v-else>
                  <div class="col-md-12">
                    <label
                      >if no, would you like support on how to mentor?</label
                    >
                    <div class="col-sm-12">
                      <el-radio-group
                        size="mini"
                        v-model="menteeCredentials.field_mentored"
                      >
                        <el-radio border :label="1">Yes</el-radio>
                        <el-radio border :label="0">No</el-radio>
                      </el-radio-group>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-12">
                    <label
                      >Would you like to be mentored out of your field ?</label
                    >
                    <div class="col-sm-12">
                      <el-radio-group
                        size="mini"
                        v-model="menteeCredentials.out_of_field_mentored"
                      >
                        <el-radio border :label="1">Yes</el-radio>
                        <el-radio border :label="0">No</el-radio>
                      </el-radio-group>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-12">
                    <label>Update profile picture</label>
                    <div class="upload_wrap col-sm-12">
                      <input
                        type="file"
                        class="form-control-file"
                        @change="getUserImage"
                      />
                    </div>
                  </div>
                </div>
              </el-card>
            </div>
            <div class="col-md-6">
              <el-card shadow="always">
                <h1 class="form-header">
                  Professional & Educational Background
                </h1>
                <hr />
                <div class="row">
                  <div class="col-md-6">
                    <el-form-item prop="education">
                      <template v-slot:label>Education</template>
                      <el-input
                        id="mt-10"
                        v-model="menteeCredentials.education"
                        auto-complete="off"
                        placeholder="University of Bristol "
                      ></el-input>
                    </el-form-item>
                  </div>
                  <div class="col-md-6">
                    <el-form-item prop="qualification">
                      <template v-slot:label>Qualification</template>
                      <el-select
                        v-model="menteeCredentials.qualification"
                        style="width:100%; margin-top:-12px"
                      >
                        <el-option
                          v-for="qualification in qualifications"
                          :key="qualification"
                          :label="qualification"
                          :value="qualification"
                        ></el-option>
                      </el-select>
                    </el-form-item>
                  </div>
                </div>
                <div class="row" id="mt-10">
                  <div class="col-md-6">
                    <el-form-item prop="year_completed">
                      <template v-slot:label>Year Completed</template>
                      <el-input
                        id="mt-10"
                        v-model="menteeCredentials.year_completed"
                        placeholder="2014"
                      >
                      </el-input>
                    </el-form-item>
                  </div>
                  <div class="col-md-6">
                    <el-form-item prop="expertise">
                      <template v-slot:label>Graduated</template>
                      <el-radio-group
                        size="mini"
                        v-model="menteeCredentials.graduated"
                      >
                        <el-radio border :label="1">Yes</el-radio>
                        <el-radio border :label="0">No</el-radio>
                      </el-radio-group>
                    </el-form-item>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <el-form-item prop="occupation">
                      <template v-slot:label>Occupation</template>
                      <el-input
                        id="mt-10"
                        v-model="menteeCredentials.occupation"
                        auto-complete="off"
                        placeholder="Student"
                      ></el-input>
                    </el-form-item>
                  </div>
                  <div class="col-md-6">
                    <el-form-item>
                      <template v-slot:label
                        >Organization/Place of work</template
                      >
                      <el-input
                        id="mt-10"
                        v-model="menteeCredentials.organization"
                        auto-complete="off"
                        placeholder="Amazon, Google, McDonalds"
                      ></el-input>
                    </el-form-item>
                  </div>
                </div>
              </el-card>

              <el-card>
                <h1 class="form-header">Interest and Values</h1>
                <hr />
                <div class="row">
                  <div class="col-md-12">
                    <el-form-item prop="bio">
                      <template v-slot:label
                        >Summary of who you are, interest and personal
                        values</template
                      >
                      <el-input
                        id="mt-10"
                        type="textarea"
                        :rows="4"
                        placeholder="Bio"
                        v-model="menteeCredentials.bio"
                      >
                      </el-input>
                    </el-form-item>
                  </div>
                  <div class="col-md-12">
                    <el-form-item prop="why_do_you_want_to_mentor">
                      <template v-slot:label
                        >Why do you want to be Mentored?</template
                      >
                      <el-input
                        id="mt-10"
                        type="textarea"
                        :rows="3"
                        placeholder=""
                        v-model="
                          menteeCredentials.why_do_you_want_to_be_mentored
                        "
                      >
                      </el-input>
                    </el-form-item>
                  </div>

                  <div class="col-md-12">
                    <el-form-item prop="mentorship_areas">
                      <template v-slot:label
                        >Which specific area or areas can you provide mentoring
                        in?</template
                      >
                      <el-select
                        v-model="menteeCredentials.mentorship_areas"
                        placeholder="Select"
                        style="width: 100%; margin-top: -10px"
                      >
                        <el-option
                          v-for="item in mentorshipOptions"
                          :key="item"
                          :label="item"
                          :value="item"
                        >
                        </el-option>
                      </el-select>
                    </el-form-item>
                  </div>
                </div>
              </el-card>
            </div>
          </div>
          <br />
          <el-form-item style="text-align: right">
            <el-button size="small">Reset Form</el-button>
            <el-button
              type="primary"
              size="small"
              icon="el-icon-plus"
              :loading="btnLoading"
              @click="addMentee()"
              >Add Mentee</el-button
            >
          </el-form-item>
        </el-form>
      </el-dialog>

      <!-- Add Mentee Modal -->
      <el-dialog
        :visible.sync="editMenteeVisible"
        :close-on-click-modal="true"
        title="Edit mentee"
        width="85%"
      >
        <el-form
          style="margin-top: -12px;"
          :model="menteeCredentials"
          :rules="rules"
          ref="menteeCredentials"
        >
          <div class="row" style="text-align:left;">
            <div class="col-md-6">
              <el-card shadow="always">
                <h1 class="form-header">Personal Details</h1>
                <hr />
                <div class="row">
                  <div class="col-md-3">
                    <el-form-item prop="title">
                      <template v-slot:label>Title</template>
                      <el-select
                        v-model="menteeCredentials.title"
                        style="width:100%; margin-top:-12px"
                      >
                        <el-option label="Mr." value="Mr."></el-option>
                        <el-option label="Mrs." value="Mrs."></el-option>
                        <el-option label="Miss." value="Miss."></el-option>
                        <el-option label="Sir." value="Sir."></el-option>
                      </el-select>
                    </el-form-item>
                  </div>
                  <div class="col-md-4">
                    <el-form-item prop="firstName">
                      <template v-slot:label>First Name</template>
                      <el-input
                        id="mt-10"
                        v-model="menteeCredentials.firstName"
                        auto-complete="off"
                        placeholder="Please enter first name"
                      ></el-input>
                    </el-form-item>
                  </div>

                  <div class="col-md-5">
                    <el-form-item prop="lastName">
                      <template v-slot:label>Last Name</template>
                      <el-input
                        id="mt-10"
                        v-model="menteeCredentials.lastName"
                        auto-complete="off"
                        placeholder="Please enter last name"
                      ></el-input>
                    </el-form-item>
                  </div>
                </div>
                <div class="row" id="mt-10">
                  <div class="col-md-6">
                    <el-form-item prop="phone_number">
                      <template v-slot:label>Phone</template>
                      <el-input
                        id="mt-10"
                        v-model="menteeCredentials.phone_number"
                        auto-complete="off"
                        placeholder="+443-234-11511"
                      ></el-input>
                    </el-form-item>
                  </div>
                  <div class="col-md-6">
                    <el-form-item prop="email">
                      <template v-slot:label>Email</template>
                      <el-input
                        id="mt-10"
                        v-model="menteeCredentials.email"
                        auto-complete="off"
                        placeholder="youremail@mail.com"
                      ></el-input>
                    </el-form-item>
                  </div>
                </div>
                <br /><br />
                <div class="row" id="mt-15">
                  <div class="col-md-4">
                    <el-form-item prop="age">
                      <template v-slot:label>Date of Birth</template>
                      <el-date-picker
                        type="date"
                        placeholder="Date of birth"
                        style="width: 100%; margin-top:-12px"
                        v-model="menteeCredentials.age"
                      >
                      </el-date-picker>
                    </el-form-item>
                  </div>
                  <div class="col-md-5 col-sm-12">
                    <el-form-item prop="country">
                      <template v-slot:label>Country</template>
                      <el-select
                        v-model="menteeCredentials.country"
                        filterable
                        placeholder="Select country"
                        style="width: 100%; margin-top:-12px"
                      >
                        <el-option
                          v-for="item in countries"
                          :key="item.code"
                          :label="item.name"
                          :value="item.name"
                        >
                        </el-option>
                      </el-select>
                    </el-form-item>
                  </div>
                  <div class="col-md-3">
                    <el-form-item prop="postCode">
                      <template v-slot:label>Post code</template>
                      <el-input
                        id="mt-10"
                        v-model="menteeCredentials.postCode"
                        auto-complete="off"
                        placeholder="0235A"
                      ></el-input>
                    </el-form-item>
                  </div>
                </div>

                <div class="row" id="mt-10">
                  <div class="col-md-5">
                    <el-form-item>
                      <template v-slot:label>Address</template>
                      <el-input
                        id="mt-10"
                        type="textarea"
                        :rows="2"
                        v-model="menteeCredentials.address"
                        placeholder="Bristol, 123AX"
                      >
                      </el-input>
                    </el-form-item>
                  </div>
                  <div class="col-md-4 col-sm-12">
                    <el-form-item prop="city">
                      <template v-slot:label>City</template>
                      <el-input
                        id="mt-10"
                        v-model="menteeCredentials.city"
                        auto-complete="off"
                        placeholder="Bristol"
                      ></el-input>
                    </el-form-item>
                  </div>
                  <div class="col-md-3 col-sm-12">
                    <label>State</label>
                    <el-input
                      v-model="menteeCredentials.state"
                      auto-complete="off"
                      placeholder="Lancashire"
                    ></el-input>
                  </div>
                </div>
                <br /><br />
                <div class="row" id="mt-15">
                  <div class="col-md-12">
                    <el-form-item prop="source">
                      <template v-slot:label>
                        How did you hear about our mentoring program?
                      </template>
                      <el-select
                        allow-create
                        filterable
                        clearable
                        default-first-option
                        v-model="menteeCredentials.source"
                        style="width:100%; margin-top:-12px"
                      >
                        <el-option
                          v-for="source in mentorSources"
                          :key="source"
                          :label="source"
                          :value="source"
                        >
                        </el-option>
                      </el-select>
                    </el-form-item>
                  </div>
                  <div class="col-md-12">
                    <el-form-item prop="mentored_before">
                      <template v-slot:label
                        >Have you mentored before?</template
                      >
                      <el-radio-group
                        size="mini"
                        v-model="menteeCredentials.mentored_before"
                      >
                        <el-radio border :label="1">Yes</el-radio>
                        <el-radio border :label="0">No</el-radio>
                      </el-radio-group>
                    </el-form-item>
                  </div>
                </div>
                <br />
                <div class="form-group row" v-if="mentoredBefore">
                  <div class="col-md-12">
                    <label>if yes, provide brief details</label>
                    <div class="col-sm-12">
                      <el-input
                        type="textarea"
                        autosize
                        :rows="2"
                        placeholder="Tell us how you went about your mentorship"
                        v-model="menteeCredentials.if_yes_explain"
                      >
                      </el-input>
                    </div>
                  </div>
                </div>
                <div class="form-group row" v-else>
                  <div class="col-md-12">
                    <label
                      >if no, would you like support on how to mentor?</label
                    >
                    <div class="col-sm-12">
                      <el-radio-group
                        size="mini"
                        v-model="menteeCredentials.field_mentored"
                      >
                        <el-radio border :label="1">Yes</el-radio>
                        <el-radio border :label="0">No</el-radio>
                      </el-radio-group>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-12">
                    <label
                      >Would you like to be mentored out of your field ?</label
                    >
                    <div class="col-sm-12">
                      <el-radio-group
                        size="mini"
                        v-model="menteeCredentials.out_of_field_mentored"
                      >
                        <el-radio border :label="1">Yes</el-radio>
                        <el-radio border :label="0">No</el-radio>
                      </el-radio-group>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-12">
                    <label>Update profile picture</label>
                    <div class="upload_wrap col-sm-12">
                      <input
                        type="file"
                        class="form-control-file"
                        @change="getUserImage"
                      />
                    </div>
                  </div>
                </div>
              </el-card>
            </div>
            <div class="col-md-6">
              <el-card shadow="always">
                <h1 class="form-header">
                  Professional & Educational Background
                </h1>
                <hr />
                <div class="row">
                  <div class="col-md-6">
                    <el-form-item prop="education">
                      <template v-slot:label>Education</template>
                      <el-input
                        id="mt-10"
                        v-model="menteeCredentials.education"
                        auto-complete="off"
                        placeholder="University of Bristol "
                      ></el-input>
                    </el-form-item>
                  </div>
                  <div class="col-md-6">
                    <el-form-item prop="qualification">
                      <template v-slot:label>Qualification</template>
                      <el-select
                        v-model="menteeCredentials.qualification"
                        style="width:100%; margin-top:-12px"
                      >
                        <el-option
                          v-for="qualification in qualifications"
                          :key="qualification"
                          :label="qualification"
                          :value="qualification"
                        ></el-option>
                      </el-select>
                    </el-form-item>
                  </div>
                </div>
                <div class="row" id="mt-10">
                  <div class="col-md-6">
                    <el-form-item prop="year_completed">
                      <template v-slot:label>Year Completed</template>
                      <el-input
                        id="mt-10"
                        v-model="menteeCredentials.year_completed"
                        placeholder="2014"
                      >
                      </el-input>
                    </el-form-item>
                  </div>
                  <div class="col-md-6">
                    <el-form-item prop="expertise">
                      <template v-slot:label>Graduated</template>
                      <el-radio-group
                        size="mini"
                        v-model="menteeCredentials.graduated"
                      >
                        <el-radio border :label="1">Yes</el-radio>
                        <el-radio border :label="0">No</el-radio>
                      </el-radio-group>
                    </el-form-item>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <el-form-item prop="occupation">
                      <template v-slot:label>Occupation</template>
                      <el-input
                        id="mt-10"
                        v-model="menteeCredentials.occupation"
                        auto-complete="off"
                        placeholder="Student"
                      ></el-input>
                    </el-form-item>
                  </div>
                  <div class="col-md-6">
                    <el-form-item>
                      <template v-slot:label
                        >Organization/Place of work</template
                      >
                      <el-input
                        id="mt-10"
                        v-model="menteeCredentials.organization"
                        auto-complete="off"
                        placeholder="Amazon, Google, McDonalds"
                      ></el-input>
                    </el-form-item>
                  </div>
                </div>
              </el-card>

              <el-card>
                <h1 class="form-header">Interest and Values</h1>
                <hr />
                <div class="row">
                  <div class="col-md-12">
                    <el-form-item prop="bio">
                      <template v-slot:label
                        >Summary of who you are, interest and personal
                        values</template
                      >
                      <el-input
                        id="mt-10"
                        type="textarea"
                        :rows="4"
                        placeholder="Bio"
                        v-model="menteeCredentials.bio"
                      >
                      </el-input>
                    </el-form-item>
                  </div>
                  <div class="col-md-12">
                    <el-form-item prop="why_do_you_want_to_mentor">
                      <template v-slot:label
                        >Why do you want to be Mentored?</template
                      >
                      <el-input
                        id="mt-10"
                        type="textarea"
                        :rows="3"
                        placeholder=""
                        v-model="
                          menteeCredentials.why_do_you_want_to_be_mentored
                        "
                      >
                      </el-input>
                    </el-form-item>
                  </div>

                  <div class="col-md-12">
                    <el-form-item prop="mentorship_areas">
                      <template v-slot:label
                        >Which specific area or areas can you provide mentoring
                        in?</template
                      >
                      <el-select
                        v-model="menteeCredentials.mentorship_areas"
                        placeholder="Select"
                        style="width: 100%; margin-top: -10px"
                      >
                        <el-option
                          v-for="item in mentorshipOptions"
                          :key="item"
                          :label="item"
                          :value="item"
                        >
                        </el-option>
                      </el-select>
                    </el-form-item>
                  </div>
                </div>
              </el-card>
            </div>
          </div>
          <br />
          <el-form-item style="text-align: right">
            <el-button @click="hideEditForm" size="small">Cancel</el-button>
            <el-button
              type="primary"
              size="small"
              icon="el-icon-edit"
              :loading="btnLoading"
              @click="editMentee()"
              >Update Mentee</el-button
            >
          </el-form-item>
        </el-form>
      </el-dialog>
    </el-card>
  </div>
</template>

<script>
import Vue from 'vue';
import is from 'is_js';
import { MessageBox } from 'element-ui';
import { mapGetters } from 'vuex';

import userService from '../../api/users';
import menteeService from '../../api/mentees';

Vue.use(require('vue-moment'));

export default {
  name: 'Mentees',
  data() {
    return {
      search: '',
      tableLoading: false,
      addMenteeVisible: false,
      editMenteeVisible: false,
      btnLoading: false,
      users: [],
      menteeIDs: null,
      mentorshipOptions: [
        'Leadership skills',
        'Confidence skills',
        'Public speaking/presentation skills',
        'Life/work balance',
        'Becoming a better manager/working with teams',
        'Career trajectories/next steps/5-year plans',
        'People skills',
        'Project Management',
      ],
      mentorSources: [
        'Facebook',
        'Friend',
        'Instagram',
        'Conference',
        'GTPA website',
      ],
      qualifications: [
        'Masters',
        'Degree',
        'Diploma',
        'Proffessional Certificate',
        'High School Cert',
        'Others',
      ],
      menteeCredentials: {
        id: null,
        user_id: null,
        occupation: '',
        organization: '',
        year_completed: '',
        graduated: 0,
        qualification: '',
        education: '',
        state: '',
        postCode: '',
        title: '',
        name: '',
        source: '',
        mentorship_areas: [],
        mentored_before: 0,
        if_yes_explain: '',
        field_mentored: 0,
        out_of_field_mentored: 0,
        why_do_you_want_to_be_mentored: '',
        bio: '',
        age: '',
        country: '',
        city: '',
        phone_number: '',
        address: '',
        lastName: '',
        firstName: '',
        email: '',
        pic: '',
      },
      tableData: [],
      tableProps: {
        style: 'width: 99%',
        emptyText: 'No Mentees',
        stripe: true,
      },
      currentPage: 1,
      total: 0,
      rules: {
        firstName: [
          {
            required: true,
            message: 'Please input first name',
            trigger: 'blur',
          },
        ],
        lastName: [
          {
            required: true,
            message: 'Please input last name',
            trigger: 'blur',
          },
        ],
        title: [
          { required: true, message: 'Title is required', trigger: 'blur' },
        ],
        phone_number: [
          { required: true, message: 'Number is required', trigger: 'blur' },
        ],
        email: [
          { required: true, message: 'Email is required', trigger: 'blur' },
        ],
        age: [{ required: true, message: 'Age is required', trigger: 'blur' }],
        country: [
          { required: true, message: 'Country is required', trigger: 'blur' },
        ],
        city: [
          { required: true, message: 'City is required', trigger: 'blur' },
        ],
        mentored_before: [
          { required: true, message: 'Field is required', trigger: 'blur' },
        ],
        source: [
          { required: true, message: 'Field is required', trigger: 'blur' },
        ],
        occupation: [
          { required: true, message: 'Ocupation is required', trigger: 'blur' },
        ],
        qualification: [
          {
            required: true,
            message: 'Qualification is required',
            trigger: 'blur',
          },
        ],
        mentorship_areas: [
          {
            required: true,
            message: 'Select mentorship areas',
            trigger: 'blur',
          },
        ],
        bio: [
          { required: true, message: 'Biography is required', trigger: 'blur' },
        ],
      },
    };
  },
  computed: {
    ...mapGetters({
      countries: 'getCountries',
    }),
    mentoredBefore: function() {
      return this.menteeCredentials.mentored_before == 1;
    },
  },
  created() {
    this.getMentees();
    this.getUsers();
  },
  methods: {
    getMentees() {
      this.tableLoading = true;
      menteeService
        .getMentees()
        .then((response) => {
          this.loadTable(response);
          this.setMenteeIDs(response);
        })
        .catch((errors) => this.errorMessage('Errors', errors.message));
    },
    getUsers() {
      let self = this;
      userService
        .getUsers()
        .then((response) => {
          this.users = response.users
            .filter(function(user) {
              return user.type == 'Mentee';
            })
            .filter(function(x) {
              return is.not.inArray(x.id, self.menteeIDs);
            });
        })
        .catch((errors) => this.errorMessage('Error', errors.message));
    },
    loadTable(data) {
      let table = data.mentees.map(function(el) {
        el.shortBio = el.bio.substring(0, 90) + '...';
        return el;
      });
      this.tableData = table;
      this.total = table.length;
      this.tableLoading = false;
    },
    setMenteeIDs(data) {
      this.menteeIDs = data.mentees.map(({ user_id }) => user_id);
    },
    confirmDelete(id) {
      MessageBox.confirm(
        'Are you sure you want to delete this mentee',
        'Warning',
        {
          confirmButtonText: 'OK',
          cancelButtonText: 'Cancel',
          type: 'warning',
        }
      )
        .then(() => {
          this.deleteMentee(id);
        })
        .catch(() => {
          this.errorMessage('Error', 'Delete cancelled');
        });
    },
    getUserImage(e) {
      let file = e.target.files[0];
      let reader = new FileReader();
      reader.readAsDataURL(file);
      if (file['size'] < 2111775) {
        reader.onloadend = (file) => {
          console.log(file);
          this.uploadImage(reader.result);
        };
      } else {
        this.$alert('Use images less than 2megabyte', 'Error', {
          confirmButtonText: 'OK',
          type: 'warning',
        });
      }
    },
    uploadImage(img) {
      let updateForm = {};
      updateForm.id = this.menteeCredentials.user_id;
      updateForm.pic = img;

      userService
        .updateUser(updateForm)
        .then((response) => {
          this.menteeCredentials.pic = response.user.pic;
          this.successMessage('Success', 'Profile pic updated successfully');
        })
        .catch(() =>
          this.errorMessage(
            'Errors',
            'User picture failed to update (User id check)'
          )
        );
    },
    addMentee() {
      let self = this;
      this.menteeCredentials.name =
        this.menteeCredentials.firstName +
        ' ' +
        this.menteeCredentials.lastName;
      this.btnLoading = true;
      console.log(this.menteeCredentials.name);
      this.$refs['menteeCredentials'].validate((valid) => {
        if (valid) {
          menteeService
            .addMentee(self.menteeCredentials)
            .then(() => {
              self.btnLoading = false;
              self.addMenteeVisible = false;
              self.successMessage('Success', 'Mentee Added successfully');
              self.getMentees();
            })
            .catch((errors) => {
              self.errorMessage('Error', errors.message);
              self.btnLoading = false;
            });
        } else {
          self.btnLoading = false;
          this.errorMessage(
            'Required',
            'Make sure all required filed is entered'
          );
          return false;
        }
      });
    },
    editMentee() {
      let self = this;
      this.menteeCredentials.name =
        this.menteeCredentials.firstName +
        ' ' +
        this.menteeCredentials.lastName;
      this.btnLoading = true;
      this.$refs['menteeCredentials'].validate((valid) => {
        if (valid) {
          menteeService
            .updateMentee(self.menteeCredentials)
            .then(() => {
              self.btnLoading = false;
              self.editMenteeVisible = false;
              self.successMessage('Success', 'Mentee updated successfully');
              self.getMentees();
            })
            .catch((errors) => {
              self.errorMessage('Error', errors.message);
              self.btnLoading = false;
            });
        } else {
          self.btnLoading = false;
          this.errorMessage(
            'Required',
            'Make sure all required filed is entered'
          );
          return false;
        }
      });
    },
    deleteMentee(id) {
      menteeService.removeMentee(id).then(() => {
        this.successMessage('Deleted', 'Mentee deleted successfully');
        this.getMentees();
      });
    },
    showAddForm() {
      this.addMenteeVisible = true;
    },
    handleCurrentChange(page) {
      this.currentPage = page;
    },
    hideEditForm() {
      let mentee = this.menteeCredentials;
      Object.keys(mentee).forEach((key) => (mentee[key] = null));
      this.editMenteeVisible = false;
    },
    showEditForm(mentee) {
      this.menteeCredentials.id = mentee.id;
      this.menteeCredentials.name = mentee.name;
      this.menteeCredentials.user_id = mentee.user_id;
      this.menteeCredentials.title = mentee.title;
      this.menteeCredentials.email = mentee.email;
      this.menteeCredentials.pic = mentee.pic;
      this.menteeCredentials.firstName = mentee.firstName;
      this.menteeCredentials.lastName = mentee.lastName;
      this.menteeCredentials.address = mentee.address;
      this.menteeCredentials.country = mentee.country;
      this.menteeCredentials.postCode = mentee.postCode;
      this.menteeCredentials.state = mentee.state;
      this.menteeCredentials.bio = mentee.bio;
      this.menteeCredentials.organization = mentee.organization;
      this.menteeCredentials.why_do_you_want_to_be_mentored =
        mentee.why_do_you_want_to_be_mentored;
      this.menteeCredentials.city = mentee.city;
      this.menteeCredentials.year_completed = mentee.year_completed;
      this.menteeCredentials.education = mentee.education;
      this.menteeCredentials.mentorship_areas = mentee.mentorship_areas;
      this.menteeCredentials.mentored_before = mentee.mentored_before ? 1 : 0;
      this.menteeCredentials.field_mentored = mentee.field_mentored ? 1 : 0;
      this.menteeCredentials.field_mentored = mentee.field_mentored ? 1 : 0;
      this.menteeCredentials.source = mentee.source;
      this.menteeCredentials.phone_number = mentee.phone_number;
      this.menteeCredentials.age = mentee.age;
      this.menteeCredentials.if_yes_explain = mentee.if_yes_explain;
      this.menteeCredentials.occupation = mentee.occupation;
      this.menteeCredentials.qualification = mentee.qualification;
      this.editMenteeVisible = true;
    },
  },
};
</script>
