<template>
  <div>
    <el-card class="box-card">
      <div slot="header" class="clearfix">
        <span id="pageHead">Requests</span>
        <el-input
          style="width:400px; float:right;"
          placeholder="Search"
          v-model="search"
        >
          <i slot="prefix" class="el-input__icon el-icon-search"></i>
        </el-input>
      </div>
      <div>
        <el-table
          v-loading="tableLoading"
          :data="
            tableData.filter(
              (data) =>
                !search ||
                data.name.toLowerCase().includes(search.toLowerCase())
            )
          "
          :table-props="tableProps"
        >
          <el-table-column type="expand">
            <template slot-scope="props">
              <p>
                <b>Reason For Reject:</b> {{ props.row.reasons_for_reject }}
              </p>
              <p><b>Duration:</b> {{ props.row.duration }}</p>
              <p><b>Location:</b> {{ props.row.location }}</p>
              <p>
                <b>Sent date:</b>
                {{ props.row.created_at | moment('MMMM Do YYYY') }}
              </p>
            </template>
          </el-table-column>

          <el-table-column label="Sent by" width="230px">
            <template slot-scope="props">
              <span style="float:left; margin-right:10px;"
                ><img :src="props.row.mentee.pic" alt="" style="width:40px;"
              /></span>
              <span
                ><b>{{ props.row.sender }}</b> <br />
                <span style="font-size:12px;">{{
                  props.row.mentee.email
                }}</span>
              </span>
            </template>
          </el-table-column>

          <el-table-column label="Mentor" width="230px">
            <template slot-scope="props">
              <span style="float:left; margin-right:10px;"
                ><img :src="props.row.mentor.pic" alt="" style="width:40px;"
              /></span>
              <span
                ><b>{{ props.row.mentor.name }}</b> <br />
                <span style="font-size:12px;">{{
                  props.row.mentor.email
                }}</span>
              </span>
            </template>
          </el-table-column>

          <el-table-column prop="status" label="Status" align="center">
            <template slot-scope="props">
              <el-tag
                size="small"
                :type="
                  props.row.status == 'REJECTED'
                    ? 'danger'
                    : props.row.status == 'PENDING'
                    ? 'warning'
                    : 'success'
                "
              >
                {{ props.row.status }}
              </el-tag>
            </template>
          </el-table-column>

          <el-table-column prop="commencement_date" label="Start Date">
            <template slot-scope="props">
              <span>{{
                props.row.commencement_date | moment('MMMM Do YYYY')
              }}</span>
            </template>
          </el-table-column>

          <el-table-column label="Feedbacks">
            <template slot-scope="props">
              <el-tag
                size="small"
                :type="props.row.feedbackSent == 1 ? 'success' : 'warning'"
                >{{ props.row.feedback }}</el-tag
              >
            </template>
          </el-table-column>

          <el-table-column label="Actions">
            <template slot-scope="scope">
              <el-tooltip
                class="item"
                effect="dark"
                content="Send Users Feedback form"
                placement="top"
              >
                <el-button
                  icon="el-icon-s-promotion"
                  size="mini"
                  type="success"
                  @click="checkFeedback(scope.row)"
                />
              </el-tooltip>
              <el-button
                icon="el-icon-edit"
                size="mini"
                type="primary"
                @click="showEditRequest(scope.row)"
              />
              <el-button
                type="danger"
                size="mini"
                icon="el-icon-delete"
                @click="confirmDelete(scope.row.id)"
              />
            </template>
          </el-table-column>
        </el-table>
        <div style="text-align: center;margin-top: 10px; padding-bottom:10px;">
          <el-pagination
            background
            @current-change="handleCurrentChange"
            :current-page.sync="currentPage"
            :page-sizes="[20, 50, 100]"
            :page-size="20"
            layout="prev, pager, next, jumper, sizes, total"
            :total="total"
          >
          </el-pagination>
        </div>
      </div>

      <el-dialog
        :visible.sync="showEditRequestModal"
        title="Edit a request"
        width="35%"
      >
        <el-form :model="requestForm" :rules="rules" ref="requestForm">
          <div class="row" id="mt-10">
            <div class="col-md-12">
              <el-form-item prop="duration">
                <template v-slot:label>Duration</template>
                <el-select v-model="requestForm.duration" style="width:100%;">
                  <el-option label="2 weeks" value="2 weeks"></el-option>
                  <el-option label="4 weeks" value="4 weeks"></el-option>
                  <el-option label="2 months" value="2 months"></el-option>
                  <el-option label="3 months" value="3 months"></el-option>
                  <el-option label="6 months" value="6 months"></el-option>
                </el-select>
              </el-form-item>
            </div>
            <div class="col-md-12">
              <el-form-item prop="commencement_date">
                <template v-slot:label>Commencement Date</template>
                <el-date-picker
                  type="date"
                  placeholder="Start date"
                  style="width: 100%;"
                  v-model="requestForm.commencement_date"
                >
                </el-date-picker>
              </el-form-item>
            </div>
            <div class="col-md-12">
              <el-form-item prop="location">
                <template v-slot:label>Location</template>
                <el-select
                  v-model="requestForm.location"
                  filterable
                  placeholder="Select your location"
                  style="width: 100%;"
                >
                  <el-option
                    v-for="item in countries"
                    :key="item.code"
                    :label="item.name"
                    :value="item.name"
                  >
                  </el-option>
                </el-select>
              </el-form-item>
            </div>
            <br /><br /><br />
            <div class="col-md-12">
              <el-form-item prop="description">
                <template v-slot:label>Say something to your mentor?</template>
                <el-input
                  type="textarea"
                  :rows="3"
                  placeholder=""
                  v-model="requestForm.description"
                >
                </el-input>
              </el-form-item>
            </div>
          </div>
          <el-form-item style="text-align: right; margin-bottom:-12px;">
            <el-button
              type="primary"
              :loading="btnLoading"
              @click="updateRequest()"
              size="mini"
            >
              Update
            </el-button>
          </el-form-item>
        </el-form>
      </el-dialog>
    </el-card>
  </div>
</template>

<script>
import Vue from 'vue';
import requestService from '../../api/requests';
import feedbackService from '../../api/feedbacks';
import { mapGetters } from 'vuex';

Vue.use(require('vue-moment'));

export default {
  name: 'Requests',
  data() {
    return {
      search: '',
      tableLoading: false,
      btnLoading: false,
      showEditRequestModal: false,
      tableData: [],
      tableProps: {
        style: 'width: 99%',
        emptyText: 'No Mentors',
        stripe: true,
      },
      currentPage: 1,
      total: 0,
      requestForm: {
        duration: '',
        commencement_date: '',
        description: '',
        location: '',
        mentor_id: null,
        mentee_id: null,
      },
      feedBackForm: {
        mentor_id: null,
        mentee_id: null,
        sent: 0,
      },
      rules: {
        description: [
          {
            min: 15,
            message: 'Length should be 20 or more characters',
            trigger: 'blur',
          },
        ],
        commencement_date: [
          {
            required: true,
            message: 'Please choose a date',
            trigger: ['blur', 'change'],
          },
        ],
        duration: [
          {
            required: true,
            message: 'Duration field is required',
            trigger: 'blur',
          },
        ],
      },
    };
  },
  created() {
    this.getRequests();
  },
  computed: {
    ...mapGetters({
      countries: 'getCountries',
    }),
  },
  methods: {
    getRequests() {
      this.tableLoading = true;
      requestService
        .getRequests()
        .then((response) => this.loadTable(response))
        .catch((errors) => this.errorMessage('Errors', errors.message));
    },
    loadTable(data) {
      let table = data.requests.map(function(el) {
        el.sender = el.mentee.name;
        el.reasons_for_reject =
          el.reasons_for_reject == '' ? 'None' : el.reasons_for_reject;

        el.feedback = !el.feedbackSent ? 'Not sent' : 'Sent';
        return el;
      });
      this.tableData = table;
      this.total = table.length;
      this.tableLoading = false;
    },
    updateRequest() {
      this.btnLoading = true;
      requestService
        .updateRequest(this.requestForm)
        .then(() => {
          this.btnLoading = false;
          this.showEditRequestModal = false;
          this.successMessage('Success', 'Request updated successfully');
          this.getRequests();
        })
        .catch((errors) => {
          this.btnLoading = false;
          this.errorMessage('Errors', errors.message);
        });
    },
    checkFeedback(request) {
      var dx = new Date(request.created_at).getDate();
      var d = new Date(request.created_at).setDate(dx + 14);

      var date = new Date(d);
      console.log(date.toUTCString());

      if (request.status == 'PENDING' || request.status == 'REJECTED') {
        this.$confirm(
          "You can't send feedback forms to a pending/rejected request.",
          'Error sending forms',
          {
            confirmButtonText: 'OK',
            type: 'warning',
          }
        );
      } else if (request.status == 'ACCEPTED' && request.feedbackSent) {
        this.feedBackForm.mentor_id = request.mentor_id;
        this.feedBackForm.mentee_id = request.mentee_id;
        this.sendFeedbackForm();
      } else {
        this.$confirm(
          "You've already sent a form to this request ",
          'Error sending forms',
          {
            confirmButtonText: 'OK',
            type: 'warning',
          }
        );
      }
    },
    sendFeedbackForm() {
      this.$confirm(
        'Are you sure you want to send a feedback Form. Continue?',
        'Warning',
        {
          confirmButtonText: 'OK',
          cancelButtonText: 'Cancel',
          type: 'warning',
        }
      )
        .then(() => {
          feedbackService
            .sendFeedback(this.feedBackForm)
            .then(() => {
              this.successMessage('Feedback', 'Feedback sent successfully');
            })
            .catch((errors) => this.errorMessage('Error', errors.message));
        })
        .catch(() => {});
    },
    confirmDelete(id) {
      this.$confirm(
        'This will permanently delete the request. Continue?',
        'Warning',
        {
          confirmButtonText: 'OK',
          cancelButtonText: 'Cancel',
          type: 'warning',
        }
      )
        .then(() => {
          this.deleteRequest(id);
        })
        .catch(() => {});
    },
    deleteRequest(id) {
      requestService
        .removeRequest(id)
        .then(() => {
          this.successMessage('Deleted', 'Requests deleted successfully');
          this.getRequests();
        })
        .catch((errors) => this.errorMessage('Error', errors.message));
    },
    handleCurrentChange(page) {
      this.currentPage = page;
    },
    showEditRequest(request) {
      this.requestForm.id = request.id;
      this.requestForm.duration = request.duration;
      this.requestForm.commencement_date = request.commencement_date;
      this.requestForm.description = request.description;
      this.requestForm.location = request.location;
      this.requestForm.mentor_id = request.mentor_id;
      this.requestForm.mentee_id = request.mentee_id;
      this.showEditRequestModal = true;
    },
  },
};
</script>
