<template>
  <div>
    <el-alert
      title="Hope you keeping safe during these COVID-19 times. #staySafe 😀"
      type="success"
      :closable="false"
      effect="dark"
      center
    >
    </el-alert>
    <AuthHeader
      :user.sync="user"
      :userLoggedIn.sync="userLoggedIn"
    ></AuthHeader>
    <section class="inner_wrap form_wrap dashboard_wrap" v-show="userLoggedIn">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2 class="big_title">Dashboard</h2>
          </div>
        </div>

        <div class="row">
          <div class="content_wrap">
            <div class="head_titles">
              <div class="row">
                <div class="col col-3 item">
                  <router-link to="/user-dashboard/mentorship">
                    <span v-show="isMentee">
                      <i class="fas fa-user-tie"></i>Mentors
                    </span>
                    <span v-show="isMentor">
                      <i class="fas fa-user-tie"></i>Mentees
                    </span>
                  </router-link>
                </div>
                <div class="col col-3 item">
                  <router-link to="/user-dashboard/user-requests">
                    <el-badge :value="requestNumber" class="item" :max="5">
                      <i class="fas fa-feather"></i> My Requests
                    </el-badge>
                  </router-link>
                </div>
                <div class="col col-3 item">
                  <router-link to="/user-dashboard/messages">
                    <i class="fas fa-comment"></i>Messages
                  </router-link>
                </div>
                <div class="col col-3 item">
                  <router-link to="/user-dashboard/feedback">
                    <i class="fas fa-reply"></i> Feedback
                  </router-link>
                </div>
              </div>
            </div>
            <div class="content_body">
              <router-view></router-view>
            </div>
          </div>
        </div>
      </div>
    </section>
    <Footer />
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import userService from '../../api/users';
import AuthHeader from '../sections/AuthHeader';
import Footer from '../sections/Footer';

export default {
  name: 'userDashboard',
  components: { AuthHeader, Footer },
  data() {
    return {
      numberOfRequests: 0,
      hasNoRequest: true,
    };
  },
  computed: {
    ...mapGetters({
      user: 'getUser',
      mentor: 'getMentor',
      mentee: 'getMentee',
      isMentee: 'isMentee',
      isMentor: 'isMentor',
      requestNumber: 'requestNumber',
      userLoggedIn: 'userLoggedIn',
    }),
  },
  watch: {
    requestNumber: function(v) {
      this.numberOfRequests = v;
    },
  },
  created() {
    this.setUserActive();
    this.getUserRequest();
  },
  methods: {
    setUserActive() {
      let user = {
        id: this.user.id,
        last_active: new Date(),
      };
      userService
        .updateUser(user)
        .then(() => {})
        .catch((errors) => this.errorMessage('Errors', errors.message));
    },
    getUserRequest() {
      let self = this;
      if (this.isMentor) {
        self.$store.dispatch('setUserRequest', this.mentor.id);
      } else if (this.isMentee) {
        self.$store.dispatch('setUserRequest', this.mentee.id);
      }
    },
  },
};
</script>

<style scoped>
a.router-link-exact-active {
  font-weight: bold;
  font-size: 18px;
  color: rgb(49, 26, 175);
}
</style>
