<template>
  <div>
    <el-card class="box-card">
      <div class="clearfix">
        <h3 id="pageHead">Application Users</h3>
        <span>
          <el-button
            type="primary"
            icon="el-icon-circle-plus-outline"
            size="small"
            @click="showAddUserForm('app')"
          >
            Add App User
          </el-button>
        </span>

        <el-input
          style="width:400px; float:right;"
          placeholder="Search"
          v-model="search"
        >
          <i slot="prefix" class="el-input__icon el-icon-search"></i>
        </el-input>
      </div>
      <br />
      <div>
        <el-table
          v-loading="tableLoading"
          :data="
            appUsersData.filter(
              (data) =>
                !search ||
                data.name.toLowerCase().includes(search.toLowerCase())
            )
          "
          :table-props="tableProps"
        >
          <el-table-column prop="name" label="Name">
            <template slot-scope="props">
              <span>{{ props.row.name }}</span> <br />
              <el-tag v-show="props.row.suspended" type="danger" size="mini">
                User is suspended
              </el-tag>
            </template>
          </el-table-column>
          <el-table-column prop="email" label="Email" width="200px" />

          <el-table-column label="Requests" prop="requests" />

          <el-table-column prop="type" label="User Type">
            <template slot-scope="props">
              <el-tag size="small" :type="getUserTypeTag(props.row.type)">
                {{ props.row.type }}
              </el-tag>
            </template>
          </el-table-column>

          <el-table-column prop="created_at" label="Joined">
            <template slot-scope="props">
              {{ props.row.created_at | moment('MMMM Do YYYY') }}
            </template>
          </el-table-column>

          <el-table-column label="Actions">
            <template slot-scope="scope">
              <el-tooltip
                class="item"
                v-if="scope.row.suspended"
                effect="dark"
                content="Bring back user from suspention"
                placement="top"
              >
                <el-button
                  icon="el-icon-check"
                  size="mini"
                  type="info"
                  @click="confirmUnsuspend(scope.row.id)"
                />
              </el-tooltip>
              <el-tooltip
                class="item"
                v-else
                effect="dark"
                content="Suspend User from application"
                placement="top"
              >
                <el-button
                  icon="el-icon-warning-outline"
                  size="mini"
                  type="warning"
                  @click="confirmSuspend(scope.row.id)"
                />
              </el-tooltip>
              <el-button
                icon="el-icon-edit"
                size="mini"
                type="primary"
                @click="showEditForm(scope.row)"
              >
              </el-button>
              <el-button
                type="danger"
                size="mini"
                icon="el-icon-delete"
                @click="confirmDelete(scope.row.id)"
              >
              </el-button>
            </template>
          </el-table-column>
        </el-table>
        <div style="text-align: center;margin-top: 10px; padding-bottom:10px;">
          <el-pagination
            background
            @current-change="handleCurrentChange"
            :current-page.sync="currentPage"
            :page-sizes="[20, 50, 100]"
            :page-size="20"
            layout="prev, pager, next, jumper, sizes, total"
            :total="total"
          >
          </el-pagination>
        </div>
      </div>

      <br /><br />
      <hr />
      <br />
      <!-- System users -->
      <div class="clearfix">
        <h3 id="pageHead">System Users</h3>
        <span>
          <el-button
            type="primary"
            icon="el-icon-circle-plus-outline"
            size="small"
            @click="showAddUserForm('system')"
          >
            Add System User
          </el-button>
        </span>
        <el-input
          style="width:400px; float:right;"
          placeholder="Search"
          v-model="searchusers"
        >
          <i slot="prefix" class="el-input__icon el-icon-search"></i>
        </el-input>
      </div>
      <br />
      <div>
        <el-table
          v-loading="tableLoading"
          :data="
            systemUsersData.filter(
              (data) =>
                !searchusers ||
                data.name.toLowerCase().includes(searchusers.toLowerCase())
            )
          "
          :table-props="tableProps"
        >
          <el-table-column prop="name" label="Name" />

          <el-table-column prop="email" label="Email" width="220px" />

          <el-table-column prop="type" label="User Type">
            <template slot-scope="props">
              <el-tag size="small" :type="getUserTypeTag(props.row.type)">
                {{ props.row.type }}
              </el-tag>
            </template>
          </el-table-column>

          <el-table-column prop="created_at" label="Joined">
            <template slot-scope="props">
              {{ props.row.created_at | moment('MMMM Do YYYY') }}
            </template>
          </el-table-column>

          <el-table-column label="Actions" v-if="isSuperAdmin">
            <template slot-scope="scope">
              <el-button
                icon="el-icon-edit"
                size="mini"
                type="primary"
                @click="showEditForm(scope.row)"
              >
              </el-button>
              <el-button
                type="danger"
                size="mini"
                icon="el-icon-delete"
                @click="confirmDelete(scope.row.id)"
              >
              </el-button>
            </template>
          </el-table-column>
        </el-table>
        <div style="text-align: center;margin-top: 10px; padding-bottom:10px;">
          <el-pagination
            background
            @current-change="handleCurrentChange"
            :current-page.sync="currentPage"
            :page-sizes="[20, 50, 100]"
            :page-size="20"
            layout="prev, pager, next, jumper, sizes, total"
            :total="totalSystemUsers"
          >
          </el-pagination>
        </div>
      </div>

      <!-- Add user dialogue -->
      <el-dialog
        :visible.sync="addUserFormVisible"
        :close-on-click-modal="true"
        title="Add a user"
        width="40%"
      >
        <el-form
          style="margin-top: -12px;"
          :model="userCredentials"
          :rules="rules"
          ref="userCredentials"
        >
          <div class="row">
            <div class="col-md-6">
              <el-form-item prop="name">
                <template v-slot:label>Name</template>
                <el-input
                  v-model="userCredentials.name"
                  auto-complete="off"
                  placeholder="Enter name"
                ></el-input>
              </el-form-item>
            </div>
            <div class="col-md-6">
              <el-form-item prop="name">
                <template v-slot:label>Email</template>
                <el-input
                  v-model="userCredentials.email"
                  auto-complete="off"
                  placeholder="Enter email"
                ></el-input>
              </el-form-item>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <el-form-item prop="password">
                <template v-slot:label>Password</template>
                <el-input
                  type="password"
                  v-model="userCredentials.password"
                  auto-complete="off"
                  placeholder="*********"
                ></el-input>
              </el-form-item>
            </div>
            <div class="col-md-6">
              <el-form-item prop="type">
                <template v-slot:label>User Type</template>
                <el-select v-model="userCredentials.type" style="width:100%;">
                  <span v-if="editSystemUser">
                    <el-option
                      label="Super Admin"
                      value="Super Admin"
                      v-show="isSuperAdmin"
                    ></el-option>
                    <el-option
                      label="Admin"
                      value="Admin"
                      v-show="isSuperAdmin"
                    ></el-option>
                    <el-option label="Editor" value="Editor"></el-option>
                  </span>
                  <span v-if="editAppUser">
                    <el-option label="Mentor" value="Mentor"></el-option>
                    <el-option label="Mentee" value="Mentee"></el-option>
                  </span>
                </el-select>
              </el-form-item>
            </div>
          </div>

          <div style="text-align: right">
            <el-button
              type="primary"
              size="mini"
              :loading="btnLoading"
              @click="addUser()"
              icon="el-icon-plus"
            >
              Add User
            </el-button>
          </div>
        </el-form>
      </el-dialog>

      <!-- Edit user dialogue -->
      <el-dialog
        :visible.sync="editUserFormVisible"
        :close-on-click-modal="true"
        title="Edit user"
        width="40%"
      >
        <el-form
          style="margin-top: -12px;"
          :model="userCredentials"
          :rules="rules"
          ref="userCredentials"
        >
          <div class="row">
            <div class="col-md-6">
              <el-form-item prop="name">
                <template v-slot:label>Name</template>
                <el-input
                  v-model="userCredentials.name"
                  auto-complete="off"
                  placeholder="Enter name"
                ></el-input>
              </el-form-item>
            </div>
            <div class="col-md-6">
              <el-form-item prop="name">
                <template v-slot:label>Email</template>
                <el-input
                  v-model="userCredentials.email"
                  auto-complete="off"
                  placeholder="Enter email"
                ></el-input>
              </el-form-item>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <el-form-item prop="type">
                <template v-slot:label>User Type</template>
                <el-select v-model="userCredentials.type" style="width:100%;">
                  <el-option
                    label="Super Admin"
                    value="Super Admin"
                    v-show="isSuperAdmin"
                  ></el-option>
                  <el-option
                    label="Admin"
                    value="Admin"
                    v-show="isSuperAdmin"
                  ></el-option>
                  <el-option label="Editor" value="Editor"></el-option>
                  <el-option label="Mentee" value="Mentee"></el-option>
                  <el-option label="Mentor" value="Mentor"></el-option>
                </el-select>
              </el-form-item>
            </div>
          </div>

          <div style="text-align: right">
            <el-button
              type="primary"
              size="mini"
              :loading="btnLoading"
              @click="editUser()"
              icon="el-icon-edit"
            >
              Edit User
            </el-button>
          </div>
        </el-form>
      </el-dialog>
    </el-card>
  </div>
</template>

<script>
import Vue from 'vue';
import is from 'is_js';
import { mapGetters } from 'vuex';
import userService from '../../api/users';

Vue.use(require('vue-moment'));

export default {
  name: 'Mentors',
  data() {
    return {
      search: '',
      searchusers: '',
      tableLoading: false,
      addUserFormVisible: false,
      editUserFormVisible: false,
      btnLoading: false,
      showPassword: true,
      editSystemUser: false,
      editAppUser: false,
      tableData: [],
      systemUsersData: [],
      appUsersData: [],
      tableProps: {
        style: 'width: 99%',
        emptyText: 'No Mentors',
        stripe: true,
      },
      userCredentials: {
        id: '',
        name: '',
        email: '',
        password: '',
        type: '',
      },
      currentPage: 1,
      total: 0,
      totalSystemUsers: 0,
      rules: {
        name: [
          { required: true, message: 'Please input name', trigger: 'blur' },
        ],
        email: [
          { required: true, message: 'Email is required', trigger: 'blur' },
        ],
        password: [
          { required: true, message: 'Password is required', trigger: 'blur' },
        ],
      },
    };
  },
  computed: {
    ...mapGetters({
      isAdmin: 'getAdmin',
      isSuperAdmin: 'getSuperAdmin',
      isEditor: 'getEditor',
    }),
  },
  created() {
    this.getUsers();
  },
  methods: {
    getUsers() {
      this.tableLoading = true;
      userService
        .getUsers()
        .then((response) => this.loadTable(response))
        .catch((errors) => this.errorMessage('Errors', errors.message));
    },
    loadTable(data) {
      let systemusers = ['Admin', 'Editor', 'Super Admin'];
      let appUsers = ['Mentee', 'Mentor'];

      this.appUsersData = data.users
        .filter(function(user) {
          return is.not.inArray(user.type, systemusers);
        })
        .map(function(el) {
          el.requestStatus = el.sent_a_request === 1 ? 'Yes' : 'Not Yet';
          return el;
        });

      this.systemUsersData = data.users
        .filter(function(user) {
          return is.not.inArray(user.type, appUsers);
        })
        .map(function(el) {
          el.requestStatus = el.sent_a_request === 1 ? 'Yes' : 'Not Yet';
          return el;
        });

      this.totalSystemUsers = this.systemUsersData.length;
      this.total = this.appUsersData.length;
      this.tableLoading = false;
    },
    addUser() {
      this.btnLoading = true;
      userService.addUser(this.userCredentials).then(() => {
        this.btnLoading = false;
        this.addUserFormVisible = false;
        this.successMessage('Success', 'User added');
        this.getUsers();
      });
    },
    editUser() {
      this.btnLoading = true;
      userService
        .updateUser(this.userCredentials)
        .then(() => {
          this.btnLoading = false;
          this.editUserFormVisible = false;
          this.successMessage('Success', 'User edited successfully');
          this.getUsers();
        })
        .catch((errors) => this.errorMessage('Errors', errors.message));
    },
    confirmSuspend(id) {
      this.$confirm(
        'Are you sure you want to suspend user for 14-days. Continue?',
        'Warning',
        {
          confirmButtonText: 'OK',
          cancelButtonText: 'Cancel',
          type: 'warning',
        }
      )
        .then(() => {
          this.suspendUser(id);
        })
        .catch(() => {
          this.errorMessage('Error', 'Suspension Canceled');
        });
    },
    confirmUnsuspend(id) {
      this.$confirm(
        'Are you sure you want to unsuspend user. Continue?',
        'Warning',
        {
          confirmButtonText: 'OK',
          cancelButtonText: 'Cancel',
          type: 'warning',
        }
      )
        .then(() => {
          this.unSuspendUser(id);
        })
        .catch(() => {
          this.errorMessage('Error', 'Suspension Canceled');
        });
    },
    unSuspendUser(id) {
      let user = {
        id: id,
        suspended: 0,
      };
      userService
        .updateUser(user)
        .then(() => {
          this.successMessage('Success', 'User successfully unsuspended');
          this.getUsers();
        })
        .catch((errors) =>
          this.errorMessage('Suspension failed', errors.message)
        );
    },
    suspendUser(id) {
      let user = {
        id: id,
        suspended: 1,
      };
      userService
        .updateUser(user)
        .then(() => {
          this.successMessage('Success', 'User successfully suspended');
          this.getUsers();
        })
        .catch((errors) =>
          this.errorMessage('Suspension failed', errors.message)
        );
    },
    confirmDelete(id) {
      this.$confirm(
        'This will permanently delete the user. Continue?',
        'Warning',
        {
          confirmButtonText: 'OK',
          cancelButtonText: 'Cancel',
          type: 'warning',
        }
      )
        .then(() => {
          this.deleteUser(id);
        })
        .catch(() => {
          this.errorMessage('Error', 'Delete Canceled');
        });
    },
    deleteUser(id) {
      userService
        .removeUser(id)
        .then(() => {
          this.successMessage('Deleted', 'Mentor deleted successfully');
          this.getMentors();
        })
        .catch((errors) => {
          this.errorMessage('Error', errors.message);
        });
    },
    showAddUserForm(modal) {
      this.editAppUser = modal == 'app';
      this.editSystemUser = modal == 'system';
      this.addUserFormVisible = true;
    },
    hideEditForm() {
      this.addUserFormVisible = false;
    },
    handleCurrentChange(page) {
      this.currentPage = page;
    },
    showEditForm(user) {
      this.userCredentials.id = user.id;
      this.userCredentials.name = user.name;
      this.userCredentials.email = user.email;
      this.userCredentials.type = user.type;
      delete this.userCredentials.password;
      this.editUserFormVisible = true;
    },
  },
};
</script>

<style></style>
