<template>
  <div>
    <MenteeAccount v-if="isMentee" />
    <MentorAccount v-if="isMentor" />
  </div>
</template>

<script>
import { mapGetters } from "vuex";

import MenteeAccount from "../components/mentee/MenteeAccount";
import MentorAccount from "../components/mentor/MentorAccount";

export default {
  name: "Account",
  components: {
    MenteeAccount,
    MentorAccount
  },
  computed: {
    ...mapGetters({
      isMentor: "isMentor",
      isMentee: "isMentee"
    })
  }
};
</script>
