<template>
  <div>
    <section class="inner_wrap form_wrap profile_wrap">
      <div style="padding:20px; background:rgb(72, 90, 252); margin-top:-20px;">
        <div class="container">
          <h2 style="font-size:20px; color:white; font-weight:bold;">
            Profile
          </h2>
        </div>
      </div>

      <div class="container" style="margin-top:20px;">
        <div class="row">
          <div class="col-md-4">
            <div class="mentor_list">
              <ul>
                <li class="item">
                  <a>
                    <div class="row">
                      <div class="col-md-2 col-sm-2">
                        <div class="photo">
                          <img :src="mentor.pic" alt="" />
                        </div>
                      </div>
                      <div class="col-md-10 col-sm-10">
                        <div class="info">
                          <p class="name" style="font-size:15px;">
                            {{ mentor.name }}
                            <el-tag effect="plain" size="mini">Mentor</el-tag>
                          </p>
                          <span style="font-size:12px;"
                            ><b>Interests:</b>
                            {{ mentor.mentorship_areas }}</span
                          ><br />
                          <span style="font-size:12px;"
                            >Occupation: {{ mentor.occupation }}</span
                          >
                        </div>
                      </div>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
            <el-card shadow="always">
              <div>
                <span>Organization</span> <br />
                {{ mentor.organization }}
              </div>
              <hr />
              <div>
                <span>Date of</span> <br />
                {{ mentor.age }}
              </div>
              <hr />
              <div>
                <span>Phone Number</span> <br />
                {{ mentor.phone_number }}
              </div>
              <hr />
              <div>
                <span>Profile Progress</span> <br />
                <el-progress :percentage="80"></el-progress>
              </div>
            </el-card>
          </div>
          <div class="col-md-8">
            <el-card shadow="always">
              <el-tabs type="border-card">
                <el-tab-pane label="Professional Background">
                  <h2 class="heading">My professional background</h2>
                  <span>{{ mentor.bio }}</span>
                  <hr />
                  <h2 class="heading">Why i want to mentor you</h2>
                  <span>{{ mentor.why_do_you_want_to_mentor }}</span>
                  <hr />
                  <h2 class="heading">
                    Mentored before:
                    <el-tag
                      size="small"
                      :type="mentor.mentored_before ? 'success' : 'danger'"
                    >
                      {{ mentor.mentored_before ? 'Yes' : 'No' }}
                    </el-tag>
                  </h2>
                  <hr />
                  <div v-if="mentor.mentored_before">
                    <h2 class="heading">
                      Brief details on previous mentorship
                    </h2>
                    <span>{{ mentor.if_yes_explain }}</span>
                  </div>
                  <div v-else>
                    <h2 class="heading">
                      Receive mentoring support:
                      <el-tag
                        size="small"
                        :type="
                          mentor.support_on_how_to_mentor ? 'success' : 'danger'
                        "
                      >
                        {{ mentor.support_on_how_to_mentor ? 'Yes' : 'No' }}
                      </el-tag>
                    </h2>
                  </div>
                </el-tab-pane>
                <el-tab-pane label="Experience and work">
                  <el-card>
                    <h2 class="heading">Basic Information</h2>
                    <hr />
                    <span
                      ><span class="bold">Country:</span>
                      {{ mentor.country }}</span
                    >
                    <br />
                    <span
                      ><span class="bold">City:</span> {{ mentor.city }}</span
                    >
                    <br />
                    <span
                      ><span class="bold">Address:</span>
                      {{ mentor.address }}</span
                    >
                    <br />
                    <span
                      ><span class="bold">State:</span> {{ mentor.state }}</span
                    >
                    <br />
                    <span
                      ><span class="bold">Post Code:</span>
                      {{ mentor.postCode }}</span
                    >
                    <br />
                    <hr />
                    <h2 class="heading">Work Information</h2>
                    <hr />
                    <span
                      ><span class="bold">Industry:</span>
                      {{ mentor.industry }}</span
                    >
                    <br />
                    <span
                      ><span class="bold">Job title:</span>
                      {{ mentor.occupation }}</span
                    >
                    <br />
                    <span
                      ><span class="bold">Company:</span>
                      {{ mentor.organization }}</span
                    >
                    <br />
                    <span
                      ><span class="bold">Years of experince:</span>
                      {{ mentor.years_of_exp }} years</span
                    ><br />
                    <span
                      ><span class="bold">Expertise:</span>
                      {{ mentor.expertise }}</span
                    >
                    <br />
                  </el-card>
                </el-tab-pane>
              </el-tabs>
            </el-card>
            <br /><br />
            <el-button
              style="width:100%;"
              type="primary"
              @click="showRequest(mentor.id, mentor.mentorship_areas)"
            >
              SEND REQUEST
            </el-button>
          </div>
        </div>
      </div>
    </section>
    <RequestForm
      :mentorId="selectedId"
      :areas="mentorAreas"
      :showModal="showRequestModal"
    />
  </div>
</template>

<script>
import mentorService from '../api/mentors';
import RequestForm from '../components/RequestForm';

export default {
  name: 'userMentorProfile',
  components: { RequestForm },
  data() {
    return {
      mentor: [],
      showRequestModal: false,
      selectedId: null,
      mentorAreas: null,
    };
  },
  created() {
    this.getMentor(this.$route.params.id);
  },
  methods: {
    getMentor(id) {
      mentorService
        .getMentorByiD(id)
        .then((response) => {
          this.mentor = response.mentor;
        })
        .catch((errors) => this.errorMessage('error', errors));
    },
    showRequest(mentorId, mentorAreas) {
      this.showRequestModal = false;
      this.selectedId = mentorId;
      this.mentorAreas = mentorAreas;
      this.showRequestModal = true;
    },
  },
};
</script>
