<template>
  <div>
    <section class="inner_wrap blog">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2 class="big_title">Blog</h2>
            <p>A list of our publications and articles.</p>
          </div>
        </div>
      </div>
    </section>
    <section id="events_body">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="blog_wrap">
              <div class="row" v-if="posts.length == 0">
                <div style="text-align: center">
                  <h2>
                    There are no blog posts. Check back in later for recent
                    posts and news.
                  </h2>
                </div>
              </div>
              <div class="row" v-else>
                <div
                  class="col-lg-3 col-md-6"
                  v-for="(post, index) in posts"
                  :key="index"
                  @click="showSinglePost(post)"
                >
                  <a>
                    <div class="event-item">
                      <div class="image">
                        <img :src="setPic(post.media)" />
                      </div>
                      <div class="info">
                        <p class="date">
                          <span class="month">{{
                            post.created_at | moment('from', 'now')
                          }}</span>
                          <!-- <br /> -->
                          <!-- <span class="day">27</span> -->
                        </p>
                        <h2 class="name">{{ post.title }}</h2>
                        <el-tag size="small">{{ post.category.name }}</el-tag>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <!-- <span class="load_more_btn"><a href="">Load More</a></span> -->
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import postsService from '../api/posts';

export default {
  name: 'Blogs',
  data: () => ({
    posts: [],
  }),
  created() {
    this.getPosts();
  },
  methods: {
    getPosts() {
      postsService
        .getPosts()
        .then((response) => {
          this.posts = response.posts;
        })
        .catch((errors) => this.errorMessage('Error', errors.message));
    },
    showSinglePost(post) {
      this.$router.push({
        path: '/single-blog-news',
        query: { id: post.id, title: post.title },
      });
    },
  },
};
</script>
