<template>
  <div>
    <section class="inner_wrap blog_inner">
      <div class="container">
        <div class="row">
          <div class="article-reading-wrapper">
            <div class="article-reading-container-box1 reading_container">
              <h3 class="article-reading-title">
                {{ post.title }}
              </h3>

              <div class="article-share">
                <div class="date__post">
                  <span class="post__date"
                    ><a href="" class=""
                      ><i class="far fa-calendar-alt"></i
                      >{{ post.created_at | moment('MMMM Do YYYY') }}</a
                    ></span
                  >
                </div>

                <div class="article-share-social">
                  <p class="share-name">Share</p>
                  <a href="" class="">
                    <span class="facebook"
                      ><i class="fab fa-facebook-f"></i
                    ></span>
                  </a>
                </div>
              </div>

              <div class="article-reading-image" style="position: relative;">
                <img :src="setPic(post.media)" />
                <span class="image_caption">{{ post.sub_content }}</span>
              </div>
              <div class="article-reading-content">
                <div class="article-reading-summary">
                  <p v-html="post.content"></p>
                </div>
                <!-- <p class="list-article-summary"> Louis van Gaal has been sacked as manager</p> -->
              </div>

              <div class="article-share">
                <p class="source">
                  Author:
                  <a
                    ><span>{{ post.user.name }}</span></a
                  >
                </p>
                <div class="article-share-social">
                  <p class="share-name">Share</p>
                  <a href="" class="">
                    <span class="facebook"
                      ><i class="fab fa-facebook-f"></i
                    ></span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import postsService from '../api/posts';

export default {
  name: 'BlogSingle',
  data: () => ({
    postId: null,
    post: {},
  }),
  created() {
    this.postId = this.$route.query.id;
    this.getPost();
  },
  methods: {
    getPost() {
      postsService
        .getPost(this.postId)
        .then((response) => {
          this.post = response.post;
        })
        .catch((errors) => this.errorMessage('Error', errors.message));
    },
  },
};
</script>
