<template>
  <div>
    <section class="inner_wrap events">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2 class="big_title">Events</h2>
            <p>A list of our past events.</p>
          </div>
        </div>
      </div>
    </section>

    <section id="events_body">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="events_wrap">
              <div class="row" v-if="events.length == 0">
                <div style="text-align: center">
                  <h2>
                    There are no events. Check back in later for recent events.
                  </h2>
                </div>
              </div>
              <div class="row" v-else>
                <div
                  class="col-lg-3 col-md-6"
                  v-for="(event, index) in events"
                  :key="index"
                  @click="showSingleEvent(event)"
                >
                  <a>
                    <div class="event-item">
                      <div class="image">
                        <img :src="setPic(event.image)" />
                      </div>
                      <div class="info">
                        <p class="date">
                          <span class="month">{{
                            event.event_date | moment('from', 'now')
                          }}</span>
                          <!-- <br /> -->
                          <!-- <span class="day">27</span> -->
                        </p>
                        <h2 class="name">{{ event.title }}</h2>
                        <p class="time">
                          <i class="fas fa-clock"></i>{{ event.time }}
                        </p>
                        <div class="options">
                          <span class="category">{{ event.category }} </span>
                          <span class="rate"> {{ event.free }}</span>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import eventsService from '../api/events';

export default {
  name: 'Events',
  data: () => ({
    events: [],
  }),
  created() {
    this.getEvents();
  },
  methods: {
    getEvents() {
      eventsService
        .getEvents()
        .then((response) => {
          this.events = response.events;
        })
        .catch((errors) => this.errorMessage('Error', errors.message));
    },
    showSingleEvent(event) {
      this.$router.push({
        path: '/events-single',
        query: { id: event.id, title: event.title },
      });
    },
  },
};
</script>
