<template>
  <div>
    <section class="inner_wrap event_inner event_details">
      <div class="container">
        <div class="row">
          <div class="article-reading-wrapper">
            <div class="article-reading-container-box1 reading_container">
              <h3 class="article-reading-title">
                {{ event.title }}
              </h3>

              <div class="article-share">
                <div class="date__post">
                  <span class="post__date"
                    ><a href="" class=""
                      ><i class="far fa-calendar-alt"></i
                      >{{ event.event_date | moment('MMMM Do YYYY') }}</a
                    ></span
                  >
                </div>

                <div class="article-share-social">
                  <p class="share-name">Share</p>
                  <a href="" class="">
                    <span class="facebook"
                      ><i class="fab fa-facebook-f"></i
                    ></span>
                  </a>
                </div>
              </div>

              <div class="article-reading-image" style="position: relative;">
                <img :src="setPic(event.image)" />
              </div>
              <div class="article-reading-content">
                <div class="top">
                  <span class="category"
                    ><a
                      href=""
                      class="md-opjjpmhoiojifppkkcdabiobhakljdgm_doc"
                      >{{ event.category }}</a
                    ></span
                  >
                  <div class="">
                    <p class="date">
                      <i class="far fa-calendar-alt"></i>Sat. 21 March 2019
                    </p>
                    <p class="time">
                      <i class="fas fa-clock"></i>{{ event.time }}
                    </p>
                    <p class="venue">
                      <i class="fas fa-map-marker-alt"></i>{{ event.venue }}
                      Center
                    </p>
                    <p class="rate">
                      <i class="fas fa-ticket-alt"></i>Free: {{ event.free }}
                    </p>
                  </div>
                </div>
                <h2 class="des">Description</h2>
                <div class="article-reading-summary">
                  <p v-html="event.content"></p>
                </div>

                <!-- <p class="list-article-summary"> Louis van Gaal has been sacked as manager</p> -->
              </div>

              <div class="article-share">
                <!-- <p class="source"> Author: <a href="" class=""><span>Name</span></a></p> -->
                <div class="article-share-social">
                  <p class="share-name">Share</p>
                  <a href="" class="">
                    <span class="facebook"
                      ><i class="fab fa-facebook-f"></i
                    ></span>
                  </a>
                  <a href="" class="">
                    <span class="twitter"><i class="fab fa-twitter"></i></span>
                  </a>
                  <a href="" class="">
                    <span class="instagram"
                      ><i class="fab fa-instagram"></i
                    ></span>
                  </a>
                  <!--                                         <a href="">
                                            <span class="youtube"><i class="fa fa-youtube-play" aria-hidden="true"></i></span>
                                        </a> -->
                  <a href="" class="">
                    <span class="mail"
                      ><i class="fa fa-envelope" aria-hidden="true"></i
                    ></span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import eventsService from '../api/events';

export default {
  name: 'EventSingle',
  data: () => ({
    eventId: null,
    event: {},
  }),
  created() {
    this.eventId = this.$route.query.id;
    this.getEvent();
  },
  methods: {
    getEvent() {
      eventsService
        .getEvent(this.eventId)
        .then((response) => {
          this.event = response.event;
        })
        .catch((errors) => this.errorMessage('Error', errors.message));
    },
  },
};
</script>
