<template>
  <div>
    <MentorFeedback v-if="isMentor"/>
    <MenteeFeedback v-if="isMentee"/>
  </div>
</template>

<script>
import { mapGetters } from "vuex"
import MentorFeedback from "../components/mentor/MentorFeedback"
import MenteeFeedback from "../components/mentee/MenteeFeedback"

export default {
  name: 'feedback',
  components: {
    MentorFeedback, MenteeFeedback
  },
  computed: {
    ...mapGetters({
      isMentor: 'isMentor',
      isMentee: 'isMentee'
    })
  }
}
</script>