<template>
  <div>
    <Hero />
    <HowItWorks />
    <Purpose />
    <Testimonials />
  </div>
</template>

<script>
import Hero from './sections/Hero';
import HowItWorks from './sections/HowItWorks';
import Purpose from './sections/Purpose';
import Testimonials from './sections/Testimonials';

export default {
  name: 'mainPage',
  components: { Hero, HowItWorks, Purpose, Testimonials },
};
</script>
