<template>
  <div>
    <el-alert
      title="Hope you keeping safe during these COVID-19 times. #staySafe 😀"
      type="success"
      :closable="false"
      effect="dark"
      center
    >
    </el-alert>
    <AuthHeader :user.sync="user" :userLoggedIn="userLoggedIn"></AuthHeader>
    <router-view></router-view>
    <Subscribe v-show="userLoggedIn == false" />
    <Footer />
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import AuthHeader from './sections/AuthHeader';
import Subscribe from './sections/Subscribe';
import Footer from './sections/Footer';

export default {
  name: 'mainPage',
  components: { AuthHeader, Subscribe, Footer },
  computed: {
    ...mapGetters({
      user: 'getUser',
      userLoggedIn: 'userLoggedIn',
    }),
  },
};
</script>
