<template>
  <div>
    <div v-if="isMentor">
      <MentorMenteeHistory />
    </div>

    <div v-if="isMentee">
      <MenteeMentorHistory />
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";

import MentorMenteeHistory from "../components/mentor/MentorMenteeHistory";
import MenteeMentorHistory from "../components/mentee/MenteeMentorHistory";

export default {
  name: "MatchListCard",
  components: {
    MentorMenteeHistory,
    MenteeMentorHistory
  },
  computed: {
    ...mapGetters({
      isMentor: 'isMentor',
      isMentee: 'isMentee'
    })
  },
};
</script>
