<template>
  <div>
    <div style="padding:20px;background:rgb(72, 90, 252);">
      <div class="container">
        <h2 style="font-size:20px; color:white; font-weight:bold;">
          Find mentors and connect
        </h2>
        <p style="font-size:18px; color:white;">
          We have sorted these search results based on relevance to your
          profile. When you see someone who looks like they might be a good fit,
          reach out and send a message!
        </p>
      </div>
    </div>

    <div class="container" style="margin-top: -60px;">
      <el-row type="flex" class="row-bg" justify="end">
        <el-col :span="10">
          <div class="">
            <el-input placeholder="Search" v-model="search"></el-input>
          </div>
        </el-col>
      </el-row>
      <br />
      <div v-if="mentors.length == 0">
        <p>
          No mentors available on platform
          <router-link to="/register?type=Mentor">
            <span>Sign up as a mentor here</span>
          </router-link>
        </p>
      </div>
      <div class="row" v-else>
        <div class="col-md-4" v-for="(mentor, index) in mentors" :key="index">
          <div class="mentor_list">
            <ul>
              <li class="item">
                <a>
                  <div class="row">
                    <div class="col-md-3 col-sm-2">
                      <div class="photo_mentor">
                        <img :src="setProfilePic(mentor.user.pic)" alt="" />
                      </div>
                    </div>
                    <div class="col-md-9 col-sm-10">
                      <div class="info">
                        <p class="name" style="font-size:18px;">
                          {{ mentor.name }}
                        </p>
                        <span style="font-size:12px;"
                          ><b>{{ mentor.country }}</b></span
                        ><br />
                        <span style="font-size:12px;"
                          ><b>{{ mentor.expertise }}</b></span
                        >
                        <br />
                        <span style="font-size:12px;"
                          ><b
                            >Last Actve:
                            {{
                              mentor.user.last_active | moment('from', 'now')
                            }}</b
                          ></span
                        >
                      </div>
                      <hr />
                    </div>
                  </div>
                </a>
                <div>
                  <h2 v-html="bio(mentor.bio)"></h2>
                  <br />
                  <el-row type="flex" justify="space-between">
                    <el-button
                      size="mini"
                      type="primary"
                      plain
                      @click="showRequest(mentor.id, mentor.mentorship_areas)"
                    >
                      Send Request
                    </el-button>
                    <router-link
                      :to="{
                        name: 'user-mentors-profile',
                        params: { id: mentor.id },
                      }"
                    >
                      <el-button size="mini" type="primary" plain
                        >View Profile</el-button
                      >
                    </router-link>
                  </el-row>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div style="text-align: center;margin-top: 10px; padding-bottom:10px;">
        <el-pagination
          background
          @current-change="handleCurrentChange"
          :current-page.sync="currentPage"
          :page-sizes="[20, 50, 100]"
          :page-size="20"
          layout="prev, pager, next, jumper, sizes, total"
          :total="total"
        >
        </el-pagination>
      </div>
      <RequestForm
        :mentorId="selectedId"
        :areas="mentorAreas"
        :showModal="showRequestModal"
      />
    </div>
  </div>
</template>

<script>
import Vue from 'vue';
import mentorService from '../api/mentors';
import RequestForm from '../components/RequestForm';

Vue.use(require('vue-moment'));

export default {
  name: 'Mentors',
  components: { RequestForm },
  data() {
    return {
      mentors: [],
      search: '',
      showRequestModal: false,
      selectedId: null,
      mentorAreas: null,
      currentPage: 1,
      total: 0,
    };
  },
  created() {
    mentorService
      .getMentors()
      .then((response) => {
        this.mentors = response.mentors;
        this.total = response.total;
      })
      .catch((errors) => console.log(errors));
  },
  methods: {
    setProfilePic(pic) {
      if (pic != '') {
        return pic;
      } else {
        return '../assets/img/ben.png';
      }
    },
    bio(bio) {
      let shortBio = bio.substring(0, 100) + '...';
      return shortBio;
    },
    showRequest(mentorId, mentorAreas) {
      this.showRequestModal = false;
      this.selectedId = mentorId;
      this.mentorAreas = mentorAreas;
      this.showRequestModal = true;
    },
    handleCurrentChange(page) {
      this.currentPage = page;
    },
  },
};
</script>
