<template>
  <div class="mentee_mentors">
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="mentor_list">
          <SelectedUser :contacts="selectedContacts" />
        </div>
      </div>

      <div class="col-sm-6 col-md-8">
        <div class="messages_details">
          <p class="name">Chats</p>
          <div class="message_body" id="messageArea">
            <UserMessages
              :messages="conversations"
            />
          </div>
          <div class="send_wrap">
            <MessageForm />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import UserMessages from "../components/UserMessages"

import MessageForm from "../components/MessageForm"
import SelectedUser from "../components/SelectedUser"

export default {
  name: 'messages',
  components: {
    UserMessages, MessageForm, SelectedUser
  },
  data () {
    return {
      conversations: [],
    }
  },
  computed: {
    ...mapGetters({
      user: 'getUser',
      userConversations: 'userConversations',
      selectedContacts: 'selectedContacts'
    })
  },
  mounted() {
    this.$eventbus.$on('added_message', (message) => {
      this.conversations.push(message);
      let element = document.getElementById('messageArea')
      element.scrollTop = element.scrollHeight;
    });

    this.$eventbus.$on('receiving_message', (message) => {
      this.incomingChat(message)
    });
  },
  created() {
    this.conversations = this.userConversations
  },
  watch: {
    'userConversations': function (v) {
      this.conversations = v
    }
  },
  methods: {
    incomingChat (chatMessage) {
      // if the person online is the sender of the message
      if (this.user.id === chatMessage.user_id) {
        if (chatMessage.receiver_id == this.user.id) {
          this.conversations.push(chatMessage)
        } else {
          console.log('Message for some other user i selectects as receiver')
        }
      } else {
        this.conversations.push(chatMessage)
      }
    }
  }
}
</script>