<template>
  <div>
    <MenteeProfile v-if="userType == 'Mentee'" />
    <MentorProfile v-else-if="userType == 'Mentor'" />
  </div>
</template>

<script>
import { mapGetters } from "vuex";

import MenteeProfile from "../components/mentee/MenteeProfile";
import MentorProfile from "../components/mentor/MentorProfile";

export default {
  name: "Profile",
  components: {
    MenteeProfile,
    MentorProfile
  },
  computed: {
    ...mapGetters({
      userType: "userType"
    })
  }
};
</script>
