<template>
  <div>
    <div v-if="userType === 'Mentor'">
      <MentorUserRequests />
    </div>

    <div v-else>
      <MenteeUserRequests />
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";

import MentorUserRequests from "../components/mentor/MentorUserRequests";
import MenteeUserRequests from "../components/mentee/MenteeUserRequests";

export default {
  name: "MatchListCard",
  components: {
    MentorUserRequests,
    MenteeUserRequests
  },
  computed: {
    ...mapGetters({
      userType: "userType"
    })
  },
};
</script>