<template>
  <div>
    <section class="inner_wrap form_wrap registration_wrap">
      <div class="container">
        <div class="row">
          <div class="col-md-10">
            <h2 class="big_title">Welcome {{this.user.name}}</h2>

            <p class="verify_p"><a href="" class="link">
              <router-link to="/profile">
              Please click here to complete your profile.
              </router-link></a>
            </p>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import {mapGetters} from 'vuex'

export default {
  name: 'welcome',
  data: () => ({
    
  }),
  computed: {
    ...mapGetters({
      user: 'getUser',
    }),
  }
}
</script>