<template>
  <div class="form-row">
    <div class="form-group col col-8 col-sm-10">            
      <textarea 
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3" placeholder="Type here"
        v-model="newMessage"
        @keyup.enter="sendMessage"
      >
      </textarea>
    </div>
    <div class="form-group col col-sm-2">           
      <button type="button" class="btn btn-primary red_btn" @click="sendMessage">Send</button>  
    </div>
  </div>
</template>

<script>
import messageService from "../api/messages"
import { mapGetters } from "vuex"

export default {
  name: 'messageForm',
  data () {
    return {
      newMessage: null
    }
  },
  computed: {
    ...mapGetters({
      user: 'getUser',
      receiverId: 'getReceiverId'
    })
  },
  methods: {
    sendMessage () {
      if(!this.newMessage || this.newMessage.trim() === '') {
        return;
      }
      let messageObj = {
        'message': this.newMessage.trim(),
        'receiver_id': this.receiverId
      };
      messageService.addMessage(messageObj)
        .then((response) => {
          this.$eventbus.$emit('added_message', response.message);
        })
        .catch((errors) => this.errorMessage('Error', errors)) 
      this.newMessage = null;
    },
  }
}
</script>