<template>
  <div>
    <el-dialog
      :visible.sync="showModal"
      width="35%">
      <template v-slot:title>
        <h2 style="font-size:15px;">Send Request</h2> <br>
        <h3 style="font-size:12px; margin-top: -18px;">This for will help the mentor understand your request more.</h3>
      </template>
      <el-form
        :model="requestForm"
        :rules="rules"
        ref="requestForm">
        <div class="row" id="mt-10">
          <div class="col-md-12">
            <el-form-item prop="duration">
              <template v-slot:label>Duration</template>
              <el-select
                v-model="requestForm.duration"
                style="width:100%;"
              >
                <el-option label="2 weeks" value="2 weeks"></el-option>
                <el-option label="4 weeks" value="4 weeks"></el-option>
                <el-option label="2 months" value="2 months"></el-option>
                <el-option label="3 months" value="3 months"></el-option>
                <el-option label="6 months" value="6 months"></el-option>
              </el-select>
            </el-form-item>
          </div>
          <div class="col-md-12">
            <el-form-item prop="commencement_date">
              <template v-slot:label>Commencement Date</template>
              <el-date-picker
                type="date"
                placeholder="Start date"
                style="width: 100%;"
                v-model="requestForm.commencement_date"
              >
              </el-date-picker>
            </el-form-item>
          </div>
          <div class="col-md-12">
            <el-form-item prop="location">
              <template v-slot:label>Location</template>
              <el-select
                v-model="requestForm.location"
                filterable
                placeholder="Select your location"
                style="width: 100%;"
              >
                <el-option
                  v-for="item in countries"
                  :key="item.code"
                  :label="item.name"
                  :value="item.name"
                >
                </el-option>
              </el-select>
            </el-form-item>
          </div> <br><br><br>
          <div class="col-md-12">
            <el-form-item prop="description">
              <template v-slot:label>Say something to your mentor?</template>
              <el-input
                type="textarea"
                :rows="3"
                placeholder=""
                v-model="requestForm.description"
              >
              </el-input>
            </el-form-item>
          </div>
        </div>
        <el-form-item style="text-align: right; margin-bottom:-12px;">
          <el-button 
            type="primary" 
            :loading="loading"
            @click="sendMentorRequest()" 
            size="mini">
            Send
          </el-button>
        </el-form-item>
      </el-form>
    </el-dialog>

    <!-- Unauthenticated sign in -->
    <el-dialog
      :visible.sync="showSignInModal"
      :show-close="false"
      width="45%">
      <template v-slot:title>
        <h2 style="font-size:15px;">Sign in required</h2> <br>
        <h3 style="font-size:12px; margin-top: -18px;">Only registered mentees can send requests</h3>
      </template>
      <router-link to="/login">
        <el-button type="primary" plain>SIGN IN</el-button>
      </router-link>
      <br>
      <p>Not a registered user yet?
        <router-link to="/register?type=Mentee">
          <span style="color:blue;">Join GTPA today!</span>
        </router-link>
      </p>
    </el-dialog>
  </div>
</template>

<script>
import {mapGetters} from 'vuex'
import requestService from '../api/requests'
import userService from '../api/users'

export default {
  name: 'requestForm',
  props: ['mentorId', 'areas', 'showModal'],
  data() {
    return {
      showSignInModal: false,
      requestForm: {
        duration: '',
        commencement_date: '',
        description: '',
        mentorship_areas: null,
        location: '',
        mentor_id: null,
        mentee_id: null
      },
      editUserRequest: {
        id: '',
        requests: 0,
        sent_a_request: 0
      },
      rules: {
        description: [
          { min: 15, message: 'Length should be 20 or more characters', trigger: 'blur' }
        ],
        commencement_date: [
          { required:true, message: 'Please choose a date', trigger: ['blur', 'change'] },
        ],
        duration: [
          { required: true, message: 'Duration field is required', trigger: 'blur' }
        ]
      },
      loading: false,
    }
  },
  watch: {
    'showModal': function (v) {
      this.showModal = v
    }
  },
  computed: {
    ...mapGetters({
      countries: "getCountries",
      userLoggedIn: "userLoggedIn",
      mentee: "getMentee",
      user: "getUser"
    }),
  },
  methods: {
    sendMentorRequest () {
      let self = this
      this.loading = true
      this.$refs['requestForm'].validate((valid) => {
        if (valid) {
          self.requestForm.mentor_id = self.mentorId
          self.requestForm.mentorship_areas = self.areas
          if (self.userLoggedIn === true && self.user.type == "Mentee") {
            this.requestForm.mentee_id = this.mentee.id
            requestService.addRequest(self.requestForm)
            .then(() => {
              self.loading = false;
              self.successMessage("Success", "Request sent successfully");
            })
            .catch((errors) => self.errorMessage("error", errors))
          } else {
            self.loading = false;
            self.showModal = false
            self.showSignInModal = true
          }
          
        } else {
          self.loading = false
          return false
        }
      })
    },
    editUserRequestsNumbers () {
      let self = this
      this.editUserRequest.id = this.user.id
      this.editUserRequest.requests++
      this.editUserRequest.sent_a_request = true
      userService.updateUser(this.editUserRequest)
        .then((response) => {
          self.loading = false
          self.$store.dispatch('updateUser', response.user)
        })
        .catch((errors) => {
          self.errorMessage('Errors', 'User requests field failed to update')
          console.log(errors)
        })
    }
  }
}
</script>