<template>
  <div>
    <ul v-if="contacts.length > 0">
      <li class="item" 
        :class="[{active: userActiveStyle(user.id)}]"
        v-for="(user, index) in contacts" :key="index"
      >
        <a @click="selectContactToMessage(user.id)">
          <div class="row">
            <div class="col col-sm-2">
              <div class="photo">
                <img :src="user.pic">
              </div>
            </div>
            <div class="col col-8 col-sm-6">
              <div class="info">
                <p class="name">{{user.name}}</p>
                <p class="name">{{user.email}}</p>
              </div>
            </div>
          </div>
        </a>
      </li>
    </ul>
    <ul v-else>
      <li>No Contacts to message.</li>
    </ul>
  </div>
</template>

<script>
import { mapGetters } from "vuex"

export default {
  name: 'SelectedUser',
  props: ['contacts'],
  computed: {
    ...mapGetters({
      receiverId: 'getReceiverId'
    })
  },
  methods: {
    userActiveStyle (userid) {
      let activeClass = (userid == this.receiverId) ? true : false
      return activeClass
    },
    selectContactToMessage (userId) {
      let userInfo = {
        'id': userId
      }
      this.$store.dispatch('setUserConversations', userInfo).then(() => {
        this.$store.dispatch('setReceiverID', userId)
      }).catch((errors) => this.errorMessage('Errors', errors))
    }
  }
}
</script>