<template>
  <div>
    <div v-if="messages.length > 0">
      <div
        :class="(message.selfMessage) ? 'outgoing_wrap' : 'incoming_wrap'" 
        v-for="message in messages" 
        :key="message.id">
        <p class="message">
          {{message.message}}
        </p>
        <span><br v-show="!message.selfMessage"> <span class="time">{{message.created_at | moment("from","now")}}</span></span>
      </div>
    </div>
    <div v-else>
      <h5>You have no messages, select contact to begin conversation</h5>
    </div>
  </div>
</template>

<script>
import Vue from 'vue'
Vue.use(require('vue-moment'));

export default {
  name: 'UserMessages',
  props: ['messages']
}
</script>