<template>
  <div>
    <section class="inner_wrap form_wrap registration_wrap">
      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <h2 class="big_title">Login</h2>
            <h6>
              Don't have an Account yet ? You can register and sign up as a
              Mentor or Mentee to continue.
            </h6>
          </div>
          <div class="col-md-6">
            <div class="contact_form">
              <el-form :model="loginForm" :rules="rules" ref="loginForm">
                <el-form-item label="Email Address" prop="email">
                  <el-input
                    v-model="loginForm.email"
                    type="email"
                    placeholder="yourname@email.com"
                  ></el-input>
                </el-form-item>

                <el-form-item label="Password" prop="password">
                  <el-input
                    v-model="loginForm.password"
                    type="password"
                    placeholder="*******"
                  ></el-input>
                </el-form-item>
              </el-form>
              <span slot="footer" class="dialog-footer">
                <el-button
                  type="primary"
                  :loading="loading"
                  @click="login()"
                  icon="fas fa-sign-in-alt"
                >
                  Login</el-button
                >
                <span class="forgot_pass"
                  ><a @click="dialogVisible = true">Forgot Password?</a></span
                >
              </span>
            </div>
          </div>
        </div>
      </div>
      <el-dialog
        title="Forgot Passowrd"
        :visible.sync="dialogVisible"
        width="30%"
      >
        <span>Enter you email to set up a new password.</span>
        <el-input
          v-model="loginForm.email"
          type="email"
          placeholder="yourname@email.com"
        ></el-input>
        <span slot="footer" class="dialog-footer">
          <el-button @click="dialogVisible = false">Cancel</el-button>
          <el-button type="primary" @click="dialogVisible = false"
            >Confirm</el-button
          >
        </span>
      </el-dialog>
    </section>
  </div>
</template>

<script>
import authService from '../../api/auth';
import userService from '../../api/users';

export default {
  name: 'Login',
  data() {
    return {
      loginForm: {
        email: '',
        password: '',
      },
      dialogVisible: false,
      rules: {
        email: [
          {
            required: true,
            type: 'email',
            message: 'Please enter valid email',
            trigger: ['blur', 'change'],
          },
          { min: 5, message: 'Length should be 5 or more', trigger: 'blur' },
        ],
        password: [
          { required: true, message: 'Please enter password', trigger: 'blur' },
          {
            min: 6,
            message: 'Length should be 6 or more characters',
            trigger: 'change',
          },
        ],
      },
      loading: false,
    };
  },
  methods: {
    login() {
      let self = this;
      this.loading = true;
      this.$refs['loginForm'].validate((valid) => {
        if (valid) {
          authService
            .authenticate(self.loginForm)
            .then((response) => self.get_user(response))
            .catch((errors) => {
              self.errorMessage('Error', errors.message);
              this.$store.dispatch('loginFailed');
              self.loading = false;
              return false;
            });
        } else {
          self.loading = false;
          return false;
        }
      });
    },
    get_user(response) {
      this.$store.dispatch('login', response);
      authService
        .setUser()
        .then((data) => this.userSuccess(data.user))
        .catch((errors) => {
          this.loading = false;
          this.errorMessage('Errors', errors);
          console.log('errror', errors);
        });
    },
    userSuccess(user) {
      this.$store
        .dispatch('setUser', user)
        .then(() => {
          this.getUserTypeData(user);
        })
        .catch((errors) => {
          this.errorMessage('Errors', errors.message);
        });
    },
    getUserTypeData(user) {
      if (user.type == 'Mentor') {
        this.setMentorData(user.id);
      } else if (user.type == 'Mentee') {
        this.setMenteeData(user.id);
      }
    },
    setMentorData(userId) {
      userService
        .getUserMentor(userId)
        .then((response) => {
          this.loading = false;
          this.$store.dispatch('setMentor', response.mentor);
          this.$router.push('/user-dashboard');
        })
        .catch((errors) => {
          this.errorMessage('Errors', 'User type info failed to fetch');
          this.errorMessage('Errors', errors.message);
        });
    },
    setMenteeData(userId) {
      userService
        .getUserMentee(userId)
        .then((response) => {
          this.loading = false;
          this.$store.dispatch('setMentee', response.mentee);
          this.$router.push('/user-dashboard');
        })
        .catch((errors) => {
          this.errorMessage('Errors', 'User type info failed to fetch');
          this.errorMessage('Errors', errors.message);
        });
    },
  },
};
</script>
