<template>
  <div>
    <section class="inner_wrap form_wrap registration_wrap">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <h2 class="big_title">{{user_type}} Registration</h2>
          <p>Note on what a mentor is capable of doing and some key importance or rules required for mentors
            can be put here. Receive requests and get started in mentoring your first mentee. 
          </p>
        </div>
        <div class="col-md-6">
          <div class="contact_form">
            <p class="form_head">Create New Account</p>
            <p>Some information as to what is expected of the user with regards to what details should be collected on this form.</p>

            <el-form :model="registerForm" :rules="rules" ref="registerForm">
              <el-form-item label="Full Name" prop="name">
                <el-input v-model="registerForm.name" auto-complete="off" placeholder="Please enter name"></el-input>
              </el-form-item>

              <el-form-item label="Email Address" prop="email">
                <el-input v-model="registerForm.email" auto-complete="off" placeholder="yourname@email.com" type="email"></el-input>
              </el-form-item>
              
              <el-form-item label="Password" prop="password">
                <el-input v-model="registerForm.password" type="password"></el-input>
              </el-form-item>

              <el-form-item label="Type" prop="type">
                <el-input v-model="registerForm.type" disabled></el-input>
              </el-form-item>
            </el-form>
            <span slot="footer" class="dialog-footer">
              <el-button type="primary" :loading="loading" @click="submit()">Complete</el-button>
            </span>
          </div>
        </div>
      </div>
    </div>

    <el-dialog 
      title="Set up Account" 
      :visible.sync="welcomeDialogVisible"
      :close-on-click-modal="false"
      :show-close="false"
      width="35%"
    >
      <div class="container">
        <div class="row">
          <div class="col-md-10">
            <h1 class="small_title">Welcome {{ userName }}</h1>

            <p class="verify_p"><a class="link">
              <router-link to="/settings">
                Please click here to complete your profile set-up
              </router-link></a>
            </p>
          </div>
        </div>
      </div>
    </el-dialog>
    </section>
  </div>
</template>

<script>
import authService from '../../api/auth'
import { mapGetters } from 'vuex'

export default {
  name: 'Register',
  data() { 
    return {
      user_type: this.$route.query.type,
      storeData: '',
      loading: false,
      userName: "",
      welcomeDialogVisible: false,
      registerForm: {
        name: '',
        email: '',
        password: '',
        type: this.$route.query.type
      },
      rules: {
        name: [
          { required: true, message: 'Please input name', trigger: 'blur' },
          { min: 3, message: 'Length should be 3 or more', trigger: 'blur' }
        ],
        email: [
          { required:true,  type: 'email', message: 'Please enter valid email', trigger: ['blur', 'change'] },
          { min: 5, message: 'Length should be 5 or more', trigger: 'blur' }
        ],
        password: [
          { required: true, message: 'Please enter password', trigger: 'blur' },
          { min: 6, message: 'Length should be 6 or more characters', trigger: 'change' }
        ]
      },
    }
  },
  computed: {
    ...mapGetters({
      user: 'getUser'
    })
  },
  watch: {
    $route: 'updateRoute'
  },
  methods: {
    updateRoute () {
      this.user_type = this.$route.query.type
      this.registerForm.type = this.$route.query.type
    },
    submit () {
      let self = this
      this.loading = true
      this.$refs['registerForm'].validate((valid) => {
        if (valid) {
          authService.register(self.registerForm)
            .then((response) => {
              this.get_user(response)
            })
            .catch((errors) => {
              this.errorMessage('Error', errors.message)
              this.loading = false
              return false
            })
        } else {
          self.loading = false
          return false
        }
      })
    },
    get_user (response) {
      this.$store.dispatch('login', response)
      authService.setUser()
        .then((data) => this.userSuccess(data.user))
        .catch((errors) => this.errorMessage('Error', errors.message))
    },
    userSuccess (user) {
      this.$store.dispatch('setUser', user)
      this.loading = false
      this.userName = user.name
      this.welcomeDialogVisible = true
    },
  }
}
</script>