/*
Write your variables here. All available variables can be
found in element-ui/packages/theme-chalk/src/common/var.scss.
For example, to overwrite the theme color:
*/

$--color-primary:#2017E0;
$--color-success: #13ce66;
$--color-warning: #f7ba2a;
$--color-danger: #ff4949;
$--color-info: rgb(10, 40, 95);


/* icon font path, required */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";

.el-dialog {
  border-radius: 0.5rem;
  background: #f8f8ff;

  &__header {
    background: #e7e7f9;
    border-radius: 0.5rem;

    span {
      font-size: 1.1rem;
    }
  }

  &__footer {
    padding: 0;
  }
}

.el-alert--success {
  background-color: #576AE6 !important;
}

.el-dropdown-menu__item {
  list-style: none;
  line-height: 35px !important;
  padding: 0 10px !important;
  margin: 0;
  font-size: 14px;
  color: #606266;
  cursor: pointer;
  outline: none;
}